.PartnerSection {
  background: url('../../Images/JoinBg.png') no-repeat center/cover;
}

.DataCount {
  margin-right: 16px;
}

.DataCount:last-child {
  margin-right: 0;
}

.PartnerLogoContainer {
  display: flex;
  justify-content: center;
}

.mobile-break-section {
  margin-right: 16px;
}

.PartnerLogoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 80px;
  border-radius: 14px;
}

.PartnerLogoBox img {
  max-width: 100px;
}

.PartnerLogoBox.GSKImg {
  background: rgb(255 123 32 / 5%);
}

.PartnerLogoBox.AbbottImg {
  background: rgb(1 150 215 / 5%);
}

.PartnerLogoBox.AlkemImg {
  background: rgb(41 87 164 / 5%);
}

.PartnerLogoBox.PractoImg {
  background: rgb(46 55 143 / 5%);
}

.PartnerLogoBox.BlueMedixImg {
  background: rgb(75 175 78 / 5%);
}

.PartnerLogoBox.DrBLalImg {
  background: rgb(149 193 43 / 5%);
}

.PartnerLogoBox.TasMedImg {
  background: rgb(248 150 51 / 5%);
}

.PartnerLogoBox.MedlifeImg {
  background: rgb(255 115 0 / 5%);
}

@media only screen and (min-width: 576px) {
  .DataCount {
    margin-right: 48px;
  }
  .mobile-break-section {
    margin-right: 48px;
  }
  .PartnerLogoBox {
    width: 196px;
    height: 120px;
  }

  .PartnerLogoBox img {
    max-width: 136px;
  }
}

@media only screen and (min-width: 769px) {
  .PartnerLogoBox {
    height: 144px;
    width: 160px;
  }
  .DataCount {
    margin-right: 88px;
  }
  .PartnerLogoContainer {
    display: inline-block;
  }
  .mobile-break-section {
    margin-right: 88px;
  }
}