.HeroSection {
  padding: 64px 0 196px 0;
  margin-top: 96px;
  font-family: 'Quicksand', sans-serif;
  background: url('../../Images/hero_bg.png') no-repeat center/cover;
  background-size: 100% 100%;
}

h5.h5.HeroSubTitle {
  color: #2e3e6a;
}

.HeroTitle span {
  color: #00d3b4;
}

.search-container  {
  width: calc(100vw - 32px);
  height: 54px;
  margin: 54px auto;
  padding: 8px 8px 8px 16px;
  border-radius: 14px;
  border: solid 1px #c3cde4;
  background-color: #f6f8fd;
}

.search-container input  {
  background-color: #f6f8fd;
  width: 100%;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #5b636a;
  border-color: transparent;
  outline: none;
}

.search-container i {
  color: #5b636a;
  opacity: 0.5;
}

.btn.search-btn {
  border-radius: 14px;
  background-color: #674cf3;
  transition: all 0.5s;
}

.btn.search-btn:hover {
  background-image: none;
}

@media only screen and (min-width: 769px) {
  .search-container {
    width: 580px;
  }
}
