.HeroSection {
  padding: 64px 0 196px 0;
  margin-top: 96px;
  font-family: "Quicksand", sans-serif;
  background: url("../../Images/hero_bg@3x.png") no-repeat center/cover;
  background-size: 100% 100%;
}

h5.h5.HeroSubTitle {
  color: #2e3e6a;
}

.HeroTitle span {
  color: #00d3b4;
}

.search-container {
  position: relative;
  width: calc(100vw - 32px);
  height: 56px;
  margin: 54px auto;
  padding: 8px 8px 8px 16px;
  border-radius: 14px;
  border: solid 1px #c3cde4;
  background-color: #f6f8fd;
  transition: 300ms;
}

.search-container input {
  background-color: #f6f8fd;
  width: 100%;
  opacity: 0.5;
  margin: auto 8px auto 12px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #5b636a;
  border-color: transparent;
  outline: none;
}

.search-container input:focus .search-container,
.search-container:hover {
  box-shadow: 0 0 12px 5px rgb(0 0 0 / 5%);
}

.search-container input:not(:placeholder-shown) {
  opacity: 1;
}

.search-container i {
  color: #5b636a;
  opacity: 0.5;
}

.btn.search-btn {
  border-radius: 14px;
  background-color: #674cf3;
  transition: all 0.5s;
  padding: 7px 19px !important;
}

.btn.search-btn:hover {
  background-image: none;
  background-color: #8039db;
  border-color: #8039db;
}

@media only screen and (min-width: 769px) {
  .search-container {
    width: 580px;
  }
}

.search-container .search-results {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  padding: 8px 8px 8px 16px;
  top: 56px;
  left: 0;
  text-align: left;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  /* border: solid 0.5px #dfdfdf; */
}

.search-results div {
  list-style: none;
  margin: 0;
  cursor: pointer;
  /* padding: 5px; */
}

.search-results div:hover {
  /* background-color: #eee !important; */
  /* border-radius: 2px; */
}

.search-result-card {
  padding: 12px 12px !important;
  margin: auto 12px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px #dfdfdf;
  background-color: #ffffff;
}

.search-result-card .details-div .heading {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 7px !important;
  /* width: 26px; */
  height: 15px;
}

.search-result-card .details-div .sub-heading {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #5b636a;
  margin-bottom: 0;
  /* width: 90px; */
  height: 14px;
}

.search-result-card .inventory .pack-size {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: #5b636a;
  margin-bottom: 7px !important;
}

.search-result-card .inventory .price {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.58px;
  text-align: right;
  color: #5b636a;
  margin-bottom: 0;
}
