.sfa-search-dropdown .search-dropdown-label{
  font-family: 'OpenSans-SemiBold';
  color: #6c757d;
  font-size: .75em;
  letter-spacing: .6px;
  padding-bottom: .5em;
}
.sfa-search-dropdown .search-dropdown-label span{
  color: #dc3545;
}
.sfa-search-dropdown .ui.selection.dropdown{
  height: 2.5em;
  min-height: 2.5em !important;
  padding: .78571429em 2.6em .78571429em 1em !important;
  border-color: #6c757d64 !important;
}
.sfa-search-dropdown .ui.selection.active.dropdown {
  box-shadow: none;
}
.sfa-search-dropdown .ui.selection.dropdown .menu{
  margin-top: 0.025em;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #dfdfdf;
}
.sfa-search-dropdown .ui.selection.active.dropdown .menu{
  border: solid 0.5px #dfdfdf !important;
}
.sfa-search-dropdown img{
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: .78571429em;
  right: 1em;
  z-index: 3;
  margin: -.78571429em;
  padding: 1em;
  border-left: solid 0.5px #6c757d96;
}
.sfa-search-dropdown .ui.search.selection.dropdown>input.search {
  line-height: 1em;
  padding: .657em 3.2em .657em 1em;
}
.sfa-search-dropdown .ui.dropdown>.text{
  line-height: 1.15em;
  display: flex;
  color: rgba(0,0,0,.87);
  font-size: .85em;
  letter-spacing: .4px;
  font-family: 'OpenSans-Regular';
  align-items: center;
  text-transform: capitalize;
}
.sfa-search-dropdown .ui.initial-value.dropdown>.text{
  color: #6c757d96;  
  font-size: 0.75em;
  font-family: 'OpenSans-Regular';
  text-transform: capitalize;
}
.sfa-search-dropdown .ui.error.dropdown>.text{
  color: #6c757d96;  
  font-size: 0.75em;
  font-family: 'OpenSans-Regular';
  text-transform: capitalize;
}
.sfa-search-dropdown .ui.selection.dropdown.error{
  background: transparent;
}
.sfa-search-dropdown .ui.selection.dropdown .menu>.item{
  color: #6c757d;
  font-size: 0.9em;
  font-family: 'OpenSans-SemiBold';
  text-transform: capitalize;
  border-bottom: solid 0.5px #dfdfdf99;
  line-height: 1.65em;
  word-wrap: break-word;
}
.sfa-search-dropdown .ui.selection.dropdown .menu>.item:hover{
  color: #1b84e7 !important;
  font-family: 'OpenSans-SemiBold';
}
.sfa-search-dropdown .ui.dropdown .menu .selected.item{
  color: #1b84e7;
}
.sfa-search-dropdown .err-message{
  color: #dc3545;
  margin-top: .5em;
  font-size: .8em;
  font-family: "OpenSans-SemiBold";
  letter-spacing: 0.03em;
}

