.sfa-modal-container .modal-content{
    border-radius: 0.9em !important;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    padding: 2em 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 2em 3.5em; */
}
.sfa-modal-container .modal-content img{
    width: 7.2em;
    height: 7.2em;
    margin: 0 2em 1.5em 2em;
}
.sfa-modal-container .modal-content .sfa-modal-text-container{
    margin-bottom: 1.6em;
    font-family: 'OpenSans-SemiBold';
    color: #6c757d;
    text-align: center;
    font-size: 0.875em;
}
.sfa-modal-container .modal-content .sfa-modal-main-text-container{
    margin-bottom: .7em;
    font-size: 1.75em;
    font-family: 'OpenSans-SemiBold';
    text-align: center;
}
.sfa-modal-container .modal-content .sfa-modal-button-group{
    display: flex;
    justify-content: center;
}
.sfa-modal-container .modal-content .sub-div{
    margin-bottom: 1.6em;
    text-align: center;
}