.spinner-modal .modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}
.spinner-modal .spinner-border{
    width: 2.8em !important;
    height: 2.8em !important;
    border: .275em solid currentColor !important;
    border-right-color: transparent !important;
    color: #1b84e7;
}