.sfa360-textfield .textfield-label{
    font-family: 'OpenSans-SemiBold';
    color: #6c757d;
    font-size: .75em;
    letter-spacing: .6px;
    padding-bottom: .5em;
}
.sfa360-textfield .textfield-label span{
    color: #dc3545;
}
.sfa360-textfield input:focus{
    outline: none;
}
.sfa360-textfield input::-webkit-outer-spin-button,
.sfa360-textfield input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sfa360-textfield input[type=number] {
  -moz-appearance: textfield;
}
.sfa360-textfield input:disabled{
    background: transparent;
}
.sfa360-textfield input{
    min-height: 2.585em !important;
    border-radius: 0.47em;
    border: solid 1px #dfdfdf;
    line-height: 1.5em;
    padding: 0.5em;
    color: #343a40;
    font-family: 'OpenSans-SemiBold';
    width: 100% !important;
    letter-spacing: 0.05em;
}
.sfa360-textfield .plac_holder{
    color: #6c757d;
    opacity: 0.6;
    font-size: 0.9em;
    padding: 0.65em;
}
.sfa360-textfield .err-message{
    color: #dc3545;
    margin-top: .5em;
    font-size: .8em;
    font-family: "OpenSans-SemiBold";
    letter-spacing: 0.03em;
    margin-left: 0;
}