.btn.demo-btn {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 7px 18px;
  opacity: 0.9;
  border: none;
  box-shadow: -1.1px 8.9px 21px 0 rgba(103, 76, 243, 0.1);
}

.WhyLiveSection .card {
  border: none;
  padding: 24px 24px 28px 24px;
  border-radius: 14px;
  box-shadow: -20.8px 12px 79px 0 rgba(16, 66, 97, 0.1);
  background-color: #ffffff;
}

.CardIconHolder {
  width: 56px;
  height: 56px;
  border-radius: 14px;
}

.card.GradientCard {  
  margin-top: 90px;
}

.CardIconHolder.SellerImg {
  background-color: rgb(255 115 0 / 10%);
}

.CardIconHolder.TrackingImg {
  background-color: rgb(76 123 255 / 10%);
}

.CardIconHolder.ReconciliatonImg {
  background-color: rgba(103, 76, 243, 0.2);
}

.CardIconHolder.ManageTeamImg {
  background-color: rgb(255 190 11 / 10%);
}