#whyLive {
  scroll-margin: 100px;
}

.btn.demo-btn {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  /* border-radius: 0.5rem; */
  border-radius: 8px;
  padding: 12px 18px;
  opacity: 0.9;
  border: none;
  background-color: #674cf3 !important;
  border-color: #674cf3 !important;
  transition: 0.3s ease-in-out;
  box-shadow: -1.1px 8.9px 21px 0 rgba(103, 76, 243, 0.1);
}

.btn.demo-btn:hover {
  background-image: none;
  background-color: #4e2df0 !important;
  /* background-color: #8039db; */
  /* border-color: #8039db; */
  border-color: #4e2df0 !important;
  box-shadow: -1.1px 8.9px 21px 0 rgba(103, 76, 243, 0.2);
}

.WhyLiveSection .card {
  border: none;
  padding: 24px 24px 28px 24px;
  border-radius: 14px;
  box-shadow: -20.8px 12px 79px 0 rgba(16, 66, 97, 0.1);
  background-color: #ffffff;
}

.CardIconHolder {
  width: 56px;
  height: 56px;
  border-radius: 14px;
}

.card.GradientCard {
  margin-top: 90px;
}
/* 
.CardIconHolder.SellerImg {
  background-color: rgb(255 115 0 / 10%);
} */

.SellerTrackingCardSection.section-2 {
  margin-top: 111px;
}

.SellerTrackingCardSection .card {
  margin-bottom: 32px !important;
  position: relative;
  transition: 0.3s ease-in-out;
  /* background: linear-gradient(90deg, #000 50%, #fff 50%); */

  /* transition: all .7s ease-out; */
}

.SellerTrackingCardSection .card::after {
  position: absolute;
  content: "";
  top: 0%;
  height: 100%;
  width: 100%;
  left: 0%;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.SellerTrackingCardSection .card .card-body {
  z-index: 1;
}

.SellerTrackingCardSection .card:hover::after {
  /* height: 100%; */
  /* width: 100%; */
  /* top: 0%; */
  /* left: 0%; */
  /* background-color: orange; */
  z-index: 0;
  border-radius: inherit;
}

.SellerTrackingCardSection .card.right-seller:hover::after {
  background-color: rgba(255, 115, 0, 0.9);
}

.SellerTrackingCardSection .card.centralized-tracking:hover::after {
  background: rgba(76, 123, 255, 0.9);
}

.SellerTrackingCardSection .card.card.GradientCard:hover::after {
  background: rgba(103, 76, 243, 0.9);
}

.SellerTrackingCardSection .card.card.manage-team:hover::after {
  /* background: rgba(255, 195, 31, 1); */
  /* background: rgba(253, 220, 129, 1); */
  background: #f5b400;
}

/* Individual card section properties */

.SellerTrackingCardSection .card.right-seller {
  background: #fff;
  /* background: linear-gradient(
    to right,
    rgba(255, 115, 0, 0.9) 50%,
    #ffffff 50%
  ); */
  /* background-size: 210% 100%;
  background-position: bottom right; */
  /* background-image: radial-gradient(
    rgba(255, 115, 0, 0.9),
    rgba(255, 115, 0, 0.9)
  );
  background-position: 50% 50%;
  background-size: 0% 0%;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease-in-out, color 0.25s ease-in-out; */
}

.SellerTrackingCardSection .card.right-seller svg,
.SellerTrackingCardSection .card.right-seller svg g {
  transition: 0.05s ease-in-out;
  transition-property: fill;
  fill: rgba(255, 115, 0, 1);
}

.SellerTrackingCardSection .card.right-seller:hover {
  /* background: rgba(255, 115, 0, 0.9); */
  /* background-color: rgba(255, 145, 71, 1); */
  background-size: 100% 100%;
}

.SellerTrackingCardSection .card.right-seller:hover svg,
.SellerTrackingCardSection .card.right-seller:hover svg g {
  fill: #fff;
}

.SellerTrackingCardSection .card.right-seller .CardIconHolder.SellerImg {
  transition: 0.3s ease-in-out;
  background-color: rgb(255 115 0 / 10%);
}

.SellerTrackingCardSection .card.right-seller:hover .CardIconHolder.SellerImg {
  /* background-color: rgba(255, 115, 0, 0.1) !important; */
  background-color: rgb(255 178 114) !important;
}

/*  */

.SellerTrackingCardSection .card.centralized-tracking {
  /* background: linear-gradient(to right, rgba(76, 123, 255, 0.9) 50%, #fff 50%); */
  /* background-size: 210% 100%;
  background-position: bottom right; */
  background: #fff;
}

/* .SellerTrackingCardSection .card.centralized-tracking:hover {
  background: rgba(76, 123, 255, 0.9);
} */

.SellerTrackingCardSection .card.centralized-tracking svg,
.SellerTrackingCardSection .card.centralized-tracking svg g {
  transition: 0.3s ease-in-out;
  fill: rgba(76, 123, 255, 1);
}

.SellerTrackingCardSection .card.centralized-tracking:hover svg g {
  fill: #fff;
}

.SellerTrackingCardSection
  .card.centralized-tracking
  .CardIconHolder.TrackingImg {
  transition: 0.3s ease-in-out;
  background-color: rgba(235, 240, 254, 1);
}

.SellerTrackingCardSection
  .card.centralized-tracking:hover
  .CardIconHolder.TrackingImg {
  /* background-color: rgb(131, 163, 255) !important; */
  background-color: #85a5ff !important;
}

/*  */
.SellerTrackingCardSection .card.GradientCard {
  /* background: linear-gradient(to right, rgba(103, 76, 243, 0.9) 50%, #fff 50%);
  background-size: 210% 100%;
  background-position: bottom right; */
  background: #fff;
}

/* .SellerTrackingCardSection .card.GradientCard:hover {
  background: rgba(103, 76, 243, 0.9);
} */

.SellerTrackingCardSection .card.GradientCard svg {
  transition: 0.3s ease-in-out;
  fill: rgba(103, 76, 243, 1);
}

.CardIconHolder.ReconciliatonImg {
  transition: 0.3s ease-in-out;
  background-color: rgba(103, 76, 243, 0.2);
}
.SellerTrackingCardSection
  .card.GradientCard:hover
  .CardIconHolder.ReconciliatonImg {
  background-color: rgb(163, 147, 252);
}

.SellerTrackingCardSection .card.GradientCard:hover svg g path {
  fill: #fff;
}

.SellerTrackingCardSection .card.right-seller .CardIconHolder.ReconciliatonImg {
  transition: 0.3s ease-in-out;
  background-color: rgb(255 115 0 / 10%);
}

.SellerTrackingCardSection
  .card.right-seller:hover
  .CardIconHolder.ReconciliatonImg {
  background-color: rgba(255, 115, 0, 0.1) !important;
}

/*  */

.SellerTrackingCardSection .card.manage-team {
  /* background: linear-gradient(to right, rgba(255, 190, 11, 0.9) 50%, #fff 50%);
  background-size: 210% 100%;
  background-position: bottom right; */
  background: #fff;
}

/* .SellerTrackingCardSection .card.manage-team:hover { */
/* background: rgba(255, 190, 11, 0.9); */
/* background: rgba(255, 195, 31, 1); */
/* } */

.SellerTrackingCardSection .card.manage-team svg {
  transition: 0.05s ease-in-out;
  /* fill: rgba(255, 190, 11, 1); */
}

#Path_39086,
#Path_39087,
#Path_39088 {
  fill: rgba(255, 190, 11, 0.3) !important;
}

#Path_39089 {
  fill: rgba(255, 190, 11, 1) !important;
}

.SellerTrackingCardSection .card.manage-team:hover path#Path_39086,
.SellerTrackingCardSection .card.manage-team:hover path#Path_39087,
.SellerTrackingCardSection .card.manage-team:hover path#Path_39088 {
  fill: rgb(255 232 171) !important;
}

.SellerTrackingCardSection .card.manage-team:hover path#Path_39089 {
  fill: white !important;
}

/* .SellerTrackingCardSection .card.manage-team:hover svg g path {
  fill: #fff !important;
} */

.SellerTrackingCardSection .card.manage-team .CardIconHolder.ManageTeamImg {
  transition: 0.3s ease-in-out;
  background-color: rgba(254, 247, 228, 1);
}

.SellerTrackingCardSection
  .card.manage-team:hover
  .CardIconHolder.ManageTeamImg {
  background-color: rgba(253, 220, 129, 1);
}

/* .SellerTrackingCardSection
  .card.manage-team:hover
  .CardIconHolder.ManageTeamImg {
  background-color: rgba(255, 115, 0, 0.1) !important;
} */

/*  */

.SellerTrackingCardSection .card:hover {
  /* background-position: bottom left; */
  color: #fff !important;
  box-shadow: -20.8px 12px 79px 0 rgba(16, 66, 97, 0.3);
}

.SellerTrackingCardSection .CardSubtitle,
.SellerTrackingCardSection .body-copy {
  transition: 0.3s ease-in-out;
}

.WhyLiveSection .body-copy {
  font-weight: 600 !important;
}

.SellerTrackingCardSection .card:hover .CardSubtitle {
  font-family: Quicksand;
  /* font-weight: 600 !important; */
  color: #ffffff;
}
.SellerTrackingCardSection .card:hover .body-copy {
  font-family: Quicksand;
  font-weight: 600 !important;
  color: #e8eef2;
}

.whyLiveSectionTitle {
  margin-top: -96px;
  margin-right: 2rem !important;
}
