.schedule-demo-modal {
  width: 640px !important;
}

.schedule-demo-modal > .modal-content {
  border-radius: 14px;
  width: 640px !important;
  border: none !important;
}

.schedule-modal-body {
  padding: 0px !important;
  color: white !important;
}

.schedule-modal-body .header-image {
  position: relative;
}

.schedule-modal-body .header-image h6 {
  position: absolute;
  top: 20px;
  left: 56px;
  font-family: Quicksand;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.schedule-modal-body .header-image p {
  position: absolute;
  top: 44px;
  left: 56px;
  font-family: Quicksand;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.schedule-form {
  font-family: Quicksand;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.17 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #5b636a !important;
}

.schedule-form:focus {
  outline: none !important;
  box-shadow: 0 0 3px 1px #c3cde4 !important;
}

.schedule-form-checkbox {
  color: #0d1321;
  display: flex !important;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
}

.schedule-form-checkbox input {
  width: 24px;
  height: 24px;
  opacity: 0.49;
  border: solid 1px #5b636a;
  border-radius: 6px !important;
  background-color: #674cf3;
}

.schedule-input-group {
  border-radius: 6px;
  border: 1px solid rgb(195, 205, 228);
  width: 255.5px;
  height: 44px;
  border-radius: 6px;
}

.schedule-input-group > input {
  margin: 0 !important;
  height: 42px;
}

.schedule-input-group > input {
  outline-width: none !important;
}

.schedule-input-group .input-group-text,
.schedule-input-group input {
  border: none !important;
}

.schedule-input-group input:focus {
  border: none !important;
}

.schedule-form-checkbox label {
  margin-left: 1rem;
  font-size: 10px;
}

.close-btn {
  border-radius: 6px;
  background-color: rgba(195, 205, 228, 0.2);
  font-family: Quicksand;
  font-size: 14px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #2e3e6a !important;
}

.description-row-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.description-row-header label {
  color: #0d1321;
  font-size: 12px;
  font-weight: 600;
}

.span-required-red {
  color: #ef2b4a !important;
}

.span-blue-green {
  color: #2ec4b6 !important;
}

.demo-2 {
  position: relative;
}

.sample-input-img {
  position: absolute;
  top: 1px;
  color: white;
  border-right: 1px solid #c3cde4;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(246, 248, 253);
  padding: 9px 11px;
}

.sample-input-img.shop,
.sample-input-img.smartphone {
  left: 16px;
}

.sample-input-img.user,
.sample-input-img.pincode {
  left: 9px;
}

.sample-input-text:focus {
  outline: none !important;
  box-shadow: 0 0 3px 1px #c3cde4;
}

.sample-input-text {
  height: 44px;
  width: 100%;
  padding: 14px 15px 14px 50px;
  border-radius: 6px;
  border: solid 1px #c3cde4;
  background-color: white !important;

  font-family: Quicksand;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.17 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #5b636a !important;
}
