.schedule-demo-modal {
  width: 640px !important;
}

.schedule-demo-modal > .modal-content {
  border-radius: 14px;
  width: 640px !important;
}

.schedule-modal-body {
  padding: 0px !important;
  color: white !important;
}

.schedule-modal-body .header-image {
  position: relative;
}

.schedule-modal-body .header-image h6 {
  position: absolute;
  top: 20px;
  left: 56px;
  font-family: Quicksand;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.schedule-modal-body .header-image p {
  position: absolute;
  top: 44px;
  left: 56px;
  font-family: Quicksand;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.schedule-form {
  font-family: Quicksand;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.17 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #5b636a !important;
}

.schedule-form-checkbox {
  color: #0d1321;
  display: flex !important;
  align-items: center;
  margin-top: 1rem;
}

.schedule-form-checkbox input {
  width: 24px;
  height: 24px;
  opacity: 0.49;
  border: solid 1px #5b636a;
  border-radius: 6px !important;
  background-color: #674cf3;
}

.schedule-form-checkbox label {
  margin-left: 1rem;
  font-size: 10px;
}

.close-btn {
  border-radius: 6px;
  background-color: rgba(195, 205, 228, 0.2);
  font-family: Quicksand;
  font-size: 14px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #2e3e6a !important;
}
