.LetsStartSectionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - 32px);
  height: 320px;
  margin: 136px auto 148px;
  border-radius: 14px;
  box-shadow: -35.5px 20.5px 79px 0 rgba(103, 76, 243, 0.3);
  background: url('../../Images/LetsStartBG.png') no-repeat center/cover;
}

.btn.demo-card-btn {
  margin: 0 auto;
  width: 168px;
  height: 48px;
  box-shadow: -1.1px 8.9px 21px 0 rgba(103, 76, 243, 0.1);
  background-image: linear-gradient(111deg, #ef2b4a -5%, #ff7b20 113%);
}

.purple-blob2 {
  width: 200px;
  height: 220px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0px;
  background: url('../../Images/Blob2.png') no-repeat center/cover;
}

.orange-circle {
  width: 48px;
  height: 48px;
  background-color: #f9e7cf;
  position: absolute;
  top: -90px;
  right: 120px;
  border-radius: 50%;
}

.green-circle {
  width: 256px;
  height: 256px;
  background-color: rgb(0 211 180 / 20%);
  position: absolute;
  bottom: -90px;
  right: 0px;
  border-radius: 50%;
}


@media only screen and (min-width: 769px) {
  .LetsStartSectionCard {
    width: 896px;
    height: 320px;
    margin: 136px auto 148px;
  }
  .green-circle {
    right: -72px;
  }
  .purple-blob2 {
    left: -120px;
    width: 384px;
    height: 415px;  
  }
}