.profilebackgrounddoc{
background-image: url(../images/doctor_background.png);
    background-repeat: no-repeat;
    width: 12em;
    height: 12em;
    position: relative;
    float: left;
}
.greendotdoc {
  width: 12px;
  height: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #ffffff;
  background-color: #1caf9a;
  border-radius: 50%;
  position: absolute;
  top: calc(100% - 9.59em);
  right: calc(100% - 9.95em);
  z-index: 2;
}

.docprofile {
  width: 152.8px;
  height: 168px;
  padding: 28px 40.8px 39.1px 40px;
  object-fit: contain;
}
.profilediamond {
  position: absolute;
  top: calc(100% - 6em);
  right: calc(100% - 1.3em);
}
.docseparation{
  border-right: 1px solid #e4eaf1;
  height: calc(100% - 0.59em)
}
.docrowseparation{
  margin-top: 8px;
  margin-bottom: 8px;
}
.doclocation {
  margin: 8px 78.6px 27.5px 8.8px;
  font-family: opensans-semibold;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  color: #1b84e7;
}
.doctordob{
  width: 224px;
  height: 40px;
}
.reqistrationnumber{
  width: 224px !important;
}
.businessheading{
    margin: 0 95px 24px 15.8px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    /* text-align: center; */
    font-family: opensans-semibold;
}
.spousedob{
  width: 165px;
}
.adddaybutton{
  margin-left: calc(100% - 13em) !important;
  padding: 4px 15px 4px 6px;
  border-radius: 4px;
  border: solid 1px #1b84e7;
  margin: 3px 0 2px 5px;
  font-family: opensans-semibold;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  color: #1b84e7;
}
.adddayplus{
  width: 18px;
}
.medicineimg{
  width: 13px;
}
.docproductrow{
  margin-left: 12px !important;
}
.marginem{
  margin-top: 1em !important;
}
.docproductrowpad{
  padding: 11px 40px 0px 14px;
}
.doctornextbtn{
  width: 64px;
  height: 40px;
  opacity: 0.5;
  border-radius: 5px;
  background-color: #00b7b7;
  border: white;
  color: white;
  font-family: opensans-semibold;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.newdoctorformrow {
  padding: 1.5em 0em 2em 0em;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  display: inline-block;
  margin-bottom: 1em;
  width:100% !important;
}
.newdoctorformrow2{
  border-bottom: 2px solid #eeee;
}
.mandatdetails{
  margin: 0px 0px 20px 20px !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.96px;
  color: #343a40;
  font-family: opensans-semibold;
}
.doctorformmargin{
  margin: 20px;
}
.visitrow{
  background-color: #f8f9fa;
  margin: 0px 0px 0px 0px;
  padding: 15px 11px 12px 0px;
  border: solid 1px #f1f1f1;
}
.margin0{
  margin: 0px !important;
}
.newdoctorformnextbtn{
  margin-top: 2em;
  float: right;
  margin: 32px 24px 0 15px;
}
.defaultpagination{
    border-radius: 50% !important;
    margin: 0.4em;
    font-size: .875em;
    width: 2em;
    height: 2em;
    padding: 0;
    text-align: center;
    transition: .5s;
    border: 0px;
    color: #1d1b1b;
    line-height: 2.1;
    border: black;
    border: solid 1px #dfdfdf;
    background-color: #f8f9fa;
}
.activepagination{
  border-radius: 50% !important;
    margin: 0.4em;
    font-size: .875em;
    letter-spacing: 1.68px;
    width: 2em;
    height: 2em;
    padding: 0;
    text-align: center;
    transition: .5s;
    background-color: #1b84e7;
    border: 0px;
    color: #fff;
    line-height: 2.1;
}
.paginationrow{
  margin-left: 2em;
}
.marginof{
  margin: 0.4em;
}
.page2buttonmargin{
  margin-top: 2.5em;
}
.submitrequestbtn{
  color: #fff;
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    border: none;
    font-family: opensans-regular;
    font-size: .875em;
    letter-spacing: 1.68px;
    opacity: .9;
    transition: .2s all;
    padding: 11px 16px 10px;
}
.doccancelbtn{
  color: #dc3545;
    border: none;
    font-family:opensans-semibold;
    font-size: .875em;
    letter-spacing: 1.68px;
    opacity: .9;
    transition: .2s all;
    padding: 11px 16px 10px;
    background-color: #ffff;
    border-color: #dc3545;
    border-radius: 5px;
    border: solid 1px #dc3545;
}
.prevbtn{
  opacity: 0.5;
  border-radius: 5px;
  border: solid 1px #6c757d;
  background-color: #fff;
  color: #6c757d;
  width: 89px;
  height: 41px;
}
.previousbtnrow{
  margin-left: 3em;
}
.gradecolor{
  color: #1b84e7;
  border: solid 1px #1b84e7
}
.visittablehead{
  font-family: "OpenSans-semibold";
    font-size: 12.5px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.6px;
    color: #6c757d;
}
.visittable{
    width: 75%;
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
    margin-right: 2em;
    margin-left: 3em;
    margin-top: 2em;
}
.visittablecell{
  padding: 35px 0px 0px 0px;
    font-family: 'OpenSans-SemiBold';
    line-height: 1.33;
    letter-spacing: 0.9px;
}
.editbackground{
    float: right;
    background-color: #eee;
    width: 3em;
    height: 3em;
    border-radius: 35px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    margin-top: -3em;
    margin-right: 1em;
}
.editicondoctor{
    height: 1.5em;
    object-fit: contain;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.loadbtn{
  margin-top: 3.8em;
    margin-left: 1px;
    width: 75px;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    height: 2.7em;
    margin-bottom: 1.5em;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}
.doctor-request-tab.nav-tabs .nav-link{
  border:0;
}
.doctor-request-tab.nav-tabs .nav-link:hover,
.doctor-request-tab.nav-tabs .nav-link:active,
.doctor-request-tab.nav-tabs .nav-link:focus{
  border:0;
}
.doctor-request-tab.nav-tabs .nav-link.active,
.doctor-request-tab.nav-tabs .nav-link.active:hover,
.doctor-request-tab.nav-tabs .nav-link.active:focus,
.doctor-request-tab.nav-tabs .nav-link.active:active{
  border: 0;
  background-color: #f8f9fa;;
  border-top: 5px solid #1b84e7;
  height: 60px;
}
.doctor-request-tab.nav-tabs{
  transition: .2s;
  /* padding: 0 1.5em; */
}
.doctor-request-tab.nav-tabs .nav-item{
  font-size: 16px;
  font-family: "OpenSans-Semibold";
  padding: 1.3em 0em;
  letter-spacing: 1.56px;
  margin-bottom: -2px;
  color: #343a40;
  line-height: 1.1;
  margin-right: 1.6em;
  padding: 14px;
}
.add-new-doctor{
  position: fixed;
  height: 4em;
  width: 4em;
  right: 3.5em;
  bottom: 2.2em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: #1b84e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
/*    z-index: 100;*/
  animation: zoominout 2s infinite ;
  cursor: pointer;
}
.add-new-doctor img{
  height:1.5em;
  width: 1.5em;
}
.doctorphoto{
  background-image: url(../images/doctor_background.png);
    background-repeat: no-repeat;
    width: 205px;
    height: 15em;
    padding: 0px;
}
.doctorplus{
  margin-left: 70px;
  margin-top: 4em;
}
.doctoraddphoto{
  margin: 10px 12px 10px 45px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.96px;
  /* text-align: center; */
  color: #1b84e7;
}
/* .datepickerAligment.controls.text-right.input-group.doctorlistdatepicker .react-datepicker__tab-loop{
  display: none;
} */
.datepickerAligment.controls.text-right.input-group.doctorlistdatepicker .react-datepicker__tab-loop{
  display: none;
}
.datepickerAligment.controls.text-right.input-group.doctorlistdatepicker .react-datepicker-ignore-onclickoutside{
  text-indent: -9999em;
  text-shadow: 9999em 0 0 #000;
}