@media (min-width: 350px) and (max-width: 767px) {
  .greendotdoc {
    top: calc(100% - 10.59em) !important;
    right: calc(100% - 12.95em) !important;
}
.profilebackgrounddoc {
  width: unset !important;
  height: unset !important;
}
.profilediamond {
  top: calc(100% - 5em) !important;
  right: calc(100% - 2.3em) !important;
}
.previousbtnrow{
  margin-left: 0em !important;
  margin-top: 1em !important;
}
}
