.expense-details-dashscroll{
    overflow-y: hidden;
}
.print-expense-details .print-table-card{
    border: solid 1px #d4d9de;
    max-height: 70vh;
    overflow: auto;
}
.print-expense-details .expense-details-btn-grp{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.print-expense-details .expense-details-btn-grp .cancel-button-container{
    margin-right: 0.75em;
}
.print-expense-details .expense-details-btn-grp .cancel-button{
    border-radius: 0.32em;
    background-image: linear-gradient(to right, #df5a4b, #dc3545);
    border: none;
    height: 2.5em;
    min-width: 6.5em;
}
.print-expense-details .expense-details-btn-grp .cancel-button .cancel-btn-text{
    font-family: 'OpenSans-SemiBold';
    font-size: 0.875em;
    letter-spacing: 0.105em;
    color: #ffffff;
}
.print-expense-details .expense-details-btn-grp .submit-button{
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    border-radius: 0.32em;
    border: none;
    height: 2.5em;
    min-width: 6.5em;
}
.print-expense-details .expense-details-btn-grp .submit-button .submit-btn-text{
    font-family: 'OpenSans-SemiBold';
    font-size: 0.875em;
    letter-spacing: 0.105em;
    color: #ffffff;
}
.expense-tooltip{
    color: #ffffff;
    background: black;
    border: 0.05em solid black;
    font-family: "OpenSans-SemiBold";
    font-size: 0.8em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}