.ece-template .expense-details-datatable{
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    background: #ffffff;
    max-height: 45em;
    margin-bottom: 1.25em;
}
.ece-template .expense-details-datatable .main-heading{
    padding: 1.25em 1.5em 0 0;
    display: flex;
}
.ece-template .expense-details-datatable .main-heading .claim-heading{
    display: flex;
    color: #343a40;
    width: calc(100% - 3.15em);
    justify-content: space-between;
    flex-wrap: wrap;
}
.ece-template .expense-details-datatable .main-heading .heading-1{
    padding: 0 0 1.9375em 1.5em;
    font-family: 'OpenSans-Bold';
    letter-spacing: 0.05em;
}
.ece-template .expense-details-datatable .main-heading .heading-2{
    letter-spacing: 0.0975em;
    display: flex;
    flex-wrap: wrap;
    font-family: 'OpenSans-Regular';
    padding: 0 0 1.9375em 1.5em;
}
.ece-template .expense-details-datatable .sunday-container,
.ece-template .expense-details-datatable .leave-container,
.ece-template .expense-details-datatable .holiday-container{
    display: flex;
    align-items: center;
}
.ece-template .expense-details-datatable .sunday-container .image{
    background: #f4991766;
    height: 0.75em;
    width: 0.75em;
    margin-right: 0.5em;
}
.ece-template .expense-details-datatable .leave-container .image{
    background: #dc354566;
    height: 0.75em;
    width: 0.75em;
    margin: 0 .5em;
}
.ece-template .expense-details-datatable .holiday-container .image{
    background: #00b7b766;
    height: 0.75em;
    width: 0.75em;
    margin: 0 .5em;
}
.ece-template .expense-details-datatable .main-heading .full-screen-image img{
    margin-left: 1.5em;
    width: 1em;
    height: 1em;
}
.ece-template .expense-details-datatable .showEntries{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em 0 0.75em;
}
.ece-template .expense-details-datatable .showEntries .button-options{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.75em;
}
.ece-template .expense-details-datatable .showEntries .entries-text{
    padding: 0 0.35em 0.75em 0.9235em;
    font-size: 0.8125em;
    letter-spacing: 0.0975em;
    font-family: 'OpenSans-Regular';
    color: #343a40;
    /* height: 2.5em; */
    /* display: flex; */
    align-items: center;
}
.ece-template .expense-details-datatable .showEntries .entries-text span{
    font-size: 1.03em;
    font-weight: 700;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button{
    padding-left: 0.75em;
    padding-bottom: 0.75em;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .submit-button{
    height: 2.5em;
    border-radius: 8px;
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    border: none;
}
.ece-template .expense-details-datatable .showEntries .btn-primary:disabled{
    background-image: linear-gradient(to right, #1b84e7, #1515af) !important;
    opacity: 1;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .submit-btn,
.ece-template .expense-details-datatable .showEntries .claim-details-button .save-btn{
    letter-spacing: 0.15em;
    font-family: 'OpenSans-SemiBold';
    font-size: 0.8125em;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .save-button{
    height: 2.5em;
    border-radius: 8px;
    background-color: #00b7b7;
    border: none;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .col-option-button,
.ece-template .expense-details-datatable .showEntries .claim-details-button .claim-export-button,
.ece-template .expense-details-datatable .showEntries .claim-details-button .print-button{
    background: transparent;
    border-radius: 8px;
    border: solid 1px #dfdfdf;
    display: flex;
    align-items: center;
    height: 100%;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .col-option-button img,
.ece-template .expense-details-datatable .showEntries .claim-details-button .claim-export-button img,
.ece-template .expense-details-datatable .showEntries .claim-details-button .print-button img{
    padding-right: 0.6em;
}
.ece-template .expense-details-datatable .showEntries .claim-details-button .col-option-button,
.ece-template .expense-details-datatable .showEntries .claim-details-button .claim-export-button,
.ece-template .expense-details-datatable .showEntries .claim-details-button .print-button{
    font-size: 0.875em;
    color: #343a40;
    font-family: 'OpenSans-Regular';
}
.ece-template .expense-claim-detail-datatable{
    overflow-x: auto !important;
}
.ece-template .expense-claim-detail-datatable table,
.ece-template .other-expense-table table{
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    position: relative;
}
.ece-template .expense-claim-detail-datatable thead,
.ece-template .other-expense-table thead{
    width: 100%;
    /* border: solid 1px #f1f1f1; */
    background-color: #f8f9fa;
}
.ece-template .expense-claim-detail-datatable tr th,
.ece-template .other-expense-table tr th{
    font-family: "OpenSans-Bold";
    color: #343a40;
    padding: 0.625em 0.625em;
    height: 3em;
    font-size: 1em;
    text-align: left;
    position: sticky;
    background: #f8f9fa;
    top: 0;
    bottom: 0;
    z-index: 50;
}
.ece-template .expense-claim-detail-datatable tbody .sunday-row{
    background: #f499171A;
}
.ece-template .expense-claim-detail-datatable tbody .leave-row{
    background: #dc35451A;
}
.ece-template .expense-claim-detail-datatable tbody .holiday-row{
    background: #00b7b71A;
}
.ece-template .expense-claim-detail-datatable tr th .header-container,
.ece-template .other-expense-table tr th .header-container{
    display: flex;
    justify-content: flex-start;
    font-size: 0.875em;
    text-transform: capitalize;
}
.ece-template .expense-claim-detail-datatable tr .extra-padding,
.ece-template .other-expense-table tr .extra-padding{
    padding-left: 1.5em !important;
}
.ece-template .expense-claim-detail-datatable tfoot{
    background-color: #f8f9fa;
}
.ece-template .expense-claim-detail-datatable tfoot tr .total{
    color: #1b84e7;
}
.ece-template .expense-claim-detail-datatable thead tr .date{
    min-width: 6.3em;
}
.ece-template .expense-claim-detail-datatable thead tr .doc,
.ece-template .expense-claim-detail-datatable thead tr .stk,
.ece-template .expense-claim-detail-datatable thead tr .che{
    min-width: 3.65em;
}
.ece-template .expense-claim-detail-datatable thead tr .area-visited{
    min-width: 12.85em;
}
.ece-template .expense-claim-detail-datatable thead tr .stayed-at{
    min-width: 8.35em;
}
.ece-template .expense-claim-detail-datatable thead tr .work-type{
    min-width: 4.9em;
}
.ece-template .expense-claim-detail-datatable thead tr .visit-type{
    min-width: 4.4em;
}
.ece-template .expense-claim-detail-datatable thead tr .distance{
    min-width: 3.9em;
}
.ece-template .expense-claim-detail-datatable thead tr .worked-with{
    min-width: 7em;
}
.ece-template .expense-claim-detail-datatable thead tr .ta,
.ece-template .expense-claim-detail-datatable thead tr .da{
    min-width: 5.5em;
}
.ece-template .expense-claim-detail-datatable thead tr .ta-approved,
.ece-template .expense-claim-detail-datatable thead tr .da-approved{
    min-width: 5.4em;
}
.ece-template .expense-claim-detail-datatable thead tr .remarks{
    min-width: 8.5em;
}
.ece-template .expense-claim-detail-datatable tbody tr,
.ece-template .other-expense-table tbody tr{
    border-bottom: solid 0.5px #6c757d66;
}
.ece-template .expense-claim-detail-datatable tbody tr td{
    padding: 0.625em 0.625em;
    font-family: 'OpenSans-SemiBold';
    color: #6c757d;
    text-align: left;
}
.ece-template .other-expense-table tbody tr td{
    padding: 0.625em 0.625em;
    font-family: 'OpenSans-SemiBold';
    color: #6c757d;
    text-align: left;
}
.ece-template .expense-claim-detail-datatable tbody .body-content,
.ece-template .other-expense-table tbody .body-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 2.6em;
    font-size: 0.75em;
    text-transform: capitalize;
    line-height: 1.75em;
    word-break: break-all;
    /* cursor: pointer; */
}
.ece-template .expense-claim-detail-datatable tbody .sunday-date{
    color: #f49917;
}
.ece-template .expense-claim-detail-datatable tbody .leave-date{
    color: #dc3545;
}
.ece-template .expense-claim-detail-datatable tbody .holiday-date{
    color: #00b7b7;
}
.expense-claim-dropdown.single-selection{
    width: 100%;
}
.expense-claim-dropdown.single-selection .main-container{
    width: 100%;
    height: 2.585em;
    display: flex;
    border-radius: 0.47em;
    border: solid 1px #dfdfdf;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
    cursor: pointer;
}
.expense-claim-dropdown.single-selection .exp-menu-list{
    background: #ffffff;
    border-radius: 0.47em;
    border: solid 1px #dfdfdf;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    margin-top: 0.25em;
    max-height: 7.5em;
    overflow-y: scroll;
    cursor: pointer;
}
.expense-claim-dropdown.single-selection .exp-menu-item{
    height: 2.5em;
    display: flex;
    align-items: center;
    padding-left: .5em;
}
.expense-claim-dropdown.single-selection .exp-menu-item:hover{
    background: rgba(0,0,0,.05);
    color: #1b84e7 !important;
    font-family: 'OpenSans-SemiBold';
}
.expense-claim-dropdown.single-selection .text-place{
    padding-right: 0.5em;
}
.expense-input-field{
    width: 100%;
}
.expense-input-field input[type=number]{
    max-width: 12em;
    width: 100%;
    min-width: 5em;
}
.expense-input-field input[type=text]{
    max-width: 16em;
    width: 100%;
    min-width: 8em;
}
.expense-input-field input{
    height: 2.585em;
    border-radius: 0.47em;
    border: solid 1px #dfdfdf;
    padding: 0.5em;
    text-align: left;
    color: #6c757d;
    font-family: 'OpenSans-SemiBold';
}
.error-input .expense-input-field input{
    border: solid 1px #dc3545;
}
.expense-text-area{
    min-height: 2.585em !important;
    border-radius: 0.47em;
    border: solid 1px #dfdfdf;
    resize: none;
    line-height: 1.5em;
    padding: 0.5em;
    color: #6c757d;
    font-family: 'OpenSans-SemiBold';
    width: 100%;
    max-width: 20em;
    min-width: 8em;
}
.expense-text-area:focus{
    outline: none;
}
.expense-input-field input:focus{
    outline: none;
}
.expense-input-field input::-webkit-outer-spin-button,
.expense-input-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.expense-input-field input[type=number] {
  -moz-appearance: textfield;
}
.ece-template .total-expense,
.ece-template .other-expense-total{
    font-size: 0.875em;
    font-family: 'OpenSans-Bold';
    color: #343a40;
    padding: 1.25em 0 0.75em 1.715em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.ece-template .total-expense-content,
.ece-template .other-expenses-total-text{
    margin: 0 1.25em 0.75em 0;
}
.ece-template .total-expense span,
.ece-template .other-expenses-total-text span{
    color: #1b84e7;
}
.ece-template .other-expenses .other-expenses-card{
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 1.625em;
}
.ece-template .other-expenses .other-expenses-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25em 0.75em 0 1.5em;
}
.ece-template .other-expenses .other-expenses-heading .main-text{
    display: flex;
    height: 3.5em;
    align-items: center;
    color: #343a40;
    font-family: "OpenSans-Bold";
    padding-bottom: 1em;
    padding-right: 1.25em;
    letter-spacing: 0.05em;
}
.ece-template .other-expenses .other-expenses-heading .other-expenses-btn-grp{
    display: flex;
    flex-wrap: wrap;
}
.ece-template .other-expenses .other-expenses-heading .other-expenses-btn-grp .other-expense-btn{
    padding: 0 1.25em 1em 0;
}
.ece-template .other-expenses .other-expenses-heading .other-expense-btn .save-button{
    border-radius: 8px;
    background-color: #00b7b7;
    height: 2.5em;
    min-width: 6em;
    border: none;
}
.ece-template .other-expenses .other-expenses-heading .other-expense-btn .save-btn-txt{
    letter-spacing: 0.0975em;
    font-family: "OpenSans-SemiBold";
    font-size: 0.8125em;
    color: #ffffff;
}
.ece-template .other-expenses .other-expenses-heading .other-expense-btn .add-button{
    border-radius: 8px;
    background-color: transparent;
    height: 2.5em;
    min-width: 9.375em;
    border: solid 1px #dfdfdf;
    display: flex;
    align-items: center;
}
.ece-template .other-expenses .other-expenses-heading .other-expense-btn .add-button img{
    padding-right: .5em;
}
.ece-template .other-expenses .other-expenses-heading .other-expense-btn .add-btn-txt{
    letter-spacing: 0.0975em;
    font-family: "OpenSans-Regular";
    font-size: 0.875em;
    color: #343a40;
}
.ece-template .other-expenses .other-expense-table{
    overflow-x: auto;
    width: 100%;
}
.ece-template .other-expenses .other-expense-table thead .action{
    width: 4.5em;
}
.ece-template .other-expenses .other-expense-table thead .category{
    min-width: 8em;
    width: 11em;
    max-width: 14em;
}
.ece-template .other-expenses .other-expense-table thead .amount{
    min-width: 8em;
    width: 11em;
    max-width: 14em;
}
.ece-template .other-expenses .other-expense-table thead .remarks{
    min-width: 10em;
    width: 13em;
    max-width: 16em;
}
.ece-template .other-expenses .other-expense-table thead .app-remarks{
    min-width: 10em;
}
.ece-template .other-expenses .other-expense-table thead .reimbursement-amount{
    min-width: 8em;
}
.ece-template .other-expenses .other-expense-table thead .description-head{
    min-width: 12em;
    width: 15em;
    max-width: 18em;
}
.ece-template .other-expenses .other-expense-table tbody .image-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ece-template .other-expenses .other-expense-table tbody .image-container img{
    width: 0.9375em;
    height: 1.125em;
}
.ece-template .other-expenses .amt-summary{
    width: 30em;
    max-width: 100%;
    margin: 0 1em 1em 0;
}
.ece-template .amount-summary-container{
    display: flex;
    flex-wrap: wrap;
}
.ece-template .other-expenses .amt-summary-heading{
    color: #414141;
    font-size: 1em;
    font-family: "OpenSans-Bold";
    padding-bottom: 1em;
    text-transform: uppercase;
}
.ece-template .other-expenses .amt-summary-card{
    border: solid 1px #f1f1f1;
    width: 100%;
    padding-top: 1em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.ece-template .other-expenses .amt-summary-card .amt-summary-text{
    display: flex;
    justify-content: space-between;
    padding: 0 1.875em 1em 1.3125em;
}
.ece-template .other-expenses .amt-summary-card .amt-summary-text .total-oth-exp-text{
    font-size: 0.875em;
    color: #000000;
    font-family: 'OpenSans-Regular';
    padding-right: 1.5em;
}
.ece-template .other-expenses .amt-summary-card .amt-summary-text .amt-sum-value{
    font-size: 0.875em;
    color: #190e0d;
    font-family: 'OpenSans-SemiBold';
}
.ece-template .other-expenses .total-reimb-amt{
    border: solid 1px #f1f1f1;
    background: #f8f9fa;
    font-family: "OpenSans-Bold";
    height: 2.5em;
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875em 0 1.3125em;
    color: #000000;
}
.ece-template .upload-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25em;
}
.ece-template .upload-button .upload-btn, .ece-template .upload-button .btn-primary:not(:disabled):not(.disabled):active{
    width: 10em;
    height: 2.5em;
    border-radius: 8px;
    border: solid 0.5px #00b7b799;
    background-color: #00b7b799;
    color: #ffffff;
}
.ece-template .upload-button .upload-btn .btn-text{
    font-family: 'OpenSans-SemiBold';
    font-size: 0.8125em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.ece-template .upload-bills{
    border-radius: 8px;
    border: dashed 1px #6c757d66;
    min-height: 36.3em;
    padding-bottom: 1.25em;
    position: relative;
    overflow-y: auto;
}
.ece-template .upload-bills .background-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ece-template .upload-bills .background-container img{
    width: 4em;
    height: 3.5em;
}
.ece-template .upload-bills .background-container .upload-text{
    font-family: 'OpenSans-Regular';
    font-size: 0.8125em;
    color: #6c757d;
    letter-spacing: 0.05em;
    padding-top: 0.3em;
}
.ece-template .upload-bills .upload-bills-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin: 1.25em 0 0 1.25em;
}
.ece-template .upload-bills .add-files-box{
    border-radius: 8px;
    margin: 0 1.25em 1.25em 0;
    border: dashed 1px #343a4066;
    width: 8.875em;
    height: 11.57em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.ece-template .upload-bills .add-files-box .add-files-text{
    letter-spacing: 0.0975em;
    color: #6c757d;
    font-family: "OpenSans-SemiBold";
    font-size: 0.8125em;
    padding-top: 0.5em;
}
.ece-template .upload-bills .add-file-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ece-template .upload-bills label{
    margin: 0;
}
.ece-template .upload-bills .uploaded-image-card{
    width: 8.875em;
    height: 11.57em;
    border-radius: 8px;
    border: solid 1px #d4d9de;
    margin: 0 1.25em 1.25em 0;
}
.ece-template .upload-bills .uploaded-image{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    border: solid 1px #d4d9de;
}
.ece-template .upload-bills .uploaded-image-card .del-img{
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.expense-success-msg{
    font-size: 0.9em;
    font-family: "OpenSans-SemiBold";
    color: #1caf9a;
}
.expense-approval-msg{
    font-size: 1.05em;
    font-family: "OpenSans-SemiBold";
    color: #1caf9a;
    letter-spacing: 0.025em;
}
.date-approval-error{
    font-size: 0.95em;
    font-family: "OpenSans-Regular";
    color: #dc3545;
    margin: 0.5em;
    display: flex;
    justify-content: center;
}
.date-approval-error span{
    font-family: "OpenSans-SemiBold";
}
.fs-name{
    text-transform: capitalize;
}
.ece-modal-button-group .done-button{
    width: 12.5em;
    height: 2.5em;
    background: linear-gradient(to right, #1b84e7 0%, #1515af 100%);
    border-radius: 0.5em;
    border: none;
}
.ece-modal-button-group .ok-claim-btn{
    width: 6.5em !important;
}
.ece-modal-button-group .button-text{
    font-family: "OpenSans-Bold";
    font-size: 0.825em;
    letter-spacing: 0.15em;
}
.expense-approval-sub-div{
    font-family: "OpenSans-Regular";
    font-size: 0.95em;
    color: #343a40;
    padding-top: 1.15em;
}
.ece-template .note-container .expense-text-area{
    max-width: 100%;
    font-family: "OpenSans-Regular";
    color: #343a40;
}
.ece-template .note-container .expense-text-area:disabled{
    background: transparent;
}
.ece-template .note-container{
    padding: 0 1.5em;
}
.ece-template .note-heading{
    color: #343a40;
    font-family: 'OpenSans-Regular';
    letter-spacing: .0525em;
    font-size: 0.875em;
    padding-bottom: 0.5em;
}
.ece-template .note-container .sub-container{
    margin-bottom: 1em;
}
.ece-template .emp-details .row{
    width: 100%;
}
.ece-template .details-employee{
    display: flex;
    letter-spacing: .0525em;
    font-size: 0.875em;
    padding-bottom: 1em;
}
.ece-template .emp-header{
    color: #343a40;
    font-family: 'OpenSans-Regular';
    width: 9em;
}
.ece-template .emp-txt{
    color: #343a40;
    font-family: 'OpenSans-SemiBold';
    text-transform: capitalize;
}
.ece-template .no-setup{
    padding: 1em 0 1em 1.5em;
    font-family: 'OpenSans-SemiBold';
    letter-spacing: 0.05em;
    background-color: #f8f9fa;
}
.limit-text{
    font-family: 'OpenSans-SemiBold';
    font-size: 1.15em;
    color: #343a40;
}
.dcr-list-modal-container .modal_header{
    color: #343a40;
    font-size: 1em;
    font-family: "OpenSans-Bold";
    padding: 1em;
    background-color: #f8f9fa;
    letter-spacing: 0.05em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    border-top: solid 1px #f1f1f1;;
}
.dcr-list-modal-container .modal_body{
    color: #343a40;
    font-family: "OpenSans-SemiBold";
    padding: 1em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dcr-list-modal-container .dcr_modal_txt{
    margin-top: 1em;
    font-size: 1.2em;
}
.war_btn_grp .cancel-button{
    width: 7.5em;
    height: 2.5em;
    margin: 0 0.5em;
    background: linear-gradient(to right, #df5a4b 0%, #dc3545 100%);
    border-radius: 0.5em;
    border: none;
}
.war_btn_grp .ok-button{
    width: 7.5em;
    height: 2.5em;
    margin: 0 0.5em;
    background: linear-gradient(to right, #1b84e7 0%, #1515af 100%);
    border-radius: 0.5em;
    border: none;
}
.war_btn_grp .button-text{
    font-family: "OpenSans-Bold";
    font-size: 0.825em;
    letter-spacing: 0.15em;
    color: #ffffff;
}
.mcr_link:hover{
    color: #4183c4;
    cursor: pointer;
    text-decoration: underline;
}
.date_link:hover{
    color: #4183c4;
    cursor: pointer;
}



