/* =====================================Dashboard Boxs========================================================= */

.monthsummry1 {
    border-radius: 4px;
    background-color: #fff;
    padding: 1.5em 1.15em 1.62em 1.15em;
    margin-right: 1.25em;
    /* border: 1px solid rgba(108, 117, 125,0.1); */
}
.greencircle1 {
    width: 4em;
    height: 4em;
    background-color: rgba(0, 183, 183, 0.1);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 0.75em;
}

.redcircle1 {
    width: 4em;
    height: 4em;
    background-color: rgba(220, 53, 69, 0.1);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 0.75em;
}

.yellowcircle1 {
    width: 4em;
    height: 4em;
    background-color:rgb(244, 153, 23,0.1);
    /* opacity: 0.1; */
    border-radius: 50%;
   margin: auto;
    margin-bottom: 0.75em;
}

.redtext1 {
    font-family: "OpenSans-SemiBold";
    font-size: 0.73em;
    line-height: 0.55;
    color: #dc3545;
    /* padding-top: 1em; */
    margin-top: -5px;
    padding-bottom:1.5em;
}   

.yellowtext1 {
    font-family: "OpenSans-SemiBold";
    font-size: 0.73em;
    line-height:0.6;
    color: #f49917;
    padding-top: 1em;
    padding-bottom:1.62em;
}

.greentext1 {
    font-family: "OpenSans-SemiBold";
    font-size: 0.73em;
    line-height:0.6;
    color: #00b7b7;
    padding-top: 1em;
    padding-bottom:1.5em;
}

.total {
    text-align: center;
    font-size: 13px;
    font-weight: 600;  
}

.million {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.trend {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: OpenSans-SemiBold;
}

.details {
    text-align: center;
    font-size:1em;
    font-weight: 600;
    padding-top: 0px;
    color: #f49917;
    font-family: OpenSans-SemiBold;
}

.averageSalesGraph {
    background-color: #fff;
    margin-top: 20px;
    /* border: 1px solid rgba(108, 117, 125,0.1); */
    border-radius: 8px;
    /* padding: 24px 67px 40px 27px; */
}

.distributorCoverage {
    background-color: #fff;
    margin-top: 26px;
    border-radius: 8px;
    /* margin-left: -21px; */
}

.distributorClaimList {
    background-color: #fff;
    margin-top: 26px;
    /* border: 1px solid rgba(108, 117, 125,0.1); */
    border-radius: 8px;
}

.inventoryManagment {
    background-color: #fff;
    margin-top: 26px;
    /* border: 1px solid rgba(108, 117, 125,0.1); */
    border-radius: 8px;
}

.circleBlueBar1 .CircularProgressbar .CircularProgressbar-path {
    /* stroke: #f49917; */
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.headicon_position p {
    color: #f49917;
    font-weight: 600;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
}

 .s1 {
    color: #dc3545;
    font-weight: 600;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
}

.admindas .form-group .input-group .searchBox {
    border-radius: 15px !important;
    margin-top: -4px;
    font-size: 15px;
}

.bartitle #blue {
    color: #1515af;
    font-size: 13px;
    font-weight: 600;
}

.headicon_position #grey {
    font-size: 13px;
    font-weight: 600;
}
.kaminnercircledash{
    transform: translate(45%, 56%);
}
.nomr0{
    margin-right:0px;
}
.distrubutorRepo{
    color: #343a40;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
    line-height: 0.69;
    letter-spacing: 0.8px;
}
.distributorTotalBlock{
    /* background-color: #1515af; */
    width: 96px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to top left, #43425D 25%, #6C757D 80% );
    /* background-image: linear-gradient(to top right, #43425D 25%, #6C757D 80% ); */
    color: #e9e7ee;
}
.distotal{
    /* color: #e9e7ee; */
   font-size:0.75em;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
    line-height: 0.87;
    padding-top:0.75em;
}
.disAmt{
    /* color: #e9e7ee; */
    font-size:1.06em;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
    line-height: 0.87;
    margin-top:0.18em;
}
.distributorflex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom:1em;
}
.distributorBlueBlock{
    width: 96px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to top left, #1B84E7 25%, #1515AF 80% );
    /* background-image: linear-gradient(to top right, #43425D 25%, #6C757D 80% ); */
    color: #e9e7ee;
    margin-left:16px;
}
.disinactive{
    font-size: 13px;
    color: #f49917;
    line-height: 0.8;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
}
.disInactiveAmt{
    color: #6c757d;
    font-size: 13px;
}
.inactiveamt{
    color:#343a40;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
}
.dispartialactive{
    font-size: 13px;
    color: #1b84e7;
    line-height: 0.8;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
}
.blueprogress-bar{
    height: 4px;
    border-radius: 20px;
    width: 0%;
    background: #1b84e7;
    transition: width 5s, height 4s;
}
.distrubutorDeatils{
    color: #6c757d;
    font-size: 12px;
    line-height: 1.42;
    padding-top:1.06em;
}
.orderAnysys{
    font-size: 13px;
    color: #f49917;
    line-height: 0.8;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
}
.totalorderamt{
    font-size: 27px;
    font-weight: bold;
    line-height: 0.39;
    color: #343a40;
    text-align: center;
    padding:1.2em 0px 1.31em 0px;
}
.totalclaimamt{
    font-size: 13px;
    line-height: 0.8;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
}
.claimcomp{
    font-size: 19px;
    text-align: center;
    line-height: 0.55;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
    padding:0.4em 0em 0.4em 0em;
}
.avgChart{
    padding:0px 50px 40px 0px;
}
.kamActivebar{
    border-top:4px solid #1515af;
    background-color: rgb(21, 21, 175,0.04)
    /* opacity: 0.04; */
}
.KamTable .datatable .table td{
    padding: 0.6em 0em 0.6em 2.28em !important;
}
.avgsalesspan{
    color:#6c757d;
    font-size:13px;
}
.KamTable .other-ops .form-group input{
    border: 1px solid #dfdfdf;
    height: 2.5em;
    background-color: transparent;
    color: #343a40;
    font-size: .875em;
    /* border-radius: 8px !important; */
    margin-right:1.25em;
    margin-bottom: -0.3em;
    /* padding: .275em 1.42em; */
    width: 160px;
   
}
.ptright{
    padding-top:10px;
}
.kfilterBtn{
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    /* margin: 17px 12px 21px 0px; */
    padding: 4px 16px;
    margin-right: 1.25em;
}
.kamDistrActivebar{
    border-top:4px solid #f49917;
}
.distributorBlock{
    padding:1.5em 1em 0px 1.25em;
}
.distrubutorFilter{
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    padding: 4px 16px;
}
.lastMonthTitle{
    padding:1.56em 0px 0px 0px; 
}
.pullleft{
    margin-left:-0.75em;
    padding-right:0px;
}
.KamClaimTable .datatable .table td{
    padding: 0.7em 0em 0.6em 2.28em !important;
}
.pullTop{
    margin-top:-5px;
}
.pullInventroy{
    margin-top: 16px;
}
.pullDistributor{
    margin-top:-9px;
}
.invenSearch .other-ops .form-group input{
    border: 1px solid #dfdfdf;
    height: 2.5em;
    background-color: transparent;
    color: #343a40;
    font-size: .875em;
    border-radius: 8px !important;
    margin-left: .625em;
    margin-bottom: -0.20em;
    padding: .375em 1.42em;
    width: 160px;
    margin-right:1.18em;
}
.yellow-clr{
    color:#f49917;
}
.stockLine{
    padding:0px 0px 1.25em 1.75em;
    font-size: 13px;
    font-weight: 600;
    color: #1515af;
    opacity: 0.6;
    font-family: OpenSans-SemiBold;
}
.stockLine::after{
    display: inline-block;
    margin-left: .355em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    
}
.expiry{
    font-size: 13px;
    line-height: 0.85;
    letter-spacing: 0.65px;
    color: #6c757d;
    font-weight: 600;
    font-family: OpenSans-SemiBold;
    padding-right:1.43em;
    padding-bottom:1.25em;
}
.sales_avg_val{
    font-size: 16px;
    font-weight: bold;
    line-height: 0.63;
    /* color: #343a40; */
    font-family: OpenSans-SemiBold;
    /* padding-bottom:1.56em; */
    padding-left:1.25em;
    color: #1515af;
    line-height: 0.63;
    font-weight: bold;
}
.total_avg_sales{
    font-size: 16px;
    font-weight: bold;
    line-height: 0.63;
    color: #f49917;
    line-height: 0.63;
    font-family: OpenSans-SemiBold;
    /* padding-bottom:1.56em; */
    padding-left:1em;
}
.ktooltip_head{
    background-image: linear-gradient(to bottom, #1b84e7, #1515af);
    color:#fff;
    /* border-radius: 5px; */
    padding:0.75em 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.km_tootltip{
    background-color: #fff;
    border-radius: 5px;
    width: 14em;
}
.avgSaleslabel{
    font-size: 12px;
    line-height: 0.83;
    color: #6c757d;
    font-family: Lato;
    padding-left:1.15em;
    text-align: center;
}
.totalavgSales{
    font-family: Lato;
    font-size: 12px;
    color: #6c757d;
    padding-left:1em;
    line-height: 0.83;
    font-family: Lato;
}
.totalsalesBottom{
    padding-bottom:25px;
}
.kamTooltip{
    /* margin:0em 0em .675rem 0; */
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    /* border: solid 1px #ffffff; */
    padding: 0 0 1em 0;
    border-radius: 5px;
}
.kpad14{
    padding-top:0.87em;
}
.proimg{
    border:1px solid #6c757d;
    border-radius: 5px;
    padding:0em .31em;
}
.priceBtn{
    display: inline-block;
    /* margin-left: .355em; */
    vertical-align: .255em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}
.priceborder{
    border:1px solid  #6c757d;
    padding:0.2em 0.75em 0em 0.75em;
    border-radius:0.625em;
    margin-left:1em;
}
.kredcircle{
    background-color: #dc3545;
    width: 8px;
    height:8px;
    border-radius:50%;
    margin-right:10px;
}
.showtable{
    background-color: #fff;
    position: relative;
    top:0;
    left:0;
    border-radius:5px;
    border:1px solid #6c757d;;
    /* height:72px; */
    /* padding:50px 0px; */
    /* z-index:1; */
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.16);
}
.tdpad{
    padding-right:100px;
}
.trpad{
    margin-top:50px;
    margin-left:130px;
    padding-bottom:10px;
    /* border-top:1px solid gray; */
    padding-top:50px;
}
.pullInventroy .datatable .table td{
    position: relative;
}
.marginTop30{
    margin-top:2.5em;
}
.grayColor{
    color:#343a40;
}
.activepriceBtn{
    display: inline-block;
    /* margin-left: .355em; */
    vertical-align: .255em;
    content: "";
    border-bottom: .4em solid;
    border-left: .4em solid transparent;
    border-top: 0;
    border-right: .4em solid transparent;
    color:#1b84e7;
}
.invenSearch .customized-input::placeholder{
    color: #343a40;
    font-size: 14px;
}
.invenSearch .customized-input{
    height:30px;
}
.distributorcol .customized-input{
    border:none;
    border-bottom:1px solid gray;
    border-radius:0;
    width:8.25em;
    color: #343a40;
    font-size:14px;
}
.subtablelabel{
    font-size:0.75em;
    font-weight: 600;
    line-height: 0.92;
    letter-spacing: 0.6px;
    color: #6c757d;
    font-family: OpenSans-SemiBold;
}
.rowborder{
    /* border:1px solid gray; */
}
.mt15{
    margin-top:0.937em;
}
.circletd{
    width:10px;
}

.activePendingCall1{
    border-top:4px solid #f49917;
}

.activeTextGreen {
    background-color: #00b7b7;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
}



.inActiveTextRed {
    background-color: #dc3545;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
}

.submittedTextBlue {
    background-color: #1b84e7;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
}

.partiallyActiveTextYellow {
    background-color: #f49917;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
}

.viewBlueButton {
    color: #1b84e7;
    border: 1px solid #1b84e7;
    border-radius: 4px;
    font-size: 0.875em;
    padding: 0.125em 0.875em 0.125em 0.875em;
}
.orderAnalysis {
    background-color: #fff;
    /* margin-top: 26px; */
    border: 1px solid rgba(108, 117, 125,0.1);
    border-radius: 8px;
}
.pl32{
    padding-left:2em;
}
.analysistableheight{
    max-height:38em;
}
.kstatus{
    padding-left:0.75em;
}
.kstatusBtn{
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 17px 0px 17px 12px;
    padding: 0.625em 1.37em;
    line-height: 1.3;
}
.ksearch .form-group .input-group .searchBox{
    border-radius: 7px !important;
    padding: 0.3125em 0.75em;
    font-size:0.875em;
    margin-top:0;
}
.kstatusdropmenu{
    left: 1em;
    top: calc(100% - 2.125em);
}
.kdashboradpad .form-group .input-group .searchBox{
    border-radius: 7px !important;
    padding: 0.3125em 0.75em;
    font-size:0.875em;
    margin-top:1.2em;
}
.kdashboradpad .form-group .input-group .searchBox::placeholder{
    color: #343a40;
}
.ksearch .form-group .input-group .searchBox::placeholder{
    color: #343a40;
}
.pt22{
    padding-top:1.375em;
    padding-bottom:0.625em;
}
.pb10{
    padding-bottom:0.625em;
}
.kwhitecircle{
    background-color: #fff;
    width: 8px;
    height:8px;
    border-radius:50%;
    margin-right:10px;
}
.recharts-layer.recharts-bar.kbargraph{
    fill:rgb(21, 21, 175);
    opacity: 0.9;
}
.darkblue{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: #1515AF;
    margin:0px 10px ;
}
.darkblueProgressbar{
    /* background-color: #; */
    height: 4px;
    border-radius: 20px;
    width: 0%;
    background: #2a2ab6;
    transition: width 5s, height 4s;
}
.achivedlabel{
    font-size: 12px;
    color: #2a2ab6;
    /* line-height: 0.87; */
    font-family: OpenSans;
    /* padding:1.937em 0px 0px 1.125em; */
    padding-right: 1.125em;
    padding-bottom:10px;
}
.ktargetlabel{
    font-size: 12px;
    color: #2a2ab6;
    /* line-height: 0.87; */
    font-family: OpenSans;
    /* padding:1.937em 1px 0px 4.5em; */
    padding-left:2.5em;
    padding-bottom:10px;
}
.padprogress{
    padding:15px 17px 0px 17px;
}
.primarylabelpad{
    padding-right:20px;
    padding-top:0.625em;
}
.primarylabel{
    font-size: 14px;
    color: #343a40;
    line-height: 0.74;
}
.kyellow-circle{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: #f49917;
    margin:0px 10px ;
}
.viewimg{
    padding-right:0.625em;
}
.activeView{
    color:#1b84e7;
}
.kamg .circleBlueBar1 .CircularProgressbar{
    width: 150px !important;
    height: 150px !important;
}
.kamg .admin_leastfocus_graph{
    margin-bottom: 3.2em;
}
.kcovragelabel::before{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color:#dc3545;
    margin-right: 0.5em;
}
.covragePad{
    padding:0.75em 0.625em 0.937em 1.25em; 
}
.covragetable .datatable .table thead th{
    padding: 1em 0em 1em 1em;
}
.cov-table{
    max-height:16.25em;
}
.covragetable .datatable .table td{
    padding: 1.1em 0em 1em 1em;
}
.blue-clr{
    color:#1b84e7
}
.KamClaimTable .other-ops .form-group input{
    margin-bottom: -2.28em;
    height:2.3em;
    margin-right:0.625em;
}
.kam-dashboard-heading{
    font-family: 'OpenSans-Bold';
    text-transform: capitalize;
    letter-spacing: 0.06em;
}
.KamClaimTable{
    background-color: #fff;
    margin-left: 2px;
}
.kdrop .statusdropmenu{
    left: -15px;
    top: calc(100% - 18px);
}
.disOrder .statusdropmenu{
    left:1.25em;
    top: calc(100% - 25px);
}
.distributorList .statusdropmenu{
    left:.25em;
    width: 158px;
}
.m12{
    margin:0px 12px;
}
.inventorytable .table-responsive{
    overflow-x: inherit;;
}
.inventorytable .table td, .table th{
    border:0;
}
.secondDivtabletr{
    border:1px solid rgba(0, 0, 0, 0.16);
    /* opacity: 0.5; */
    border-radius:5px;
}
.stockDrop{
    border:0;
    color: #1515af;
    padding-left:23px;
    padding-bottom:24px;
}
.stockhover{
    /* background-color: #dfdfdf; */
    padding:10px;
    color: #6c757d;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
.stockdropdown .statusdropmenu{
    left:15px;
    top: calc(100% - 47px);
    margin-top: 1em;
}
.stockdropdown .statusdropmenu .image{
    padding-right: .5em;
}
.stockhover:hover{
    background-color: #f2f2f2;
    text-decoration: none; 
    color: #343a40;
}
.dropdownWidth{
    width:159px;
}
.stockdropdown .dropdown-item{
    padding:0;
}
.cartBox{
    border:1px solid #dfdfdf;
    padding:3px 10px;
    border-radius:5px;
    margin-right:10px;
}
.cartitem{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    /* top: 140px; */
    top: 1306px;
    /* left: 552px; */
    background-color: #1b84e7;
    color: #fff;
    font-size: 11px;
    padding: 3px 0px 0px 4px;
    font-weight: 600;
}
.suggestqty{
    border:1px solid #dfdfdf;
    padding:3px 10px;
    border-radius:5px;
}
.addButton{
    background-color: #00b7b7;
    padding:3px 15px;
    color:#fff;
    margin-left:10px;
    border-radius:5px;
    
}
.addButton::first-letter{
    text-transform: capitalize;
}
.phramadropdown .statusdropmenu{
    width: 15em;
    height: 15em;
    overflow-y: scroll;
    margin-top: 1em;
}
.unlockmenu .unloackStatusText::after{
    margin-left: .75em !important;
}
.branddrop .statusdropmenu{
    left:0px;
    top: calc(100% - 26px);
}
.categoryDrop .statusdropmenu{
    left:15px;
    top: calc(100% - 26px);
}
.dropdown-item.active, .dropdown-item:active{
    background-color:transparent;
}
.distributorGraph svg:not(:root){
    /* overflow: visible; */
}
.avgDisChart{
    padding:0px 50px 0px 0px;
}
.kborder-bot{
    border-bottom: 1px solid #6c757d;;
}

/* product wise table */
.ritcheck{
    opacity: 0.5;
    padding-right: 0.5em;
}
.ritcheck:hover{
   color: #343a40 !important;
}

.activeTextGreen1{
   background-color: #f0a202;
   color: white;
   padding: 0.187em 1.25em;
   font-size: 14px;
   border-radius: 4px;
}   

.inActiveTextRed1 {
   background-color: #1b84e7;
   color: white;
   padding: 0.187em 1.25em;
   font-size: 14px;
   border-radius: 4px;
}

.partiallyActiveTextYellow1 {
   background-color: #00b7b7;
   color: white;
   padding: 0.187em 1.25em;
   font-size: 14px;
   border-radius: 4px;
}

.flex-row1{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   /* height: 3.7em; */
}

.all-drop{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 0.7em;
   padding-bottom: 0.7em;
}

.flex-row1 p{
   margin-top: 1em !important;
   margin-left: 1em;
   /* width: 220px; */
   height: 20px;
   font-family: "OpenSans-Regular";
   font-size: 15px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 1px;
   text-align: center;
   color: #343a40;
}

.adashboardmenu .statusdropmenu1 {
   left: 0;
   top: calc(100% - 17px);
}

.statusdropmenu1{
   position: absolute;
   top:calc(100% - 34px);
   background:#ffffff;
   z-index: -1;
   text-transform: capitalize;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear;
   left: 12px;
   min-width: 13em;
   border-radius: 5px;
   padding:8px;
}
.adashboardmenu .statusdropmenu2 {
   left: 0;
   top: calc(100% - 17px);
}

.statusdropmenu2{
   position: absolute;
   top:calc(100% - 34px);
   background:#ffffff;
   z-index: -1;
   text-transform: capitalize;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear;
   left: 12px;
   min-width: 10em;
   border-radius: 5px;
   padding:8px;
}

.adashboardmenu .statusdropmenu3 {
   left: 0;
   top: calc(100% - 17px);
}

.statusdropmenu3{
   position: absolute;
   top:calc(100% - 34px);
   background:#ffffff;
   z-index: -1;
   text-transform: capitalize;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear;
   left: 12px;
   min-width: 8em;
   border-radius: 5px;
   padding:8px;
}

.datatable1 .table thead th{
   border-bottom: solid 1px #f1f1f1;
   border-color: #f1f1f1;
   font-size: 14px;
   font-family: 'OpenSans-SemiBold';
   padding-left: 1.9em;
   background-color: #f8f9fa;
   white-space: nowrap;
   position: sticky;
   top: -1px;
   color: #343a40;
}

.datatable3 .prod-table{
 margin-bottom: 0  ;
}
.datatable1 .prod-table{
    margin-bottom: 0  ;
   }

.datatable1 .table thead th:last-child{
   padding-right: 2.28em;
}
.datatable1 .table thead th .pull-right{
   float: none !important;
   padding-left: .5em;
}
.datatable1 .table td{
   font-size: .875em;
   color: #6c757d;
   font-family: 'OpenSans-Regular';
   padding-top: 1.2em;
   padding-left: 1.8em;
   white-space: nowrap;
   text-transform: lowercase;
}
.datatable1 .table td::first-letter{
   text-transform: capitalize;
}
.datatable1 .table td:last-child{
   padding-right:2.28em;
}

.kfilterBtn .retailer-med{
   width: 124px;
   height: 17px;
   font-family: 'OpenSans-SemiBold';
   font-size: 13px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.42;
   letter-spacing: normal;
   text-align: left;
   color: #343a40;
}

.statusText1{
   font-size: 14px;
   color:  #6c757d;
   /* margin-left:3px; */
   font-family: "OpenSans-Regular"
}

.adashboardmenu .statusText1::after{
   display: inline-block;
   margin-left: .57em;
   vertical-align: .255em;
   content: "";
   border-top: .3em solid;
   border-right: .3em solid transparent;
   border-bottom: 0;
   border-left: .3em solid transparent;
}

.flex-row2 .order-name{
   /* margin-top: 1em; */
   /* margin-left: 1em; */
   /* width: 220px; */
   /* height: 40px; */
   /* font-family: OpenSans; */
   font-size: 15px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 1px;
   /* text-align: center; */
   color: #343a40;
   align-items: center;
   display: flex;
   /* background-color: #f8f9fa; */
}

.order-name{
   background-color: #f8f9fa;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.order-name .mahaveer-medical{
padding-left: 1em;
padding-top: 1em;
/* width: 294px; */
 /* height: 22px; */
 font-family: "OpenSans-Regular";
 font-size: 16px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.38;
 letter-spacing: 0.96px;
 text-align: center;
 color: #343a40;
}

.order-name .no-item{
   padding-right: 1.5em;
   padding-left: 1em;
   margin-top: 0.6em;
}

.flex-row2 .order-sum{
   margin-top: 1em;
   margin-left: 1.2em;
   /* width: 220px; */
   height: 40px;
   /* font-family: OpenSans; */
   font-size: 15px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 1px;
   /* text-align: center; */
   color: #343a40;
   align-items: center;
   display: flex;
   box-shadow: #343a40;
}

/* cart page */

.summary{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}

.summary-rate{
   padding-top: 1em;
   width: 100%;
   flex-wrap: wrap;
   
}

.order-sum{
   /* width: 131px; */
   height: 22px;
   font-family: "OpenSans-Regular";
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.31;
   letter-spacing: 0.96px;
   text-align: left;
   color: #6c757d !important;
   opacity: 0.65;
}
.sub-subtotal{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 20%;
   /* margin-right: 14em; */
   flex-wrap: wrap
}

.save-order{
    width: 124px;
    height: 40px;
    border-radius: 3px;
    background-color: #f49917;
    color: #ffffff;
    border:  #f49917;
    
}

.btn-save{
    display: flex;
    justify-content: flex-end;
    width: 70.5%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.suggested-card{
    padding-top: 0 !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.48px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.ordersummry-card{
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: none;
   border-radius: .25rem;
   box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
}

.kfilterBtn1{
   /* border: 1px solid #dfdfdf; */
   /* border-radius: 7px; */
   /* margin: 17px 12px 21px 0px; */
   /* padding: 4px 16px; */
   margin-right: 1.25em;
}

.cartplus{
   background-color: #ffffff;
}
.cartnum{
   color: #343a40;
   background-color: #ffffff;
   font-size: 1em;
  width:5em;
}

.btngrpp{
height: 2.5em;
border: 0.4px solid #6c757d;
border-radius: 1em;
opacity: 0.85;
}



.btngrp-div .btngrpp .btn-secondary:hover{
   background: none;
   color: #343a40;
}


.cartplusimg{
   align-items: center;
   display: flex;
}

.deletebtn{
   padding-left: 0.6em
}

.datatable2 .table td{
   vertical-align: top;
   border-top: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
   padding-bottom: 0.8em;
}

.datatable2 .table thead th{
   /* border-bottom: solid 1px #f1f1f1; */
   /* border-color:  #f1f1f1; */
   font-size: 13px;
   font-family: 'OpenSans-Regular';
   /* padding: 1em 0em 1em 2.28em  */
   /* background-color: #f8f9fa; */
   white-space: nowrap;
   /* position: sticky; */
   top: -1px;
   color: #343a40;
}
.addtocart{
   width: 112px;
 height: 32px;
 border-radius: 4px;
 background-color: #00b7b7;
 color: #ffffff;
 border: #00b7b7;
}

.datatable2 .table thead th:last-child{
   padding-right: 2.28em;
}
.datatable2 .table thead th .pull-right{
   float: none !important;
   padding-left: .5em;
}
.datatable2 .table td{
   font-size: .875em;
   color: #6c757d;
   font-family: 'OpenSans-Regular';
   padding-top: 1.2em;
   padding-left: 0.3em;
   padding-bottom: 0.8em;
   padding-right: 3em;
   white-space: nowrap;
   text-transform: lowercase;
}
.datatable2 .table td::first-letter{
   text-transform: capitalize;
}
.datatable2 .table td:last-child{
   padding-right:2.28em;
}

.sub-subtotal{
   width: 39%;
 /* height: 17px; */
 font-family: "OpenSans-Regular";
 font-size: 13px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.75;
 letter-spacing: 0.72px;
 /* text-align: left; */
 color: #343a40;
 min-width: 45em;
}

.sub-subtotal .sub-para{
   padding-left: 3.5em;
}
 

.datatable2 .table-responsive.dcrtableheight{
   overflow: visible ;
   padding: 0 1em;
   /* padding-left: 1em;
   padding-right: 1em; */
} 

/* .datatable2 .table-responsive.analysistableheight{
   overflow: visible ;
} */


/* .datatable2 .table-responsive.dcrtableheight .table{
width: 100%;
/* margin-bottom: 1rem; */
/* color: #212529; */
/* } */ 

.datatable2 .table th{
   padding: .75rem;
   vertical-align: top;
   /* border-top: 1px solid #dee2e6; */
   border-top:2px solid #dee2e6;
   border-bottom: 2px solid #dee2e6;
   padding-left: 0.3em;
   padding-right: 3em;

}
.datatable3 .table th{
   padding: .75rem;
   vertical-align: top;
   /* border-top: 1px solid #dee2e6; */
   /* border-top:2px solid #dee2e6; */
   border-bottom: 2px solid #dee2e6;
   padding-left: 0.3em;
   padding-bottom: 0.8em;
   padding-right: 3em;

}
.datatable3 .table-responsive.dcrtableheight{
   overflow: visible;
   padding: 0 1em;

   /* padding-left: 1em;
   padding-right: 1em; */
}
.datatable3 .table thead th:last-child{
   padding-right: 2.28em;
}
.datatable3 .table thead th .pull-right{
   float: none !important;
   padding-left: .5em;
}
.datatable3 .table td{
   font-size: .875em;
   color: #6c757d;
   font-family: 'OpenSans-Regular';
   padding-top: 1.2em;
   padding-left: 0.3em;
   padding-bottom: 0.8em;
   padding-right: 3em;
   white-space: nowrap;
   text-transform: lowercase;
}
.datatable3 .table td::first-letter{
   text-transform: capitalize;
}
.datatable3 .table td:last-child{
   padding-right:2.28em;
}

.datatable3 .table td{
   vertical-align: top;
   border-top: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
}
 

.datatable3 .table thead th{
   /* border-bottom: solid 1px #f1f1f1; */
   /* border-color:  #f1f1f1; */
   font-size: 13px;
   font-family: 'OpenSans-Regular';
   /* padding: 1em 0em 1em 2.28em  */
   /* background-color: #f8f9fa; */
   white-space: nowrap;
   /* position: sticky; */
   top: -1px;
   color: #343a40;
}
.btngrp-div .btngrpp .btn-secondary:focus{
   box-shadow: none;
}

.sub-subtotal .rs{
   width: 60%;
   height: 32px;
   font-family: "OpenSans-Regular";
   font-size: 23px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.39;
   letter-spacing: normal;
   /* text-align: left; */
   color: #343a40;
}
.sub-subtotal .subtotal{
   width: 60%;
}
.sub-subtotal .shipping{
   width: 60%;
}

#dropdown-basic1.languagedrop1 {
   background-color: transparent !important;
   color: red;
   width: 100%;
   box-shadow: none;
   color: #495057;
   padding: 0;
   /* text-transform: capitalize; */
   margin: 0;
   border-color: transparent;
}

.languagedrop1 {
   /* width: 50px;
   height: 19px; */
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.5;
   letter-spacing: 0.6px;
   text-align: left;
   color: #495057;
 }
 #dropdown-basic1.languagedrop1::after {
   display: none !important;
}

.ksearch1 .form-group .input-group .searchBox{
   border-radius: 7px !important;
   padding: 0.3125em 0.75em;
   font-size:0.875em;
   margin-top:0;
   opacity: 0.5;
}

.ksearch1 .form-group .input-group .searchBox::placeholder{
   color: #343a40;
}

.other-ops .form-group input {
    margin-bottom: 0 !important
}
/* order confirm */
.lottieanimation1 div {
   width: 130px !important;
   height: 130px !important;
   margin: 24px auto 10px auto!important;
}
.successmsg1{
   font-size: 14px;
   padding-right: 55px;
   padding-left: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "OpenSans-Regular" !important;
 font-size: 13px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.71;
 letter-spacing: normal;
 text-align: center;
 color: #6c757d;
 padding-bottom: 1em;
}
.modal-title-order{
   font-family: "OpenSans-Regular" !important;
 font-size: 27px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 0.89;
 letter-spacing: normal;
 text-align: center;
 color: #343a40;
}
.master-success1 .modal-content {
   /* border-radius: 10px !important; */
   /* overflow: hidden; */
   width: 532px;
   max-height: 448px;
   border-radius: 14px;
   box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
   background-color: var(--white);
}
.master-success1 .modal-dialog{
   max-width: 556px;
}
.master-success1 .modal-body{
   padding: 0;
}

.master-success1 .modal-header {
   /* display: -ms-flexbox;
   display: flex;
   -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 1rem 1rem; */
   border-bottom: 0 !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: -0.5em
   /* border-top-left-radius: .3rem;
   border-top-right-radius: .3rem; */
}
.master-success1 .modal-footer {
   /* display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: end;
   justify-content: flex-end;
   padding: 1rem;
   border-top: 1px solid #dee2e6; 
    border-bottom-right-radius: .3rem;
   border-bottom-left-radius: .3rem; */
   justify-content: space-between;
   border-top: 0 !important;
   width: 100%;
} 
.form-order{
   display: flex;
       width: 100%;
   justify-content: space-between;
   padding-bottom: 1.4em;
}
.master-success1 .title{
   height: 13.2em;
   padding-top: 2em;
}

/* .div-form{
   height: 7em;
   padding-bottom: 8em;
} */

.formgrp-no{
   margin-left: 4em !important;
   margin-right: 0.5em !important;
   display: flex;
   /* opacity: 0.6; */
}

.formgrp-pw{
   margin-left: 0.5em !important;
   margin-right: 4em !important;
   opacity: 0.6;
}

.cls-sub{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.btn-cancel-order{
    /* margin-left: 11em; */
    width: 5em;
    opacity: 0.95;
    border-radius: 8px;
    background-image: linear-gradient(to right, #df5a4b 0%,#dc3545 100%) !important;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: #dc3545;
    /* background-color: #092448; */
}

.btn-done-order{
   width: 5em;
   margin-left: 1.2em;
   opacity: 0.95;
 border-radius: 8px;
 background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%) !important;
}

.modal-title-order{
   width: 264px;
 height: 37px;
 font-family: OpenSans;
 font-size: 27px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 0.89;
 letter-spacing: normal;
 text-align: center;
 color: #343a40;
}

.outline-secondary{
   /* font-size: 12px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 2.33;
 letter-spacing: 1.32px;
 text-align: left;*/
 color: #1b84e7 !important; 
   border-top-color:  #a3a3a3;
   border-right-color:  #a3a3a3;
   border-bottom-color:  #a3a3a3;
   border-left-color:  #fff;
   border-left: 0;
   background-color: #fff !important;
   border-color: #d5d0d0;
}
.outline-secondary:hover{
   border-color: #a3a3a3;
}
.formgrp-no .btn-primary:not(:disabled):not(.disabled):active:focus{
   background-color: #a3a3a3;
}
.formgrp-no .btn-primary:not(:disabled):not(.disabled):active{
   border-color: #a3a3a3 !important;
}

.placeholder-order-no:focus {
    color: #495057; 
    /* background-color: #fff;  */
    border-color: #a3a3a3 !important; 
   outline: 0;
box-shadow: none !important;
}
.placeholder-order-pw:focus {
   color: #495057; 
   /* background-color: #fff;  */
   border-color: #a3a3a3 !important; 
  outline: 0;
box-shadow: none !important;
}

.placeholder-order-no{
   border: 1px solid #a3a3a3;
   border-right : 0 !important;
   font-size: 0.9em;
    height: 3em;
    opacity: 0.6;
}

.placeholder-order-pw{
   border: 1px solid #a3a3a3;
   font-size: 0.9em;
    height: 3em
}

/* order success*/
.succsimg {
  /* width:100%; */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* padding: 2em; */
   width: 291px;
   height: 240px;
}
.order-para-cnfrm{
   font-family: "OpenSans-Regular";
 font-size: 14px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.36;
 letter-spacing: normal;
 text-align: left;
 color: #1caf9a;
 padding-top: 1.4em;
}
.img-ordersuccess{
   width: 9em;
   height: 9em;
}

/* .master-success1 .modal.show .modal-dialog {
    margin-left: 0.5em !important;
} */

.other-ops.admindas.ksearch1{
    margin-top: 11px !important;
    margin-right: 0 !important;
}

/* order bill detail page */

.sub-subtotal .sub-para1{
    padding-left: 5.5em;
 }

 .sub-subtotal .shipping1{
    width: 39.4%;
 }

 .sub-subtotal .sub-para-rs1 {
    padding-left: 5.5em;
    margin-top: 0.7em;
}

 .sub-subtotal .rs1{
    width: 39.4%;
    height: 32px;
    font-family: "OpenSans-Regular";
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    /* text-align: left; */
    color: #343a40;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
 }

 .bittTo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.3em;
    margin-left: 1.3em;
    margin-right: 1.3em;
 }


.bittTo .billed-to{
    font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.84px;
  text-align: left;
  color: #343a40;
  margin-bottom: 0.5em;
}

.bittTo .distrubtr-name{
    font-family: "OpenSans-Regular";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.84px;
    text-align: left;
    color: #1b84e7;
    margin-bottom: 0.5em;
}

.bittTo .distr-address{
    font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.84px;
  text-align: left;
  color: #6c757d;
  margin-bottom: 0;
}

.bittTo .billorder-date{
    font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.84px;
  text-align: left;
  color: #343a40;
  margin-bottom: 0.4em;
}

.bittTo .billorder-time{
    font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.84px;
  text-align: left;
  color: #6c757d;
}

.export-order{
    display: flex;
    flex-direction: row;
}
.export-btn{
    border-radius: 4px;
  border: solid 1px #dfdfdf;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #343a40;
  background-color: #ffffff;
  width: 7.1875em;
  height: 2.3em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  margin-left: 0.7em;
}

.export-order .export-img{
   margin-left: 0.5em;
    margin-right: 1em;
    color:  #6c757d;
}




.main-display{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    min-height: 2.55em;
    border-left: 5.45px solid #1b84e7;
}
.kam-stockiest-profile .main-content{
    font-family: "OpenSans-Bold";
    font-size: 1.225em;
    letter-spacing: .075em;
    padding-left: 0.73em;
    padding-right: .5em;
    color: #343a40;
    text-transform: capitalize;
}
.kam-stockiest-profile .main-content-col2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.kam-stockiest-profile .main-heading{
    padding-bottom: 1em;
}
.kam-stockiest-profile .button{
    width: 10.5em;
    height: 2.45em;
    border-radius: .4em;
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    border: solid 0.5px #1b84e7;
    font-family: "OpenSans-Regular";
    font-weight: 600;
    letter-spacing: .045em;
    font-size: 0.9em;
}
.kam-stockiest-profile .sub-content{
    font-family: "OpenSans-Regular";
    color: #6c757d;
    font-size: 0.95em;
}
.kam-stockiest-profile .sub-content span{
    color: #1b84e7;
}
.kam-stockiest-profile .plan-for-meeting-btn{
    padding-right: .5em;
}
.kam-stockiest-profile .profile-card{
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border: none;
    display: flex;
    padding: .35em;
    align-items: center;
    flex-direction: row;
}
.kam-stockiest-profile .number2{
    padding: 1.5em 1.25em 0.5em 1.25em;
}
.kam-stockiest-profile .stokiest-profile-col{
    padding: 0 0.625em 1.25em 0.625em !important;
}
.kam-stockiest-profile .profile-text{
    padding-left: 4em;
}
.kam-stockiest-profile .distributor-name{
    font-family: 'OpenSans-SemiBold';
    letter-spacing: .065em;
    font-size: 1.4em;
    padding: .5em 0em ;
    text-transform: capitalize;
}
.kam-stockiest-profile .year-of-start{
    font-family: "OpenSans-Regular";
    color: #6c757d;
    padding-bottom: .35em;
    font-size: 0.94em;
    letter-spacing: .06em;
}
.kam-stockiest-profile .year-of-start span{
    color: #1b84e7;
}
.kam-stockiest-profile .stokiest-profile-page .row{
    align-items: flex-end;
}
.kam-stockiest-profile .distributor-code{
    font-family: "OpenSans-Regular";
    color: #6c757d;
    padding-bottom: .35em;
    font-size: 0.94em;
    letter-spacing: .06em;
}
.kam-stockiest-profile .distributor-location{
    font-family: "OpenSans-Regular";
    color: #1b84e7;
    padding-bottom: .9em;
    font-size: 0.94em;
    letter-spacing: .06em;
    text-transform: capitalize;
}
.kam-stockiest-profile .distributor-address{
    font-family: "OpenSans-Regular";
    color: #6c757d;
    font-size: 0.94em;
    line-height: 1.65em;
    letter-spacing: .06em;
    padding-bottom: .68em;
    text-transform: capitalize;
}
.kam-stockiest-profile .contact-and-info-head{
    font-family: "OpenSans-Bold";
    letter-spacing: .065em;
    font-size: 0.94065em;
    padding-bottom: 1.25em;
    color: #343a40;
}
.kam-stockiest-profile .stokiest-details-to-contact{
    display: flex;
    justify-content: space-between;
}
.kam-stockiest-profile .stokiest-columns{
    width: 50%;
    padding-bottom: 1em;
}
.kam-stockiest-profile .stokiest-heading{
    font-family: "OpenSans-Regular";
    font-weight: 600;
    color: #6c757d;
    font-size: .825em;
    opacity: 0.5;
    letter-spacing: .065em;
    padding-bottom: .35em;
}
.kam-stockiest-profile .stokiest-detail{
    font-family: "OpenSans-Regular";
    font-weight: 600;
    color: #343a40;
    font-size: .875em;
    opacity: 0.8;
    letter-spacing: .1em;
}
.kam-stockiest-profile .profile-card-display{
    display: flex;
}
.invenMonth .statusdropmenu{
    left: -12px;
    top: calc(100% - 16px);
    height: 11em;
    overflow-y: scroll;
}
.compBrand .statusdropmenu{
    left:0.5em;
    top:calc(100% - 18px);
}

 
     
.kam-stockiest-profile .backwave{
    opacity: 0.05 !important;
    background-image: linear-gradient(to right, #1b84e7 -7%, #1515af 100%) !important;
}
.kam-stockiest-profile .graphs-of-stokiest{
    background: white;
}
.kam-stockiest-profile .graph-card{
    border: none;
    padding-top: 1em;
}
.kam-stockiest-profile .graph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}
.kam-stockiest-profile .graph-header-col2{
    display: flex;
}
.kam-stockiest-profile .graph-header-dropdowns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.kam-stockiest-profile .graph-header-main-text{
    color: #343a40;
    font-family: 'OpenSans-SemiBold';
    font-size: 1.15em;
}
.kam-stockiest-profile .graph-header-main-text span{
    color: #6c757d;
    font-size: .75em;
}
.kam-stockiest-profile .graph-dots{
    display: flex;
    align-items: center;
    color: #343a40;
    font-family: "OpenSans-Regular";
    font-size: 0.9em;
    padding: 0em .5em;
}
.kam-stockiest-profile .graph-texts{
    padding-left: .5em;
}
.kam-stockiest-profile .primary-sales-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1515af;
}
.kam-stockiest-profile .secondary-sales-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f49917;
}
.kam-stockiest-profile .fullScreen-image{
    padding-right: .85em;
    padding-left: .5em;
    display: flex;
    align-items: center;
    /* align-items: flex-start;
    padding-top: .5em; */
}
.kam-stockiest-profile .menu-dots{
    display: flex;
    align-items: center;
    /* align-items: flex-start;
    padding-top: .5em; */
}
.kam-stockiest-profile .stokiest-graph-dropdown .dropdown-toggle{
    background: #ffffff;
    font-family: "OpenSans-Regular";
    color: #343a40;
    border: 1px solid #dfdfdf;
}
.kam-stockiest-profile .graph-dropdown-button{
    background: #ffffff;
    color: #343a40;
    font-weight: 100;
    font-size: .85em;
    border: 1px solid #dfdfdf;
}
.kam-stockiest-profile .graph-dropdown-button span{
    font-weight: 600;
}
.kam-stockiest-profile .top-retailers-table{
    padding-top: 2em;
}
.kam-stockiest-profile .top-retailers-table-heading{
    font-family: "OpenSans-Bold";
    font-size: 0.941em;
    letter-spacing: .0945em;
}
.kam-stockiest-profile .tr-table{
    margin: 0;
    padding: 0;
}
.kam-stockiest-profile .tr-table .thead-default tr{
    background: #f8f9fa;
    font-family: "OpenSans-SemiBold";
    color: #343a40;
    font-size: .92em;
    letter-spacing: .05em;
    white-space: nowrap;
}
.kam-stockiest-profile .table td{
    padding: .885em 1.471em !important;
    vertical-align: middle;
}
.kam-stockiest-profile .table th{
    padding: .8175em 1.365em !important;
}
.kam-stockiest-profile .tr-table .tbody-default tr{
    color: #6c757d;
    font-family: "OpenSans-SemiBold";
    font-size: .85em;
    letter-spacing: .09em;
    white-space: nowrap;
    text-transform: capitalize;
}
.kam-stockiest-profile .top-retailers-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1.25em;
}
.kam-stockiest-profile .top-retailers-table-dropdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.kam-stockiest-profile .top-retailers-dd{
    padding:.5em;
}
.kam-stockiest-profile .retailer-numbers-btn{
    line-height: 1.25em;
    background: #ffffff;
    font-family: "OpenSans-Regular";
    border-radius: 4px;
    border: solid 0.5px #dfdfdf;
    color: #343a40;
    font-size: .9em;
    text-align: left;
}
.kam-stockiest-profile .retailer-numbers-btn span{
    font-family: 'OpenSans-SemiBold';
}
.kam-stockiest-profile .retailer-numbers-btn:focus{
    box-shadow: none;
}
.kam-stockiest-profile .show>.btn-success.dropdown-toggle{
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #343a40;
}
.kam-stockiest-profile .show>.btn-success.dropdown-toggle:focus{
    box-shadow: none;
}
.kam-stockiest-profile .btn-success:not(:disabled):not(.disabled):active{
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #343a40;
}
.kam-stockiest-profile .btn-success:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
}
.kam-stockiest-profile .retailer-month-btn{
    line-height: 1.25em;
    background: #ffffff;
    font-family: "OpenSans-Regular";
    border-radius: 4px;
    border: solid 0.5px #dfdfdf;
    color: #343a40;
    font-size: .9em;
    text-align: left;
}
.kam-stockiest-profile .retailer-month-btn:focus{
    box-shadow: none;
}
.kam-stockiest-profile .retailer-month-btn span{
    font-family: 'OpenSans-SemiBold';
}
.kam-stockiest-profile .top-retailers-table-card{
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border: none;
}
.kam-stockiest-profile .nav-item.elementcontainer.kamActivebar{
    background-color: rgba(21,21,225,0.04);
}
.kam-stockiest-profile .dashtabhead{
    color: #343a40;
}
.kam-stockiest-profile .dashtabsubhead span{
    color: #343a40;
}
.kam-stockiest-profile .listborderTop {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(157, 206, 255, 0.16);
}
.kam-stockiest-profile .stokiest-profile-image img{
    width: 10em;
    height: 11em;
}
.kam-stockiest-profile .stokiest-profile-image{
    position: relative;
    bottom: 2em;
    left: 2.5em;
}
.kam-stockiest-profile .hexagaon-image{
    clip-path: polygon(45% 0, 55% 0, 100% 25%, 100% 75%, 55% 100%, 45% 100%, 0 75%, 0 25%);
    background: #f8f9fa;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10.25em;
    right: 1.75em;
    color:#1b84e7;
    font-family: 'OpenSans-SemiBold';
}
.kam-stockiest-profile .image-text{
    font-size: 1.65em;
}
.kam-stockiest-profile .alignment{
    padding-top: 2em;
}
.kam-stockiest-profile .stokiest-profile-dot{
    width: 12px;
    height: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #ffffff;
    background-color: #1caf9a;
    border-radius: 50%;
    position: relative;
    top: 6.75em;
    left: 9.5em;
    z-index: 2;
}
.kam-stockiest-profile .stokiest-contact-and-info{
    width: 100%;
}
.distrubutrName{
    color: #6c757d;
}
.avgChart .backwave{
    opacity: 0.05 !important;
    background-image: linear-gradient(to right, #1b84e7 -7%, #1515af 100%) !important;
}
.distributorListpad{
    padding: 0.75em 0px 0.75em 0.8em;
    color: #6c757d;
    font-size: 14px;
}
.imgrightpad{
    padding-right:10px;
}
.distributorStatusText{
    font-size:12px;
    padding-left:5px;
}
.distributorListpad:hover{
    background-color: #f2f2f2;
}
.unlockmenu .invenMonth .dropdown-item{
    padding: 0 !important;
}
.brandlist .statusdropmenu{
   background-color: #fff;
   left:0.5em;
}
.catlist .statusdropmenu{
    width:150px;
    left:0.5em;
}
.invenMonth .dropdown-item{
    padding:0;
}
.ongoing-orders{
    background-color: #fff;
    margin-top: 26px;
    border: 1px solid rgba(108, 117, 125,0.1);
    border-radius: 8px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
    height: 48em;
}
.ongoing-orders .order-history-images{
    width: 3.8em;
    height: 3.8em
}
.ongoing-orders .received-button{
    width: 7em;
    height: 1.8em;
    background-color: #1b84e7;
    border-radius: 4px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
    border: none;
    color: #ffffff;
}
.ongoing-orders .process-button{
    width: 7em;
    height: 1.8em;
    border-radius: 4px;
    /* background-color: #00b7b7; */
    background-color: #f49917;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
    border: none;
    color: #ffffff;
}
.ongoing-orders .rejected-button{
    width: 7em;
    height: 1.8em;
    background-color: #dc3545;
    border-radius: 4px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
    border: none;
    color: #ffffff;
}
.ongoing-orders .completed-button{
    width: 7em;
    height: 1.8em;
    background-color: #00b7b7;
    /* background-color: #f49917; */
    border-radius: 4px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
    border: none;
    color: #ffffff;
}
.ongoing-orders-links{
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.ongoing-orders-links .ul-link{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.ongoing-orders-links .active-li-link{
    border-bottom: 2.5px solid #1b84e7;
    padding: 0 .5em .975em .5em;
    color: #1b84e7;
    font-weight: 600;
}
.ongoing-orders-links .li-link{
    padding: 0 .5em .975em .5em;
    cursor: pointer;
}
.ongoing-orders-links .order-link{
    padding: .975em 1em 0 .975em;
    font-family: 'OpenSans-Regular';
    letter-spacing: .125em;
    font-size: 0.965em;
}
.search-box{
    border: none;
    padding-right: .75em;
}
.order-search-box{
    border-radius: 6px;
    border: solid 1px #dfdfdf;
    padding: .45em;
    color: #343a40 !important;
    font-family: 'OpenSans-Regular';
    font-size: .95em;
    width: 100%;
}
.kam-stockiest-profile input:focus{
    outline-offset: 0;
    outline: none;
}
.kam-stockiest-profile button:focus{
    outline-offset: 0;
    outline: none;
}  
.order-search-box::placeholder{
    color: #343a40 !important;
    font-family: 'OpenSans-Regular';
    font-size: .95em;
}
.kam-stockiest-profile .table-order-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
}
.kam-stockiest-profile .order-history-dropdowns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.kam-stockiest-profile .order-history-dd{
    padding-right: .75em;
    padding-bottom: .5em;
}
.kam-stockiest-profile .order-history-status-btn{
    line-height: 1.25em;
    background: #ffffff;
    font-family: "OpenSans-Regular";
    border-radius: 6px;
    border: solid 0.5px #dfdfdf;
    color: #343a40;
    font-size: .9em;
    text-align: left;
    padding: .65em 1em;
}
.kam-stockiest-profile .order-history-status-btn:focus{
    box-shadow: none;
}
.kam-stockiest-profile .order-pagination .form-control{
    margin: 0 .5em;
    min-width: 4em;
    padding: .5em;
}
.kam-stockiest-profile .order-pagination .form-group{
    padding-bottom: .5em;
}
.kam-stockiest-profile .dropdown-menu{
    z-index: 1000;
    float: left;
    min-width: 100%;
    padding: .5rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    border: solid 0.5px #dfdfdf;
}
.kam-stockiest-profile .dropdown-item{
    display: block;
    width: 100%;
    padding: .5em 0 !important;
    clear: both;
    font-family: "OpenSans-Regular";
    font-weight: 500;
    font-size: .95em;
    color: #343a40;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    opacity: 0.5;
}
.kam-stockiest-profile .order-history-dd a:hover{
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #343a40;
    opacity: 1;
}

.user-checkbox .checkbox-label1{
    padding-left: 1em;
    font-size: 14px;
    color: #6c757d;
    display: initial;
}

.copydata{
    height: 25em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 0.8em;
}

.checkselectall{
    padding-left: 0.5em;
    margin-bottom: 0 !important;
    color: #6c757d;
}

.onreset{
    border: solid 0.5px #dc3545 !important;
    background-color: #dc3545 !important;
}
 
.fullimgmrtp{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 1em;
}

.mrtplistheader{
    font-size: 14px;
    font-family: "OpenSans-Semibold";
    letter-spacing: 1.56px;
    color: #343a40;
}

.onrejectmrtp{
    border: solid 0.5px #dc3545 !important;
    background-color:#dc3545 !important;
}


.onapprmrtp{
    border: solid 0.5px #00b7b7 !important;
    background-color: #00b7b7 !important;
}

.editp-search{
    display: flex;
}

.tpheader-fullscreen{
    display: flex;
}

.tpheader{
    padding-right: 1em;
    font-size: 0.9em;
}

.tpmngrapprovedate{
    color: #343a40;
    font-weight: 600;
}

.tpdetailinfo{
    background-color: #f8f9fa;
    border-bottom: 1px solid #f1f1f1;
    font-family: "OpenSans-bold";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 1.92px;
  text-align: left;
  color: #343a40;
  padding: 1.1em 0 1.1em 2em;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
}

.tpdetailinfospan{
    color: #1b84e7;
}

.doctornumm{
    color: #f49917;
}

.tpmrtabhead{
    margin-top: 34px;
    padding-left: 32px;
    background-color: #ffff;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.9em;
  }

  .tooltip-right .tooltip-inner {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ffffff;  
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);

}
.tooltip-right .tooltip-arrow {
    border-top: 5px solid #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}
.tooltip-right.bs-tooltip-auto[x-placement^=right] .arrow:before, .tooltip-right.bs-tooltip-right .arrow:before{
    border-right-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before{
    border-right-color:#fff;
    margin-top:-6px;
}


.newcall input{
    border:none;
    /* margin-right:30px; */
    width: 100px;
    color:#343a40;
    font-family:Roboto-Regular;
    font-size: 13px;
}
.newcall{
    border:1px solid #6c757d50;
    border-radius:4px;
    padding:7.5px 14px;
}

.newcall.react-datepicker__input-container:focus{
    border:none !important;
    box-shadow: none !important;
}
/*.taskList{
    display: flex;
    flex-direction: row;
    width:200px;
}*/
.newcall input:focus{
    outline: 0;
}
.newcall .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle{
    border-bottom-color: #fff !important;
}
.newcall .react-datepicker__current-month{
    padding-top: 15px;
    padding-bottom: 10px;
}

.newcall.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle{
    margin-top:0px !important;
}
.newcall .react-datepicker-time__header{
    display: none;
}
.newcall .react-datepicker__header{
    background-color: #fff;
    border-bottom: none;
}
.newcall .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected{
    border-radius: 1.3em;
}
.newcall .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
    width:160px;
}
.newcall .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
    width:160px;
}
.newcall .react-datepicker__time-container .react-datepicker__time{
    width:160px;
}
.newcall .react-datepicker__header{
    padding-top:0;
}
.newcall .react-datepicker__header--time{
    padding-bottom: 0px;
}
.newcall .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected{
    background-color: #f1f1f1;
    color:#000;
}
.newcall .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover{
    background-color: #f1f1f1;
}
.controls .react-datepicker-wrapper{
    border:1px solid #6c757d50;
    border-radius: 4px 0 0 4px;
    padding: 7px 16px;
    flex-grow: 1;
}
.newcall.controls input{
    margin: 0;
}
.newcall.controls{
    border:0;
    border-radius: 0;
    padding:0;
}

.newcall .react-datepicker__navigation--previous, .newcall .react-datepicker__navigation--next{
    top:20px;
}

.newcalendar{
    background-color: gold;
}