.kam-user-hierarchy .user-heirarchy-card {
    padding: .625em .625em 2em .625em;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
    border: none;
    margin-bottom: 1.25em;
}
.kam-user-hierarchy .user-heirarchy-field-containers{
    width: 30%;
    padding: .625em;
}
.kam-user-hierarchy .user-heirarchy-button{
    width: 10%;
    display: flex;
    align-items: flex-end;
    padding: .625em .625em 1.125em .625em;
}
.kam-user-hierarchy .error-user-heirarchy-button{
    width: 7%;
    display: flex;
    align-items: flex-end;
    padding: .625em .625em 2.2em .625em;
}
.kam-user-hierarchy .map-button{
    width: 100%;
    height: 2.5em;
    padding: 0 !important;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    font-family: 'OpenSans-SemiBold';
    color: #ffffff;
}
.kam-user-hierarchy .user-heirarchy-button .btn-primary:not(:disabled):not(.disabled):active{
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    font-family: 'OpenSans-SemiBold';
    color: #ffffff;
}
.kam-user-hierarchy .user-heirarchy-button .map-button .map-button-text{
    font-size: .825em;
    letter-spacing: 1.56px;
}
.user-heirarchy-button-group .user-heirarchy-submit-button{
    width: 16em;
    height: 2.9em;
    background:  linear-gradient(to right, #1b84e7 0%, #1515af 100%);
    border-radius: 0.5em;
}
.user-heirarchy-button-group .user-heirarchy-submit-button .button-text{
    font-size: .8em;
    letter-spacing: 0.15em;
}
.user-heirarchy-success-text{
    font-size: 0.875em;
    color: #1caf9a;
}
.user-heirarchy-warning-text{
    color: #343a40;
    font-size: 0.875em;
}

