html{
  overflow-x: scroll;
  scrollbar-width: thin;
}

.activityBtn1 {
    padding:13px 20px;
    color:#fff;
    border-radius:  981px;
    background-image: linear-gradient(to right, #1b84e7, #6f42c1);
    font-size: 14px;
    margin-right: 20px;
   font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 0.79;
    margin-top: -2px;
    cursor: pointer;
}
.bartitle #blueText {
    color: #1b84e7;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.69;
    letter-spacing: 0.8px;
}

/* ==================================================alert================================================================ */

.distrubutorFilter1 {
    border-radius: 7px;
    padding: 4px 16px;
}

.leaveShowMenu {

    position: absolute;
    top: -0.5em;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ffffff;
    border-radius: 10px;
    z-index:999;
    background-color:#fff;
    padding:0.62em;
    overflow: visible;
    cursor: pointer;
    text-transform: capitalize;  
    left: -30px;

}

.leaveShowMenu div:hover{
    font-weight: 600;
    color: #1b84e7;
}

.deleteModalContent {
    width: 24em;
  height: 21.75em;
  border-radius:  0.87em;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}
.alertImgPad{
    padding-top: 3em;
}
.alertText{
    padding-top: 1.5em;
    font-size: 1.68em;
    letter-spacing: normal;
    line-height: 0.89;
}
.alertSubTextDelete{
    padding:  0.75em 3.87em;
    color:#6c757d;
    font-size: 0.87em;
}
.alert .modal-dialog{
    width:26.25em;
}
.alert .cancelDelete{
    background-image: linear-gradient(to right ,#df5a4b, #dc3545);
    color:#fff;
    padding:0.62em 1.25em;
    border-radius: 0.31em;
    font-weight: bold;
    border: none;
    width: 6em;
    height: 2.5em;
}
.alert .okDelete{
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    color:#fff;
    padding:0.62em 1.25em;
    border-radius: 0.31em;
    font-weight: bold;
    border: none;
    width: 6em;
    height: 2.5em;
    margin-left: 0.75em;
}
.alertBtns{
    padding-top: 0.75em;
    padding-bottom: 2em;
}

.alertSubTextCancel{
    padding:  0.75em 1.43em;
    color:#6c757d;
    font-size: 0.87em;
}

.cancelInput {
  width: 338px;
  height: 40px;
  opacity: 0.6;
  border-radius: 4px;
  border: solid 0.5px #a3a3a3;
  margin: auto;
}

.CircularProgressbar .CircularProgressbar-path{
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.circleBlueBarBlue .CircularProgressbar .CircularProgressbar-path {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.circleBlueBarBlue .CircularProgressbar{
  width: 185px;
  height: 190px;
  margin: 0px 66.6px 25px -23px;
  /* padding-top: 25px; */
}


.casualLeave {
    font-size: 16px;
    font-weight: 600;
    color: #1b84e7;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    display: inline-block;
    /* vertical-align: middle; */

}

.sickLeave {
    font-size: 16px;
    font-weight: 600;
    color: #1caf9a;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    display: inline-block;
}

.optionalLeave {
    font-size: 16px;
    font-weight: 600;
    color: #f49917;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    display: inline-block;
}

.privilegeLeave {
    font-size: 16px;
    font-weight: 600;
    color: #dc3545;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    display: inline-block;
}

.submittedTextBlue01 {
  background-color: #F27510;
  color: white;
  padding: 0.187em 1.25em;
  font-size: 14px;
  border-radius: 4px;
}
.inActiveTextRed001{
    background-color: #dc3545;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
}
.casualLeaves{
    display: flex;
    direction: row;
    justify-content: space-between; 
    margin-left: 32px;
    margin-right: 32px;
    text-transform: capitalize !important;
  }
  .totalAccuredCasual {
    font-size: 13px;
    font-weight: bold;
    color: #1b84e7;
  }
  
  .leaveUsedCasual {
    font-size: 13px;
    font-weight: bold;
    color: #1b84e7;
  }

  .totalAccuredSick {
    font-size: 13px;
    font-weight: bold;
    color: #1caf9a;
  }
  
  .leaveUsedSick {
    font-size: 13px;
    font-weight: bold;
    color: #1caf9a;
  }

  .totalAccuredOptional {
    font-size: 13px;
    font-weight: bold;
    color: #f49917;
  }
  
  .leaveUsedSickOptional {
    font-size: 13px;
    font-weight: bold;
    color: #f49917;
  }

  .totalAccuredPrivilege {
    font-size: 13px;
    font-weight: bold;
    color: #dc3545;
  }
  
  .leaveUsedPrivilege {
    font-size: 13px;
    font-weight: bold;
    color: #dc3545;
  }
  
    .leavespanBlue {
      height: 12px;
      width: 12px;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #1b84e7;
      display: inline-block;
      margin-right: 8px;
    }

    .leaveSpanArrow {
      display: inline-block;
      margin-left: 8px;
    }

    .leavespanGreen {
      height: 12px;
      width: 12px;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #1caf9a;
      display: inline-block;
      margin-right: 8px;
    }

    .leavespanOrange {
      height: 12px;
      width: 12px;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #f49917;
      display: inline-block;
      margin-right: 8px;
    }

 
    .leavespanRed {
      height: 12px;
      width: 12px;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #dc3545;
      display: inline-block;
      margin-right: 8px;
    }
  

  .applyLeaveHeader {
    color: #fff;
    height: 65.5px;
    background-image: linear-gradient(to right, #1b84e7, #1515af);
  }

  .applyLeaveHeader .modalTitle {
      color: #fff;
  }

  .dashboardfiltersBtn1 {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 17px 12px 21px 0px;
    padding: 4px 16px;
  }

  .admin_leastfocus_graph1{
    width: 9em;
    margin-top: 0.68em;
    margin-bottom: -0.5em;
  }

  .admin_leastfocus_graph1 .submissionText1 {
    text-align: center;
    font-family: OpenSans-Bold;
    font-size: 13px;
    letter-spacing: 0.65px;
    color: #6c757d;
    bottom: calc(170px - 80px);
    position: absolute;
    /* left: 211px;
    top: 156px; */
    /* padding-top: 10px;
    margin-left: -12px; */
    transform: translate(18%, 20px);
}

.plan-this-task.modal-header {
  padding: 1.5em 3em;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  /* border-radius: 11px; */
}

.pt20{
  padding-top: 20px;
}

.daily-call-report1 {
  font-size: 1.18em;
  font-family: 'OpenSans-Bold';
  color: #343a40;
  border-left: 5px solid #f49917;
  line-height: 2.01em;
  padding-left: .842em;
  margin-bottom: 1em !important;
}

.padding24{
  padding:24px;
}

.leaveNumber{
  text-align: center;
  font-size: 23px;
  font-weight: 600;
}
.leavedatepick i.icon.calendar:before{
  color:#1b84e7;
}

.ui.selection.DatesRangeInput>.calendar.icon {
  cursor: pointer;
}

.ui.fluid.input>input {
  width: 0!important;
  cursor: pointer;
}
.calendar {
  padding: 12px 12px 12px 12px;
  border-left: 1px solid #6c757d50;
  cursor: pointer;
}

.displayProgressbar{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  /* overflow: auto; */
  width: 100%;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  scrollbar-width: thin;
}
/* .pullDistributor{
  margin-left: 0px;
  margin-right: 0px;
} */


.piechart_container1{
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 273px; */
    /* height: 320px; */
}
.pullLeaveLeft{
  /* margin-left:-26px;
  margin-right:-34px; */
}
.pd27{
  /* padding-left: 27px;
    padding-right: 44px; */
    margin-left: -11px;
    margin-right: 1px;
}
.displayProgressbar .col-xl-3{
  /* max-width: 22.5%; */
}


/* ======================================================================== */

/* .scroller {
  overflow-x: scroll;
  scrollbar-color: #C2D2E4;
  scrollbar-height: 2px; 
} */



