@media screen and (max-width: 575px) {
    /* .piechart_container1{
        height: 290px;
    } */
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 142px;
    }
    /* .pullLeaveLeft{
        margin-left:-26px;
        margin-right:-34px;
      }
      .pd27{
        padding-left: 27px;
          padding-right: 44px;
      }
      .displayProgressbar .col-xl-3{
        max-width: 24.5%;
      } */
      
    .displayProgressbar .col-xl-3{
        max-width: 100%;
      }
      .displayProgressbar{
        margin-right: 0;;
      }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* .piechart_container1{
        height: 275px;
    } */
    
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 136px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .piechart_container1{
        height: 300px;
    } */
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* .piechart_container1{
        height: 300px;
    } */
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}

 @media (min-width: 1300px) and (max-width: 1499px) {
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}

 @media (min-width: 1600px) and (max-width: 1910px) {
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}

@media screen and (min-width: 1920px) {
    .admin_leastfocus_graph .submissionText1 {
        left: 50%;
        top: 155px;
    }
}  