.showMatTab {
    /* padding: 1.37em 0em 1.18em 2.28em; */
    background-color: #fff;
}
.appliedBtn{
    background-color: #1515af;
    color: #fff;
    padding: 0.1em 0.875em;
    border-radius: 4px;
    width: 7em;
    text-align: center;
}
.confirmBtn{
    background-color: #f49917;
    color: #fff;
    padding: 0.1em 0.875em;
    border-radius: 4px;
    width: 7em;
    text-align: center;
}
.pl16{
    padding-left: 1em;
}
.materialFilter::after{
    display: inline-block;
    margin-left: 1em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}
.materialFilter{
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 14px 12px 21px 0px;
    padding: 8px 22px;
}
.matrialFilterpad{
    padding:.78571429rem 1.14285714rem;
    font-size: 1rem;
    color:#6c757d
}
.dropdown-item:active{
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
}
.matrialFilterpad:hover{
    background-color: #f2f2f2;
}

.materialFilterDrop::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.materialFilterDrop {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.materialFilterDrop{
    position: absolute;
    top: calc(100% - 34px);
    background: #ffffff;
    /* z-index: -1; */
    text-transform: capitalize;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    left: 6px;
    width: 8.125em;
    border-radius: 5px;
    padding: 8px;
    /* height: 200px; */
    overflow-y: scroll;
    max-height: 16.02857143rem;
}
.mimgpad{
    padding-right:0.5em;
}
.materialEntryField{
    background: #fff;;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.drophead{
    font-size: 0.75em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.6px;
    text-align: left;
    color: #6c757d;
}
.dropheadVal{
    font-size: 0.75em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.6px;
    text-align: left;
    color: #343a40;
}
.mb16{
    margin-bottom: 0.5em;
}
.materialCancelBtn{
    display: inline-block;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 5px;
    color: #fff;
    font-family: "OpenSans-Semibold";
    font-size: .875em;
    padding: 0.5em 1em;
    line-height: 1.36;
    letter-spacing: 0.7px;
    transition: .2s all;
}
.materialCancelBtn-outline{
    background-color: transparent;
    color: #dc3545;
}
.materialCancelBtn:hover, .materialCancelBtn:active, .materialCancelBtn:focus,
.materialCancelBtn.materialCancelBtn-outline:hover, .materialCancelBtn.materialCancelBtn-outline:active, .materialCancelBtn.materialCancelBtn-outline:focus{
    outline: none;
    box-shadow: none;
    color: #fff;
    background-color: #C8313F;
    border:1px solid #C8313F;
}
.addMatBtn{
    margin-top: 0.6em;
    margin-left: 1.2em;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    /* height: 2.32em; */
    margin-bottom: 1.5em;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
    padding:0.6em 1em;
}
.mt32{
    margin-top:2em;
}
.visitingSection{
    border-top:2px solid #1b84e7;
}
.detailheading{
    /* font-weight: 600; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.84px;
  /* text-align: center; */
  color: #1b84e7;
  /* padding:1.5em 1.25em; */
  padding: 2em 1em 2em 2em;
  font-family: openSans-semibold;
  font-size: 0.875em;
}
.pl7{
    padding-left:0.437em;
}
.materialText{
    opacity: 0.5;
  font-size: 0.75em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1.44px;
  text-align: left;
  color: #6c757d;
}
.MaterialmodalPad{
    padding:1.25em 3em 0em 3em;
}
.statinoraryText{
    font-size: 0.937em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1b84e7;
  text-transform: capitalize;
}
.subheading{
    font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1.68px;
  text-align: left;
  color: #343a40;
  font-size: 0.75em;
  font-family: "OpenSans-Semibold";
}
.VisitDivision{
    border-top: 2px solid #1b84e7;
}
.pb20{
    padding-bottom: 1.25em;;
}
.materialModal .plan-this-task.modal-body{
    max-height: 36em;
}
.modalVisitingHead{
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.84px;
    /* text-align: center; */
    color: #1b84e7;
    /* padding: 1.5em 1.25em; */
    padding: 1em 0em 0em 3em;
    font-family: "OpenSans-Semibold";
    font-size: 0.875em;

}
.MaterialInPad{
    padding:1.25em 3em 0em 2em;
}
.invoiceName{
    /* font-weight: bold; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.84px;
  /* text-align: center; */
  color: #1b84e7;
  font-family: "OpenSans-Semibold";
  /* padding-top:0.875em; */
  font-size: 0.875em;
  /* padding-bottom: 100px;; */
}
.invoiceImg{
    /* width:500px;
    height:350px; */
    width:97%;
}
.downloadRightPad{
    padding-top:0.875em;
    padding-right:110px;
}
/* .materialTablePad .table td{
    padding: 1.28em 0em 0.5em 2.28em;
} */
.materialSearchPad{
    margin:0.8em 1em 0em 0em;
}
.notepad{
    color:#6c757d;
    font-size: 1em;

}
.maineContent{
    background-color: #fff;
    margin-top:20px;
}
.popupDiv{
    position: absolute;
    top: -0.4em;
    /* right: 7em; */
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ffffff;
    border-radius: 10px;
    z-index: 999;
    background-color: #fff;
    padding: 0.62em;
    overflow: visible;
    width: 160px;
}
.divItem::first-letter{
    text-transform: capitalize;
}
.divItem{
    color: #6c757d;
    line-height: 1.29;
    padding:0.75em 0em 0.75em 1.5em;
}
.divItem:hover{
    color: #343a40;
    cursor: pointer;
    font-weight: 600;
}
.usernameText{
    color:#1b84e7;
}
.dispatchBtn{
    background-color: #1b84e7;
    color: #fff;
    padding: 0.1em 0.875em;
    border-radius: 4px;
    width: 7em;
    text-align: center;
}
.filename{
    letter-spacing: 1.68px;
    text-align: left;
    color: #343a40;
    font-weight: 600;
}
.upload .selectlocation{
    width:178px;
}

.dispatchUploadHead{
    color: #343a40;
    font-family: 'OpenSans-Bold';
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    letter-spacing: 0.96px;
    margin: 0;

}
.mt10{
    margin-top:0.625em;
}
.mr10{
    margin-right:0.625em;
}
.uploadBorder{
    margin-top:1.25em;
    border:1px solid rgb(112, 112, 112,0.3);
    background-color: #f7f8f9;
    border-radius: 6px;
    height: 368px;
    margin-right: 30px;
}
.imgIcon{
    text-align: center;
}
.pd50{
    padding-top:120px;
}
.mt20{
    margin-top:20px;
}
.materialBtn{
    flex-direction: row-reverse;
    padding:55px 0px 20px 30px;
}
.uploadImg{
    width:250px;
    height:100px;
}
.uploaded-image-card{
    /* width: 8.875em;
    height: 11.57em; */
    border-radius: 8px;
    border: solid 1px #d4d9de;
    /* margin: 0 1.25em 1.25em 0; */
}
.uploadedimage{
    width:100%;
    height:365px;
}
.materialTable .table-responsive{
    /* overflow: visible; */
    max-height: 42em;
}
.imgnm{
    color: #1b84e7;
    letter-spacing: 0.84px;
    font-weight: bold;
    padding-top:12px;
    padding-left:5px;
}
.dispatch{
    background-color: #1b84e7;
    color: #fff;
    padding: 0.1em 0.875em;
    border-radius: 4px;
    width: 7em;
    text-align: center;
    text-transform: capitalize;
}
.invoiceDel{
    position: absolute;
    right:-8px;
    top:-8px;
}
.upload .controls .react-datepicker-wrapper{
    width:100px;
}
.adminMaterial{
    background-color: #fff;
   
}
.Ubuttonfile{
    text-align: center;
    padding-top: 120px;
}
.dispatchFirt::first-letter{
    text-transform: capitalize;
}
.dispatchFirt{
    padding-left:5px;
}
.rejectText{
    color:#dc3545;
    font-size: 0.875em;
    padding-top: 2.86em;
    font-family: 'OpenSans-SemiBold';
}
.pb20{
    padding-bottom: 20px;;
}
.activeMonth{
    padding:.78571429rem 1.14285714rem;
    font-size: 1rem;
   
}
.activeMonth:hover{
    background-color: #f2f2f2;
}
.activeMonthCol{
    color:#343a40;
    font-weight: 600;
    font-family: "OpenSans-Semibold";
}
.resonErr{
    color:#dc3545;
    font-size: 0.875em;
    padding-top: 0.5em;
    font-family: 'OpenSans-SemiBold';
}