@media screen and (max-width : 575px){
  .tabhead{
    margin-top: 0px;
  }
  .expense-note-det{
    display: block !important;
    line-height: initial !important;
  }
  .prpbillupload{
    margin-top: 0px;
  }
  .entercomemt{
    width: 230px;
  }
  .prpcanceldiv{
    margin-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .table2prp .table thead th{
   min-width: 12em !important;
}
.prpbillupload{
	margin-top: 0px;
}
.prpcanceldiv{
  margin-top: 0px;
}
}

@media screen and (max-width: 575px){
  .table2prp .table thead th{
    min-width: 12em !important;
 }
 .prpbillupload{
	margin-top: 0px;
}
.prpcanceldiv{
  margin-top: 0px;
}
}

@media (min-width: 576px) and (max-width: 767px) {
  .table2prp .table thead th{
    min-width: 12em !important;
 }
 .prpbillupload{
	margin-top: 0px;
}
.prpcanceldiv{
  margin-top: 0px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .table2prp .table thead th{
    min-width: 12em !important;
 }
 .prpbillupload{
	margin-top: 0px;
}
.prpcanceldiv{
  margin-top: 0px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .table2prp .table thead th{
    min-width: 10em !important;
 }
 .prpbillupload{
	margin-top: 0px;
}
.prpcanceldiv{
  margin-top: 0px;
}
}