.dcrtab-req.nav-tabs .nav-link.active, 
.dcrtab-req.nav-tabs .nav-link.active:hover, 
.dcrtab-req.nav-tabs .nav-link.active:focus,
.dcrtab-req.nav-tabs .nav-link.active:active {
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to right, #1b84e7, #1515af), url(../../../public/assets/images/Operational_menu.svg);
  color: #ffff;
  margin-right: 10px;
}
.dcrtab-req.nav-tabs .nav-link, 
.dcrtab-req.nav-tabs .nav-link
.dcrtab-req.nav-tabs .nav-link
.dcrtab-req.nav-tabs .nav-link{
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%);
  margin-right: 10px;
}
.nav-tabs{
  border-bottom: none;
}
.nav-tabs .nav-link{
  border: none;
  color: #343a40;
}
.exp-view{
    color: #1b84e7 !important;
    text-transform: capitalize;
}
.rejectBtn, .rejectBtn:hover{
    padding: 5px 20px;
    margin: 33.8px 0px 19.5px 13px;
    background: #f8f9fa;
    border-color: #f8f9fa;
    color: #6c757d;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}
.appdetails{
    margin-top: 1em;
}
.brandleftmargin{
  margin: 5px 8px 5px 12px;
}
.attachmentprp{
    font-size: 13px;
    letter-spacing: 0.6px;
    color: #1b84e7;
    display: flex;
}
.attachmentcancel{
  width: 5px;
  margin-left: 2.5px;
  margin-bottom: 10px;
}
.attachmentdiv{
  background-color: #dc3545;
    border-radius: 12px;
    margin-left: 8px;
    height: 10px;
    width: 10px;
    margin-top: 4.5px;
}
.approvedtext{
	color: #00b7b7;
}
.printmargin{
    margin-right: 5px
}
.PrintBtn, .PrintBtn:hover{
	border-color: #f49917;
	margin-right: 16px;
	border-radius: 8px;
	background-color: #f49917;
	padding-right: 15px;
	padding-left: 15px;
}
.typereq{
font-family: OpenSans-semibold;
font-size: 14px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 2.79;
letter-spacing: 0.79px;
text-align: left;
color: #343a40;
}
.description{
    border: solid 0.05em #6c757d80;
    border-radius: .35em;
    resize: none;
    font-size: 12px;
    color: #343a40;
}
.holdBtn, .holdBtn:hover{
    border-radius: 4px;
    border-color: #f49917;
    color: #f49917;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
    height: 2.7em;
    margin-bottom: 1.5em;
    margin: 33.8px 0px 19.5px 13px;
    padding: 5px 20px;
    background: #f8f9fa;
}
.dangerimg{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.confirmtxt{
	font-family: 'OpenSans-Bold';
  font-size: 27px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #343a40;
}
.confirmnote{
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #6c757d;
	margin-top: 20px;
  font-family: "OpenSans-semibold";
}
.widthhundred{
	width: 100%;
}
.modalbtns{
	display: flex;
  justify-content: center;
}
.prptab{
  border-radius: 6px;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
}
.tabhead{
  margin-top: -38px;
  padding-left: 32px;
}
.prpmarginbtm{
  margin-bottom: 1em;
}
.flexwrap{
  display: flex;  
  flex-wrap: wrap;
}
.srcDetails{
    color: #1b84e7;
    cursor: pointer;
}
.SubArea{
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 0.7px;
    text-align: left;
    color: #343a40;
    font-size: 13px;
    font-family: OpenSans-semibold;
}
/* Prp Manager */
.newentryprp {
    background-color: #fff;
    margin-left: 2px;
    /* display: flex; */
    margin-top: 0 !important;
    box-shadow: -17px 5px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px  ;
    border-bottom-left-radius: 6px  ;
}

 .prpcalender-entry{
    cursor: pointer;
    /* position: absolute; */
    /* height: 100%; */
    top: .78571429em;
    right: 1em;
    z-index: 3;
    margin: -.78571429em;
    /* padding: 1em; */
    border-left: solid 0.5px #6c757d96;
    padding-top: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    margin-top: -0.785714em;
    margin-right: -0.785714em;
    margin-bottom: -0.785714em;
    margin-left: -0.785714em;
}

.calender-entry{
    border:1px solid #6c757d50;
    border-radius:4px;
    padding:7.5px 14px;
    display: flex;
    justify-content: space-between;
}

.prpacount{
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.25em;
}


.prpacount-table th {
    white-space: nowrap;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px; 
   border-color: #ffffff;
   font-size: .875em;
   font-family: 'OpenSans-SemiBold';
   padding: 1em 0em 1em 2.28em;
   /* position: sticky; */
   top: -1px;
   z-index: 1;
   vertical-align: middle;
   border-top: 2px solid rgba(0, 0, 0, 0.05);
   text-align: start;
}

/* .prpacount-table td {
   white-space: nowrap;
   padding-left: 40px !important;
   padding-right: 40px !important;
   text-align: center;
   border-top: 1px solid #f1f1f1;
   padding-top: 8px;
   padding-bottom: 8px;
   font-size: .875em;
   color: #6c757d;
   font-family: 'OpenSans-SemiBold';
   white-space: nowrap;
   text-transform: capitalize;
} */

.prpacount-table{
    overflow-x: auto;
    overflow-y: auto;
    /* height: 20em; */
    height: auto;
    padding-bottom: 2em;
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    margin-right: 2em;
    margin-left: 2em;
}

.prpacount-table table{
    width: 100%;
}

.prpacount-table .training-amt .trainingamt {
    white-space: nowrap;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px; 
   border-color: #f1f1f1;
   font-size: .875em;
   font-family: 'OpenSans-SemiBold';
   padding: 1em 0em 1em 2.28em;
   position: sticky;
   top: -1px;
   z-index: 1;
   vertical-align: middle;
   border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
   text-align: start;
}

.training-amt-input{
    width: 8.6em;
    height: 2.29em;
    border-radius: .35em;
    border: solid 0.05em #6c757d80;
    padding: 0.5em;
    color: #343a40;
    text-align: center;
 }

 .prpacount-table .acountname{
    font-family: "OpenSans-semibold";
    font-size: 12.5px;
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.6px;
    /* text-align: left; */
    color: #6c757d;
 }

 .prpacount-table .trainingamt{
    font-family: "OpenSans-semibold" !important;
    font-size: 13.5px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    /* text-align: left; */
    color: #6c757d;
    text-transform: capitalize;
 }

 .send-for-aprvl{
     margin-left: 1em !important;
 }

 .prpacount-table .trainingamt-total{
    font-family:  'OpenSans-Bold' !important;
    font-size: 18px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    padding-left: 1.8em;
    /* text-align: left; */
 }

 .prptype-req{
    color: #343a40;
    font-family:"OpenSans-bold";
    font-size: 1em;
    padding: 1em 1em 0.5em 2em;
    letter-spacing: 0.96px;
    margin:0 ;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.96px;
}

.acount-detailsprp{
    color: #343a40;
    font-family:"OpenSans-bold";
    font-size: 1em;
    padding: 1.5em 1em 1.5em 2em;
    letter-spacing: 0.96px;
    margin:0 ;
}

/* .doctorrr .sfa-search-dropdown .ui.selection.dropdown{
    width: 25em !important;
} */

.paralocation-prp{
    margin-top: 20px;
    font-family: "OpenSans-semibold";
  font-size: 13px;
  /* font-weight: 600; */
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c757d;
  min-width: 22em;
}

.brands-drop-prp{
    display: block !important;
    margin-top: 0em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}


.newentryprp .selectedDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 84px;
    overflow-x: hidden;
    overflow-y: auto;
    /* padding-left: 2em; */
}

.prpexpense-det{
    color: #343a40;
    font-family: "OpenSans-bold";
    font-size: 1em;
    padding: 1.5em 1em 0.5em 2em;
    letter-spacing: 0.96px;
    margin: 0;
}

.expense-note-det{
    font-size: 12px;
    margin-top: 5px !important;
    padding-top: 0 !important;
    /* text-align: center; */
    align-items: flex-end;
    display: flex;
    padding-bottom: 1.5em;
    font-family: "OpenSans-semibold";
    color: #6c757d;
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
}

.prpexpnote{
    color: #dc3545;
    font-size: 12px;
}

.prpacount .locationsfa{
    margin-right: 1.3em;
    margin-left: 1.3em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.doctorattend{
    padding-left: 0.5em !important;
}

.trngexpenamt{
    font-family: "OpenSans-semibold" !important;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    /* text-align: left; */
    color: #343a40;
}
 
.appr-c-rej{
    color: #00b7b7;
}


.dataa {
    background-color: #fff;
    margin-left: 2px;
    /* display: flex; */
    margin-top: 1.25em;
    box-shadow: -17px 5px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px  ;
    border-bottom-left-radius: 6px  ;
    width: 58%;
}

.asd {
    background-color: #fff;
    margin-left: 2px;
    /* display: flex; */
    margin-top: 1.25em;
    box-shadow: -17px 5px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px  ;
    border-bottom-left-radius: 6px  ;
    width: 40%;
}

.doc-prp-upload{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.asd .user-heirarchy-field-containers .customized-input{
    width: 288px;
}

.namess{
    margin-right: 1.3em;
    margin-left: 1.3em;
    display: flex;
}

.asd .namess .user-heirarchy-field-containers .customized-input{
    width: 125px;
}

.asd .namess .user-heirarchy-field-containers  {
    width: 160px !important;
}

.prp-det-expense{
    font-family: "OpenSans-semibold" !important;
    font-size: 13.5px;
  /* font-weight: 600; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #343a40;
  margin-top: 1em;
  /* width: 25em; */
}

.prp-det-expense-head{
    font-family: "OpenSans-semibold" !important;
    font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #343a40;
  margin-top: 1em;
}

.brands-for {
    background-color: #fff;
    border: 1px solid rgba(108, 117, 125,0.1);
    border-radius: 8px;
    /* margin-left: 21px; */
    margin-bottom: 7px;
    margin-top: 8px !important;
    border: none;
}

.brands-form{
    padding-left: 2em;
    padding-right: 3em;
}

.brands-form .form-control{
    font-size: 0.75em;
}

.uploaddoc-button{
    background-color: #ffff;
    width: 14em;
    opacity: 0.6;
    border-radius: 5px;
    border: solid 0.5px #6c757d;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.uploaddoc-button .prpmarginbtm{
    margin-bottom: 1em;
    margin-top: 1em !important;
}

.reqcancel, .reqcancel:hover{
    /* padding: 5px 20px; */
    /* margin: 33.8px 0px 19.5px 13px; */
    /* background: #f8f9fa; */
    /* border-color: #f8f9fa; */
    color: #6c757d;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}

.reasonforcan{
    font-size: 12px;
    margin-top: 0 !important;
    padding-top: 0 !important;
    /* text-align: center; */
    align-items: flex-end;
    display: flex;
    padding-bottom: 1.5em;
    font-family: "OpenSans-semibold";
    color: #6c757d;
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  padding-bottom: 0.7em;
}

.entercomemt{
    font-size: 12px;
    font-family: "OpenSans-semibold";
    width: 316px;
    height: 145px;
    border-radius: 4px;
    /* border: 0.5px solid rgb(108, 117, 125);
    background-color: rgb(255, 255, 255); */
    padding: 14px;
    resize: none;
    color:  black !important;
    border: solid 0.5px #6c757d;
  background-color: #ffffff;
}

.input-member-meeting .customized-input{
    width: 100%;
}

.team-mbr-meet{
    margin-bottom: 0.7em;
}

.brandssprp {
    width: 100% !important;
}

.daterror-msg{
    color: #dc3545 !important;
     margin-top: .5em;
     font-size: .8em;
 }

 .prp-subarea-text{
    color: #6c757d96;
    font-size: 0.9em;
    font-family: 'OpenSans-Regular';
    text-transform: capitalize;
    line-height: 1em;
    display: flex;
    letter-spacing: .4px;
    align-items: center;
 }

 .subareaselectedDropdown{
    background-color: rgba(0, 0, 0, 0.06);
    margin:5px 8px 5px 1px;
    padding:7px 10px;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: #343a40;
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
}
 
.prpicon{
    display: flex;
}

.prpfilterdrop{
 width: 11.125em !important;
}

.prpreqapprdate{
    text-transform: capitalize;
}

.btnnok {
    background-color: #00b7b7;
    color: white;
    /* padding: 0.2em 0.885em; */
    font-size: 14px;
    border-radius: 8px;
    border: #00b7b7;
    height: 2.5em;
    /* margin-right: 1.5em; */
    width: 4em;
    /* margin-top: 1em; */
    /* margin-left: 1em; */
 }
 .redcancelprp{
    height: 20px;
    padding-left: -36px;
    margin-left: -25px;
 }

 .subareaLableprp{
    font-family: 'OpenSans-SemiBold';
    color: #6c757d;
    font-size: 13px;
    letter-spacing: .6px;
    padding-bottom: .5em
}



.other-ops .dcr-options.prpsortfilt::before{
    content: url(../images/filterr.svg)   !important ;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  .other-ops .dcr-options.prpsortfilt2::before{
    content: url(../images/calendar-grey.svg) !important;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  .other-ops .dcr-options.prpsortfilt {
    padding-top: .9em !important;
    width: 15em;
    border-radius: 8px;
}

.prpbodysearch{
    padding-right: 1em;
}
.status-optionsprp::before {
    content: url(../../../public/assets/images/filterr.svg) !important;
}

.nofile{
    font-weight: bold;
    padding-bottom: .9em;
    padding-top: .6em !important;
}
.prpexport{
    margin: 0px 10px 21px 10px;
}
.prpmargintopzero{
    margin-top: 0.1px !important;
}
.prpremarkwrap{
    white-space: break-spaces !important;
    /* width: 50%; */
}
.prpabsolute{
    position: absolute;
}
.prpmenushow{
    margin-top: -3.2em;
}
.documentuploadrowprp{
    margin-top: 30px;
}
.prpfilebox{
  margin-bottom: 8px;
}
.prpbillupload{
	margin-top: -210px;
	position: relative;
}
.prpdochead{
	margin-bottom: 28px !important;
}
.prpcanceldiv{
	margin-top: 50px;
}
.entercomemt::placeholder{
    color: #6c757d;
        opacity: 0.6;
}