.sfa_report_table_con{
    width: 100%;
    overflow: auto;
}
.sfa_report_table_con table tr th{
    padding: 0.5em;
}
.sfa_report_table_con .med_wid{
    min-width: 3.5em;
}
.sfa_report_table_con .lar_wid{
    min-width: 5.5em;
}
.sfa_report_table_con .xl_wid{
    min-width: 9.25em;
}
.sfa_report_table_con .drs_eng{
    min-width: 11.5em;
}
.sfa_report_table_con .drs_li{
    min-width: 10em;
}
.sfa_report_table_con .no_call{
    min-width: 8.5em;
}
.sfa_report_table_con .sec_row_rep_tab th{
    text-align: center;
}
.sfa_report_table_con .first_row_rep_tab th{
    text-align: center;
    border-top: solid 1px #6c757d;
}
.sfa_report_table_con table th{
    background-color: #f8f9fa;
    border-left: solid 1px #6c757d;
    border-right: solid 1px #6c757d;
}
.sfa_report_table_con table .bor_rows{
    border: solid 1px #6c757d;
}
.sfa_report_table_con .third_row_rep_tab th{
    border-bottom: solid 1px #6c757d;
}
.sfa_report_table_con table tr td{
    padding: 0.5em;
    border: solid 1px #6c757d;
}