.padd-top-22{
  padding-top: 22px !important
}
.pt20{
  padding-top: 0.2em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}
.rpsSubTab.nav-tabs .nav-link.active, .rpsSubTab.nav-tabs .nav-link.active:hover, .rpsSubTab.nav-tabs .nav-link.active:focus, .rpsSubTab.nav-tabs .nav-link.active:active{
  background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%);
  border-radius: 5px;
  color:#fff;
  margin-right:10px;
  /* font-weight: 600; */
  font-family: openSans-semibold;
  font-size: 0.9em;
  margin-top:20px;
}
.rpsSubTab.nav-tabs{
  margin:32px 0px 32px 32px;

}
.rpsSubTab.nav-tabs .nav-link, .rpsSubTab.nav-tabs .nav-link, .rpsSubTab.nav-tabs .nav-link, .rpsSubTab.nav-tabs .nav-link{
  margin-top:20px;
}

.statusDiv{
  font-size: 14px;
  padding: .78571429rem 1.14285714rem!important;
  text-transform: lowercase;
  cursor: pointer;
}
.statusDiv::first-letter{
  text-transform: uppercase !important;
}
.statusShow{
  font-size: 14px;
  /* padding: .78571429rem 1.14285714rem!important; */
  text-transform: lowercase;
  cursor: pointer;
}
.statusShow::first-letter{
  text-transform: uppercase !important;
}
.statusDrop{
  /* margin-top:10px; */
}
.tabRps{
  background-color: #fff;
  margin-top:20px;
  /* overflow-x: scroll;
  width:100%; */
}
.rpsDrop .selectlocation{
  width:100%;
  height: 40px;
}

.statusDrop::after{
  display: inline-block;
    margin-left: 1.255em;
    /* vertical-align: .255em; */
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    margin-top: 7px;
}
.ui.rps-options.selection.dropdown .menu{
  scrollbar-width: none;
}
.other-ops .dcr-options.rps-options{
  padding-top: .75em !important;
  width: 11em;
  border-radius: 8px;
}
.pr10{
  margin-right:10px;
  width:100px;
  height:41px;
}
.approveBtn{
  background-color: #00b7b7;
  color: white;
  padding: 0.2em 1.885em;
  font-size: 14px;
  border-radius: 8px;
  border: #00b7b7;
  height: 3em;
    /* margin-right: 1.5em; */
}
.approveBtn:hover{
  background-color: #00b7b7;
}

.rpstab .claim-list-tabs-container .claim-list-tabs {
  border: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
   margin: 0em  0em 1.25em 0em!important; 
  padding-left: 2em;
  background: #ffffff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.MobileerrMsg{
  color:#dc3545;
  font-size:0.8125em;
}
@media screen and (max-width: 575px){
  .mobileMargin{
    margin-bottom: 1em;;
  }
  .rpspt16{
    padding-top:1em !important;
  }
  .rpsDrop .selectlocation .ui.selection.dropdown{
    height:3.3em !important;
  }
  .ui.rps-options.dropdown>.text{
      width: 45px;
  }
  .other-ops .dcr-options.rps-options{
      width: 11.5em;
  }
  .other-ops .dcr-options.rps-options span{
      display: inline-block;
  }
  .other-ops .input-group{
      margin-bottom: .625em;
  }
  .f1-progress{
    top: 60.5px !important;
  }
  .step .step-details{
    width: 75px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .f1-progress{
    top: 67.5px !important;
  }
}
.swetatable  .table-responsive{
  display: block;
  /* overflow: visible; */
  overflow: unset !important;
  
}
.swetatable{
  /* border-bottom:1px solid #6c757d50; */
}
.swetatable .table{
  border-bottom:1px solid #6c757d50;
}
.docPro{
  font-size: .75em;
    color: #6c757d;
}
.rightRcpabar{
  height: calc(100vh - 76px);
}
.swetatable .datatable .table td{
  padding: 2.28em 0em 3.28em 2.28em;
}
.rcpasideBar{
  width: 20.3em;
  float: right;
  position: relative;
  z-index:2
}
.prevDet{
  color: #1b84e7 !important;
  margin-bottom: 20px;
  font-size: 1.187em;
  padding-top:1.25em;
}
/* .swetatable .datatable .table-responsive::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome 
} */
.other-ops .dcr-options.rps-options:hover,
.other-ops .dcr-options.rps-options:active,
.other-ops .dcr-options.rps-options:focus,
.other-ops .dcr-options.rps-options:hover:active{
  background-color: transparent !important;
  border-radius: 8px;
  border-color: #6c757d50 !important;
}
.ui.dcr-options.rps-options.dropdown>.dropdown.icon:before{
  color: #343a40;
}
.ui.rps-options.selection.dropdown .menu>.item img{
  height: 12px;
  width: auto;
  max-width: 12px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  opacity: .5;
}
.ui.rps-options.selection.dropdown .menu>.item span{
  color: #6c757d;
  font-size: .875em;
  display: inline-block;
}
.ui.rps-options.selection.dropdown .menu .active.item img{
  opacity: 1;
}
.ui.rps-options.selection.dropdown .menu .active.item span{
  color: #343a40;
}
.ui.rps-options.upward.selection.dropdown.visible{
  border-radius: 8px 8px !important;
  border-color: transparent;
}
.ui.rps-options.active.selection.dropdown{
  border-radius: 8px !important;
  border-color: #6c757d50 !important;
  background-color: transparent !important;
}
.ui.rps-options.selection.dropdown .menu{
  border-radius: 2px;
  border: 0;
  margin-top: 4px;
  padding: 12px 8px;
  box-shadow: 0px 0px 4px 1px rgba(34,36,38,.15);
}
.ui.upward.rps-options.selection.dropdown .menu{
  border-radius: 8px 8px 0 0;
}
.other-ops .dcr-options.rps-options::before{
  content: url(../images/calendar-grey.svg);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.other-ops .dcr-options.rps-options.status-filter::before{
  content: url(../images/columns.svg);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.wizard-sec{
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: .5em;
  padding: .75em 0em;
  margin-bottom: 1.562em;
}
.f1 {
  padding: 25px;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.f1 h3 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.f1-steps {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 4px 0;
}
.f1-progress {
  position: absolute;
  top: 75.5px;
  left: 12.5%;
  width: 75%;
  height: 2px;
  background: #e9e7ee;
}
.f1-progress-line {
  height: 2px;
  /* background-color: #1b84e7; */
}
.f1-progress-line .progress-bar{
  background-color: #1b84e7;
}
.step{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.step .f1-step {
  background: #fff;
  border: 2px solid #e9e7ee;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.activated.step .f1-step {
  background-color: #1b84e7;
  border: 2px solid #1b84e7;
  height: 28px;
  width: 28px;
}
.active.step .f1-step{
  background-color: #fff;
  border: 2px solid #fff;
  height: 28px;
  width: 28px;
  box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.1);
}
.step .f1-step .f1-step-icon .fa-circle,
.step .f1-step .f1-step-icon .fa-check{
  display: none;
}
.step.activated .f1-step .f1-step-icon .fa-check{
  display: block;
  color: #fff;
}
.step.active .f1-step .f1-step-icon .fa-circle{
  display: block;
  color: #1b84e7;
  font-size: 12px;
}
.step p{
  font-family: "OpenSans-Semibold";
  font-size: .75em;
  opacity: 1;
  margin-top: 1.33em;
  margin-bottom: 0;
}
.step.active p{
  opacity: 0;
}
.step .step-details{
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
  width: 103px;
  border-radius: 3px;
  position: relative;
  margin-bottom:1em ;
}
.step .step-details::after{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid #fff;
  bottom: -8px;
  left: calc(50% - 10px)
}
.step .step-details h5{
  font-size: .625em;
  font-family: "OpenSans-Semibold";
  color: #6c757d;
  margin-top: .8em;
  margin-bottom: .3em;
  text-align: center;
}
.step .step-details h4{
  font-size: .6875em;
  font-family: "OpenSans-Semibold";
  color: #343a40;
  margin-top: 0em;
  margin-bottom: .5em;
  text-align: center;
}
.step.active .step-details{
  opacity: 1;
}
.rps-tab-sec{
  background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.06); */
    /* padding: 1.5em 1.25em; */
    padding: 1.5em 0em;
    /* margin-top: 1.25em; */
}
.rps-tab-sec1{
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.06); */
  padding: 1.5em 1.25em;
  /* padding: 1.5em 0em; */
  /* margin-top: 1.25em; */
}
.uploadPic{
  padding-left:0.625em;
  padding-top:1em;
  color:#1b84e7;
}
.secondary.secondary-outline.uploadfiles{
  border-color: #6c757d66;
  color: #343a40;
  /* margin-right: 1.375em; */
  /* margin-top: -1.25em; */
  padding: 0.625em 0.625em;
}
.rpsReqTable .table-responsive{
  overflow: unset !important;
}
.pagPad50px{
  padding-bottom:60px;
}
.rpsReqTable .pagination-sec{
  border: none;
}
.prevAlist{
  background-color: #fff;
  border:1px solid #6c757d66;
  margin-top:1.25em;
}
.rpsAction .menuShow{
  position: absolute;
  top: -0.7em;
  right: 0em;
  right: -1em;
  border: solid 1px #ffffff;
  border-radius: 10px;
  z-index: 999;
  background-color: #fff;
  padding: 0.62em;
  overflow: visible;
}
.tableScroll{
  overflow-x: scroll;
}
.dateWidth{
  width:180px;
}
.imgpad20{
  padding-top:1.25em;
}
.imgpadBot{
  padding-bottom: 0.625em;
}
.mt-2_0{
  /* margin-top: 1.9em; */
  line-height: 1.25;
}
.benifisary{
  color: #1b84e7;
    margin-bottom: 20px;
    font-size: 1.187em;
}
.padBottom20{
  padding-bottom: 1.25em;
}
.bottomBor{
  border-bottom:2px solid rgb(108, 117, 125,0.4);
}
.pt18{
  padding-top:1.125em;
}
.rps-tab-sec-title{
  font-size: 1em;
  color: #343a40;
  font-family: "OpenSans-SemiBold";
  /*margin-top: 0;*/
  margin-bottom: 0em;
}
.pl10{
  padding-left:0.625em;
}
.pr30{
  padding-left:1.875em;
}
.rps-notesec{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.rps-notesec span.rps-note{
  font-family: "OpenSans-SemiBold";
  color: #6c757d;
  font-size: .6875em;
  margin: 0 0 0 1.81em;
}
.rps-notesec span.rps-note b{
  font-family: "OpenSans-Bold";
}
.rps-notesec span.note-red{
  color: #dc3545;
}
textarea.form-control{
  padding: 1.33em;
}
.rps-wizarditem-title-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1.25em;
  flex-wrap: wrap;
}
.add-new-btn{
  display: inline-block;
  background-color: #f27510;
  background-image: linear-gradient(to right, #f27510, #f49917 99%);
  border-radius: 6px;
  border: 0;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: .875em;
  padding: 0.5em 1.14em;
  line-height: 1.36;
  letter-spacing: 0.7px;
  transition: .2s all;
}
.add-new-btn:hover, .add-new-btn:active, .add-new-btn:focus{
  outline: none;
  box-shadow: none;
  color: #fff;
  border: 0;
  background-color: #f49917;
  background-image: linear-gradient(to right, #f49917, #f27510 99%);
}
.rate-qty-sec{
  display: flex;
  align-items: center;
}
.rate-qty-sec .customized-input{
  width: 6em;
  margin-left: 1em;
}
.rate-qty-sec .customized-input:first-child{
  margin-left: 0;
}
.rate-qty-sec img{
  margin-left: 1em;
  cursor: pointer;
}
.rps-item-details{
  width: 12.3em;
}
.singledropdown.rps-item-details .ui.fluid.dropdown>.dropdown.icon{
  border: 0;
  padding-top: 11px;
}
.singledropdown.rps-item-details .ui.fluid.dropdown>.dropdown.icon::before{
  color:#343a40;
}
.expense-link{
  color: #1b84e7;
  cursor: pointer;
}
.expense-link:hover{
  text-decoration: underline;
}
.ui.selection.dropdown.rps-options .menu>.item{
   padding: .78571429rem .75rem!important;
}
.reqested-status{
  color: #f49917;
}
.confirmed-status{
  color: #1b84e7;
}
.approved-status{
  color: #00b7b7;
}
.rejected-status{
  color: #dc3545;
}
.expentry-sec .modal-content{
  /* height: 90vh; */
  height: 50vh;
}
.expenseRps .modal-content{
  height: 90vh;
}
.expentry-headertitle{
  font-size: 1.185em;
  color: #1b84e7;
}
.expentry-sec .modal-header{
  border-bottom: 1px dashed #dddddd;
  padding: 1em 2em 1em 2em;
}
.expentry-btn{
  display: inline-block;
  background-color: #1b84e7;
  border: 0px solid #1b84e7;
  background-image: linear-gradient(to right, #1b84e7, #1515af);
  border-radius: 5px;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: .875em;
  padding: 0.71em 1.92em;
  line-height: 1.36;
  letter-spacing: 0.7px;
  transition: .2s all;
}
.expentry-btn:hover, .expentry-btn:active, .expentry-btn:focus{
  outline: none;
  box-shadow: none;
  color: #fff;
  background-color: #1978D2;
  background-image: linear-gradient(to right, #1b84e7, #1515af);
  border: 0px solid #1978D2;
}
.expentry-sec .modal-footer{
  padding: 0 2em 2em 2em;
  border: 0;
  /* justify-content: flex-start; */
  justify-content: flex-end;
}
.expentry-sec .modal-body{
  height: calc(90vh - 8.25em);
  overflow-x: hidden;
  overflow-y: auto;
}
.expentry-body{
  padding: 1em 2em;
}
.expentry-title{
  font-size: .875em;
  font-family: "OpenSans-Semibold";
  color: #343a40;
}
.secondary.secondary-outline.uploadfile{
  border-color: #6c757d66;
  color: #343a40;
  margin-right: 1.375em;
  margin-top: -1.25em;
  padding: 0.375em 0.625em;
}
.fileupload-input{
  position: absolute;
  top:0;
  width: 10em;
  opacity: 0;
  height: 2.5em
}
.supported-files{
  font-size: .75em;
  font-family: "OpenSans-Semibold";
  color: #6c757d;
  margin-top: 1em;
}
.succ-color{
  color: #1caf9a;
}
.rpsentry-msg{
  font-size: .875em;
  font-family: "OpenSans-Regular";
  color: #6c757d;
}
.rpsentry-name{
  color: #343a40;
  font-size: .875em;
  font-family: "OpenSans-Regular";
  /* margin-bottom: 2em; */
}
.btn-spacing{
  padding: 1em;
  width: 100%;
}
.action-completed{
  color:#00b7b7;
}
.view-color{
  color:#1b84e7;
  margin-bottom: 20px;
  font-size: 1.187em;
  padding-left:2em;
}
.bold{
  font-weight: bold
}
.plan-this-task1{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding-right: 25em;
}
.user-heirarchy-field-containers1{
      width: 170px !important;
}
.ml-3{
  margin-left: 2em;
}
.validation-message{
  color: #dc3545 !important;
  margin-top: .5em;
  font-size: .8em;
  font-family: openSans-semibold;
}
.Rsidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 47px;
  right: 44px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.Rsidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.Rsidenav a:hover {
  color: #f1f1f1;
}

.Rsidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.margin75{
  margin-left:75px;
}
.pad65{
  padding-left:65px;
}
.rpsAccountDate .input-group{
  flex-wrap:nowrap;
}
.pad9_20{
  padding:20px 16px;
}
.borderDash{
  border-bottom: 1px dashed #707070;
}
.rcpaMsg{
  padding-left: 35px;
  padding-top: 25px;
  color: #dc3545;
}
.dcrStay.rps-item-details .sfcMrDropdown .ui.selection.dropdown{
  min-height: 2.5em !important;
  padding-bottom: 0!important;
  padding-top: .8em !important;
  z-index: none;
}
.dcrStay.rps-item-details .sfcMrDropdown .ui.selection.dropdown.ui.search.dropdown>.text {
  cursor: text;
  position: relative;
  left: 1px;
  z-index: 3;
  vertical-align: -webkit-baseline-middle;
}
.dcrStay.rps-item-details .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  top: 1em;
}