/* full screen*/
.admindashboard-sfc-first .datatable .table thead th{
    position: static !important;
    top: -1px;
}
.admindashboard-sfc{
    width: 100%;
    /* height: calc(100vh - 68px); */
    /* padding:0em 1.5em 0em 1.5em; */
}

.admindashboard-sfc-first {
    margin-top: 1em;
    background: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16); */
    /* border: 1px solid rgba(108, 117, 125,0.1); */
    /* padding: 1.56em 1em 0.5em 1.25em; */
}
.fullscreen_img1{
    cursor: pointer;
    margin-right: 2.125em;
}
.sfclist .btn-primary{
   background-color: transparent;
   border-color: transparent;
}

.sfclist .btn{
    padding: 0 !important
}

.sfclist .dropdown-toggle::after{
    color: #fff;
}

.sfclist .Repothers-dropdownapplyy{
    position: absolute;
    will-change: transform;
    top: -126px;
    left: 109px;
}
.sfclist .Repothers-dropdownapplyy.dropdown-menu{
    margin: .675rem 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 285px;
    padding: 22px;
    /* left: -214px; */
    border-radius: 6px;
    border:0;
    transform: translate3d(-224px, 39px, 0px) !important;
    top: -82px !important;
    left: -22px !important;
}
.sfclist .Repothers-dropdownapplyy.dropdown-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:35px;
    right: -16px;
    left: calc(50% - -142px);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    /* border-bottom:12px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-color: red; */
}

.sfclist .Repothers-dropdownapplyy .dropdown-item{
    padding:0;
}

.sfclist .otherexpara{
  /* font-family: "OpenSans-Regular"; */
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  /* text-align: center; */
  color: #343a40;
  padding-bottom: 0.6em;
}

.sfclist .infoblue-list{
    font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.56px;
  text-align: left;
  color: #495057;
}

.sfc-head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1.25em; */
    /* background-color: #fff; */
    /* box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06); */
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    /* border-top: 1px solid rgba(108, 117, 125,0.1); */
    /* border-left: 1px solid rgba(108, 117, 125,0.1); */
    /* border-right: 1px solid rgba(108, 117, 125,0.1); */
}
.sfcheadmain{
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);
}

.sfc-head-options{
    display: flex;
    flex-direction: row;
}
.sfc-head-edit-options{
    display: flex;
    flex-direction: row;
}

.sfc-head-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25em;
    /* background-color: #fff; */
    /* box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06); */
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    /* border-top: 1px solid rgba(108, 117, 125,0.1); */
    /* border-left: 1px solid rgba(108, 117, 125,0.1); */
    /* border-right: 1px solid rgba(108, 117, 125,0.1); */
}

.sfc-list-sec-head{
    color: #343a40;
    font-family: 'OpenSans-Bold';
    font-size: 1em;
    padding: 2em 1em 2em 2em;
    letter-spacing: 0.96px;
    margin:0 ;
}

.ongoing-orders-sfc{
    background-color: #fff;
    /* margin-top: -16px; */
    border-bottom: 1px solid rgba(108, 117, 125,0.1);
    border-radius: 8px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.06);  
    /* height: 48em; */
}



/* MY SFC LIST */

.apprvedsfchart{
    /* font-family: "OpenSansRegular";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #6c757d; */

  /* padding-bottom: 2.4375em; */
  padding-right: 55px;
  padding-left: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans-Regular" !important;
  font-size: 13.65px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #6c757d;
}
.table-order-row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5em;
    align-items: center;
    margin-left: 2em;
}

.activeTextGreenpending{
    background-color: #f0a202;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
 } 

 .partiallyActiveTextYellowapproved {
    background-color: #00b7b7;
    color: white;
    padding: 0.187em 1.25em;
    font-size: 14px;
    border-radius: 4px;
 }

 .dcr-table-optionsfc {
    padding: 0 2em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'OpenSans-Regular';
    justify-content: space-between;
    /* padding-top: 1em; */
    padding-bottom: 0.3em;
    align-items: center;
        
 }

 .datatablesfc .table td{
    font-size: .875em;
    color: #6c757d;
    font-family: 'OpenSans-SemiBold';
    padding-top: 0.8em !important;
    padding-right: 0em !important;
    padding-bottom: 0.8em !important;
    padding-left: 3em !important;
    white-space: nowrap;
    /* text-transform: lowercase;  */
 }
 .sfclistTable .table td{
    font-size: .875em;
    color: #6c757d;
    font-family: 'OpenSans-SemiBold';
    padding: 1em 0em 1em 3em;
    white-space: nowrap;
    /* text-transform: lowercase;  */
 }

 .sfclistTable .table thead th {
    border-bottom: solid 1px #f1f1f1;
    border-color: #f1f1f1;
    font-size: .875em;
    font-family: 'OpenSans-Bold';
    /* padding: 1em 0em 1em 2.28em; */
    padding-top: 1em !important;
    padding-right: 0em !important;
    padding-bottom: 0.9em !important;
    padding-left: 3em !important;
    background-color: #f8f9fa;
    white-space: nowrap;
    position: sticky;
    top: -1px;
    z-index: 2;
 }

 .datatablesfc .table thead th {
    border-bottom: solid 1px #f1f1f1;
    border-color: #f1f1f1;
    font-size: .875em;
    font-family: 'OpenSans-Bold';
    /* padding: 1em 0em 1em 2.28em; */
    padding-top: 1em !important;
    padding-right: 0em !important;
    padding-bottom: 0.9em !important;
    padding-left: 3em !important;
    background-color: #f8f9fa;
    white-space: nowrap;
    position: sticky;
    top: -1px;
    z-index: 2;
 }

 .datadropdowntable .datatablesfc .table thead th {
    border-bottom: solid 1px #f1f1f1;
    border-color: #f1f1f1;
    font-size: .875em;
    font-family: 'OpenSans-Bold';
    /* padding: 1em 0em 1em 2.28em; */
    padding-top: 1em !important;
    padding-right: 0em !important;
    padding-bottom: 0.9em !important;
    padding-left: 3em !important;
    background-color: #f8f9fa;
    white-space: nowrap;
    position: sticky;
    top: -1px;
    z-index: 2;
 }


 .fullScreen-mysfcimage{
    /* padding-right: 2em; */
    padding-left: .5em;
    display: flex;
    align-items: center;
}

.sfcfullimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullScreen-mysfcimage .fullpimg{
    height: 1.3em;
}

 
.datadropdowntable .datatablesfc .table thead th .pull-right{
    float: none !important;
    padding-left: .5em;
}

.datatablesfc .table thead th .pull-right{
    float: none !important;
    padding-left: .5em;
}

.datatablesfc .table{
        width: 100%;
        /* margin-bottom: 1rem; */
        color: #212529;
        position: relative;
        /* z-index: 1; */
}

/* NEW SFC CHART */
.sfc-list-sec-head .sfchartvalid{
    font-family: "OpenSans-SemiBold";
    font-size: 1em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: 0.8px;
    text-align: left;
    color: #1b84e7;
}
.distributorClaimListsfc {
    background-color: #fff;
    margin-top: 26px;
    border: 1px solid rgba(108, 117, 125,0.1);
    border-radius: 8px;
    /* margin-left: 21px; */
    margin-bottom: 7px;
    margin-top: 20px;
    border: none;
}

.paralocation{
    margin-top: 20px;
    font-family: "OpenSans-semibold";
  font-size: 12px;
  /* font-weight: 600; */
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c757d;
}

.selectlocation{
  width: 248px;
  height: 40px;
}


.KamClaimTablesfc {
    background-color: #fff;
    margin-left: 2px;
    /* display: flex; */
    margin-top: 1.25em;
    box-shadow: -17px 5px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px  ;
    border-bottom-left-radius: 6px  ;
}

.locationsfa{
    margin-right: 1.3em;
    margin-left: 1.3em;
}

.alldropsfclocation1 .locationsfa{
    margin-right: 1.3em;
    margin-left: 1.3em;
    margin-bottom: 1em;
}

.alldropsfclocation{
    display: flex;
    margin-top: 0em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.alldropsfclocation1{
    display: flex;
    margin-top: 0em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.addbtn{
    margin-top: 2.4em;
    margin-left: 1.2em;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    height: 2.32em;
    margin-bottom: 1.5em;
}

.enterlocation{
    font-size: 0.8em;
    opacity: 0.7;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.inptform{
    /* opacity: 0.7; */
}

.dropnnlocation{
    height: 2.23em;
   border: 1px solid #ced4da;
   border-top-right-radius: 0.3em;
   border-bottom-right-radius: 0.3em;
   height: 2.2em;
}

.dropnnlocation .btn-outline-secondary{
  border: none;
  color:#1b84e7;
}

.dropnnlocation .btn-outline-secondary:hover{
    background-color:transparent;
    box-shadow: #1b84e7 !important;
}
.dropnnlocation .btn-outline-secondary:focus{
    background-color:transparent;
    box-shadow: #1b84e7 !important;
    color:#1b84e7 !important;
}

.dropnnlocation .btn-outline-secondary:active{
    background-color:transparent !important;
    border-color: #1b84e7;
    color:#1b84e7;
    box-shadow: 0 0 0 0.2rem rgba(27, 132, 231, .5)!important;

}

.dropnnlocation .btn-outline-secondary:visited{
    background-color:transparent !important;
    border-color:  #1b84e7;
    color:#1b84e7;
    box-shadow: 0 0 0 0.2rem rgba(27, 132, 231, .5)!important;
}

.dropnnlocation .btn-outline-secondary:focus-within{
    background-color:transparent !important;
    border-color:  #1b84e7;
    color:#1b84e7;
    box-shadow: 0 0 0 0.2rem rgba(27, 132, 231, .5)!important;
}

.btn-outline-secondary:focus{
    box-shadow: 0 0 0 0.2rem rgba(27, 132, 231, .5)!important;
}
/* .dropnnlocation.btn-outline-secondary.dropdown-toggle{
    background-color:transparent !important;
    border-color:  #ced4da;
    color:#1b84e7 !important;
} */

.dropnnlocation .btn-outline-secondary:not(:disabled):not(.disabled):active{
    background-color:transparent !important;
    color:#1b84e7 !important;
    border-color: #1b84e7;
    box-shadow: #1b84e7 !important;
}

.dropnnlocation .btn-outline-secondary::after{
    width: 0.7em;
}

.submitchartbtn{
    width: 153px;
    height: 40px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #00b7b7;
    border: #00b7b7;
    color: #ffffff;
}

.exportbtn{
    border-radius: 8px;
    border: solid 1px #dfdfdf;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #343a40;
    background-color: #ffffff;
    width: 7.1875em;
    height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0em;
    margin-left: 1.5em;
    margin-right: 0.8em;
}

.exportimage{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* SFC CHART DETAILS */

.infoblue-icon{
    margin-left: 1.5em;
    margin-bottom: 0.24em;
}

.sfcnumber .sfc-no{
    /* width: 114px; */
  height: 22px;
  font-family:"OpenSans-Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 0.69; */
  letter-spacing: 0.8px;
  text-align: left;
  color: #343a40;
  margin-bottom: 0.7em;
}

.apprvby-date .apprvby{
    font-family:"OpenSans-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 1.68px;
  text-align: left;
  color: #343a40;
}

.apprvby-date .managerby{
    font-weight: bold;
}


/* delete */

.master-success1 .modal-content {
    /* border-radius: 10px !important; */
    /* overflow: hidden; */
    width: 532px;
    max-height: 448px;
    border-radius: 14px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
 }
 .div-form-sfc{
    height: 7em;
    padding-bottom: 8em;
 }

 .cls-sub-sfc{
    display: flex;
    justify-content: center;
}

 .btn-cancel-order-sfc{
    /* margin-left: 11em; */
    width: 6em;
    opacity: 0.95;
    border-radius: 8px;
    background-image: linear-gradient(to right, #df5a4b 0%,#dc3545 100%) !important;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: #dc3545;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 0.92;
    font-family: "OpenSans-Regular";
    font-size: 14px;
}

.btn-done-order-sfc{
    width: 6em;
    margin-left: 1.2em;
    opacity: 0.95;
  border-radius: 8px;
  background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%) !important;
  font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    /* line-height: 0.92; */
    font-family: "OpenSans-Regular";
    font-size: 14px;
 }

 .successmsgdelet{
    padding-bottom: 2.4375em;
    padding-right: 55px;
    padding-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OpenSans-Regular" !important;
  font-size: 13.65px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #6c757d;
}

 .master-success-sfclisdelet .modal-content {
    /* border-radius: 10px !important; */
    /* overflow: hidden; */
    width: 24em;
    max-height: 21.75em;
    border-radius: 14px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
 }

 .master-success-sfclisdelet .modal-dialog{
    max-width: 556px;
 }

 .master-success-sfclisdelet .modal-body{
    padding: 0;
 }
 
 .master-success-sfclisdelet .modal-header {  
    border-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -0.5em
 }

 .master-success-sfclisdelet .modal-footer {
    justify-content: space-between;
    border-top: 0 !important;
    width: 100%;
 } 
  
 .master-success-sfclisdelet .title{
    height: 9.2em;
    padding-top: 2em;
 }

 .selectlocation .ui.fluid.dropdown>.dropdown.icon{
    padding:14px 14px 10px 14px;
    border-left:1px solid #6c757d50;
    /* height: 3.78em; */
}

.selectlocation .ui.selection.dropdown{
    min-height: 2.7em !important;
    padding-bottom: 0 !important;
    padding-top: .6em !important;
    /* z-index: 5; */
}

.selectlocation .ui.dropdown>.text{
    /* padding-top:4px; */
    font-size: 1.0em;
    line-height: 2;
}

.selectlength .ui.dropdown>.text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 16em;
}

.selectlocation .ui.selection.dropdown .menu>.item{
    font-size:13px;
}

.selectlocation .ui.dropdown:not(.button)>.default.text {
    opacity: 0.6;
    font-size: 13px;
    line-height: 2em;
    width: 100%;
}

.selectlocation .ui.fluid.dropdown.distance-dd>.dropdown.icon:before{
    display: block;
    content: url(../../assets/images/gps.png);
    height: 20px;
    width: 20px;
}
 
.selectlocationmap{
    width: 248px;
    height: 40px;
  }

.selectlocationmap .ui.fluid.dropdown>.dropdown.icon{
    padding-top: 0.65em;
    border-left:1px solid #6c757d50;
    height: 3.78em;
}
.selectlocationmap .ui.dropdown>.text{
    /* padding-top:4px; */
    font-size: 1.0em;
    line-height: 2;
}
.selectlocationmap .ui.selection.dropdown .menu>.item{
    font-size:13px;
}

.selectlocationmap .ui.dropdown:not(.button)>.default.text {
    opacity: 0.6;
    font-size: 13px;
    line-height: 2em;
    width: 100%;
}

.selectlocationmap .ui.fluid.dropdown.distance-dd>.dropdown.icon:before{
    display: block;
    content: url(../../assets/images/gps.png);
    height: 20px;
    width: 20px;
}


.dropsel .ui.selection.dropdown{
    min-height: 2.7em !important;
    /* padding-bottom: 0 !important; */
    padding-top: .7em !important;
}

.dropsel .ui.dropdown>.dropdown.icon:before{
    color: #343a40;    
}

.dropselect .ui.selection.dropdown{
    min-height: 2.7em !important;
    /* padding-bottom: 0 !important; */
    padding-top: .7em !important;
}

.dropselect .dropop .ui.dropdown>.dropdown.icon:before{
    color: #343a40;    
}

.dropselect .ui.fluid.dropdown>.dropdown.icon {
    padding: 14px 14px 10px 14px;
    border-left: 1px solid #6c757d50 ;
    /* height: 3.78em; */
}

.dropdownselect .ui.selection.dropdown{
    min-height: 2.7em !important;
    /* padding-bottom: 0 !important; */
    padding-top: .7em !important;
}

.dropdownselect .ui.dropdown>.dropdown.icon:before{
    color: #343a40;    
}

 

.master-success-sfclisreject .modal-content {
    /* border-radius: 10px !important; */
    /* overflow: hidden; */
    width: 24em;
    max-height: 25em;
    border-radius: 14px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
 }

 .master-success-sfclisreject .modal-dialog{
    max-width: 556px;
 }

 .master-success-sfclisreject .modal-body{
    padding: 0;
 }
 
 .master-success-sfclisreject .modal-header {  
    border-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -0.5em
 }

 .master-success-sfclisreject .modal-footer {
    justify-content: space-between;
    border-top: 0 !important;
    width: 100%;
 } 
  
 .master-success-sfclisreject .title{
    height: 9.2em;
    padding-top: 2em;
 }

/* manager log in approve rejecte */

.recjectmodal form-control{
    font-size: 0.8em;
}

.reject-reason.form-group{
    margin-bottom: 1.8em;
}
.successmsg-sfc{
    
    font-size: 14px;
    padding-right: 55px;
    padding-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OpenSans-Regular" !important;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #6c757d;
  padding-bottom: 1em;
 }

.partiallyActiveTextYellowapproved1 {
    background-color: #00b7b7;
    color: white;
    padding: 0.2em 0.885em;
    font-size: 14px;
    border-radius: 8px;
    border: #00b7b7;
    height: 2.5em;
    margin-right: 1.5em;
 }


 .activeTextGreenpending1{
    background-color: #dc3545;
    color: white;
    padding: 0.2em 0.885em;
    font-size: 14px;
    border-radius: 8px;
    border: #dc3545;
    height: 2.5em;
    /* margin-right: 2.5em; */
 } 

 .reject-reason{
    width: 20.5em;
    margin-left: 2em;
    opacity: 0.7;
 }

 /* .form-reject-sfc .reject-reason .rejectmodal{
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
} */

.form-reject-sfc .recjectmodal{
    height: 3em !important;
    font-size: .8em !important;
    opacity: 0.8;
}
 
.succsimg1 {
    /* width:100%; */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     /* padding: 2em; */
     width: 365px;
     height: 340px;
  }
/* .ordersuccs .master-success3{
    width: 25em;
} */

.master-success3 .modal-content{
    width: 23em !important;
}

  .succsimg1 .order-para-cnfrm{
     font-family: "OpenSans-Regular";
   font-size: 14px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.36;
   letter-spacing: normal;
   text-align: left;
   color: #1caf9a;
   padding-top: 1.4em;
  }

  .succsimg1 .img-ordersuccess{
     width: 9em;
     height: 9em;
  }
  
  .btn-done-order1{
    min-width: 14em;
    height: 3em;;
    /* margin-left: 1.2em; */
    opacity: 0.95;
  border-radius: 8px;
  background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%) !important;
  border:  #1515af;
  color: #fff;
 }
  
 .formeditdistance{
     width: 6em;
 }

 .ghh .formdrpeditdistance{
     margin-bottom: 0.2rem !important
 }


 /* admin log in */

 .export-order1{
    display: flex;
    flex-direction: row;
}
.export-btn1{
border-radius: 8px;
  border: solid 1px #dfdfdf;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #343a40;
  background-color: #ffffff;
  width: 10.1875em;
  height: 2.8em;
  /* margin-bottom: 0.5em; */
  /* margin-top: 0.3em; */
  margin-left: 0.7em;
}

.export-order1 .export-img1{
   margin-left: 0.5em;
    margin-right: 1em;
    color:  #6c757d;
}

.plusimg{
    margin-right: 0.5em;
}
.bllue{
    color: #1b84e7;
}

/*Add Expenses*/
.otherexpenselist{
    /* margin-bottom: 12em; */
    padding-bottom: 11em;;
}

.ammount-oe .otherexamont-formcntrl{
  border-color: #6c757d50;
  width: 5em !important;
  height: 1.6em;
}

.ammount-oe .otherexamont-formcntrl:focus{
    border-color: #6c757d50;
}

.otherex-amount-check{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ammount-oe .otherexamont-formgrp{
    display: flex;
    padding-right: 2em;
}

.modal-head-addexp .addpersoname{
    /* width: 90px;
    height: 17px; */
    font-family: "OpenSans-Regular";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.44px;
    text-align: left;
    color: #6c757d;
    margin-left: 4em;
    margin-top: 2em;
}

.modal-head-addexp .addmrname{
    /* width: 322px;
    height: 21px; */
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.92px;
    text-align: left;
    color: #343a40;
    margin-left: 3em;
    /* margin-top: 2em; */
}

.master-success-sfclisaddexpense .modal-content {
    /* border-radius: 10px !important; */
    /* overflow: hidden; */
    width: 400px;
    max-height: 400px;
    border-radius: 14px;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
 }

 .master-success-sfclisaddexpense .modal-dialog{
    max-width: 556px;
 }

 .master-success-sfclisaddexpense .modal-body{
    padding: 0;
 }
 
 .master-success-sfclisaddexpense .modal-header {  
    border-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -0.5em
 }

 .master-success-sfclisaddexpense .modal-footer {
    justify-content: space-between;
    border-top: 0 !important;
    width: 100%;
 } 
  
 .master-success-sfclisaddexpense .title{
    height: 9.2em;
    padding-top: 2em;
 }
 
 /* filter option */

 .retrival-left .statusdrop{
   padding-bottom: 4em;
 }


 .Repothers-dropdownapply.dropdown-menu{
    margin: .675rem 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 491px;
    padding: 0;
    left: -214px;
    border-radius: 6px;
    border:0;
    transform: translate3d(-224px, 39px, 0px) !important;
}

.Repothers-dropdownapply.dropdown-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    left: calc(50% - -47px);
    border-bottom:8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.Repothers-dropdownapply .dropdown-item{
    padding:0;
}

.filterbydes{
    font-family: "OpenSans-Regular";
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #343a40;
}
.mrsfcTable .ui.selection.dropdown{
    /* min-width:100px; */
    /* margin-left:-40px; */
}
.sfcMrlocationFrom{
    color:red;
}
.sfcMrDropdown .ui.dropdown>.dropdown.icon:before{
    color: #000;
    font-size: 13px;
}
.sfcAddBtn{
    margin-top: 3.4em;
    margin-left: 1.2em;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    /* height: 2.32em; */
    margin-bottom: 1.5em;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}
.sfcMrDropdown .ui.search{
    font-size: 12px;
}
.sfcplaceholder{
    color:red;
}
.sfcFilterOpt .ui.selection.dropdown .menu>.item{
    font-size: 12px;;
}
.sfcFilterOpt .ui.dropdown>.text{
    font-size: 12px;;
}
.sfcjoint .jointData{
    height:185px;
}
.sfcTotalEx{
    border-top:1px solid dashed;
    text-align: center;
    font-size:15px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}
.sfcMarginAmt{
    margin-top:8px;
    margin-right:10px;
}
.otherExHeading{
    padding-bottom:10px;
    font-family:opensans-semibold;
    letter-spacing: 0.5px;
    font-size:15px;
}
.sfcjoint.productDetailDrop .multiple-dropdown .dropdown-menu.show{
    height:222px;
}
.pl20{
    padding-left:20px;
    padding-right:20px;
}
.sfcCheck:hover{
    background-color: #f2f2f2;
    border-radius: 5px;;
    
}
.sfcCheck .mb-2{
    margin-bottom: 1rem;
    margin-left:20px;
    padding-top: 8px;
}
.sfcCheck .form-group{
    margin-bottom:0;
}
.mapImgae{
    position: relative;
    top: -9px;
   
}
.mapLeftBorder{
    border-left: 1px solid #6c757d50;
    /* content: url(/8bdd170….png); */
    padding-left: 10px;
    position: relative;
    top: -40px;
    left: 204px;
    display: block;
    padding-top: 15px;
}
.datatablesfc .dcrtableheight .table{
    margin-bottom: auto;
}
.datatablesfc .table td{
    text-transform: lowercase;
}
.datatablesfc .table td::first-letter{
    text-transform: capitalize;
}
.sfcMrDropdown .ui.selection.dropdown .menu>.item{
    font-size: 12px;;
    text-transform: lowercase;
}
.selectlocation .ui.dropdown>.dropdown.icon:before{
    color:#1b84e7;
    font-size:16px;
}
.sfcMrDropdown .ui.selection.dropdown .menu>.item::first-letter{
    text-transform: capitalize;
}
.editDropdown .ui.dropdown .menu>.item{
    color:rgba(0,0,0,.7);
    font-weight: normal !important;
}
.typedrop .ui.selection.dropdown{
    width:100px;
}
.sml20{
    margin-left:20px;
    padding-top:13px;
}
.expenseName{
    text-transform: lowercase;
}
.expenseName::first-letter{
    text-transform: capitalize;
}
.expenseheading{
    font-weight: bold;
    font-size: 16px;;
}
.expenseBtn{
    padding:16px 16px;
    color:#fff;
    border-radius: 250px;
    background-image: linear-gradient(to right, #1b84e7, #6f42c1);
    font-size: 14px;
    margin-top: -2px;
    margin-right: 10px;
/*    font-weight: 600;*/
    letter-spacing: 0.7px;
    line-height: 0.79;
    /* opacity:0.5; */
    cursor: pointer;
}
.expenseBody{
    padding:1em 4em;
}
.mb20{
    margin-bottom:20px;
}
.sfclistTable table{
    margin-bottom: 0rem;
}
.newSfc{
    border:1px solid gray;
    border-radius: 5px;
    
}
.sfcNewTab{
    background-color: #fff;
    margin-left: 2px;
    /* display: flex; */
    /* margin-top: 1.25em; */
    box-shadow: -17px 5px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.sec-division{
    font-family: "OpenSans-semibold";
    font-size: 13px;
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #6c757d;
}

 .itemdetail-table{
     overflow-x: auto;
     overflow-y: auto;
     height: 20em;
 }

 
.itemdetail-table th {
     white-space: nowrap;
    padding-left: 40px !important;
    padding-right: 40px !important;
    text-align: center;
     
    padding-top: 5px;
    padding-bottom: 5px; 

    border-color: #f1f1f1;
    font-size: .875em;
    font-family: 'OpenSans-SemiBold';
    padding: 1em 0em 1em 2.28em;
    background-color: #f8f9fa;
    
    position: sticky;
    top: -1px;
    z-index: 1;
    vertical-align: middle;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}

.itemdetail-table td {
    white-space: nowrap;
    padding-left: 40px !important;
    padding-right: 40px !important;
    text-align: center;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: .875em;
    color: #6c757d;
    font-family: 'OpenSans-SemiBold';
    /* padding: 1.28em 0em 1.28em 2.28em; */
    white-space: nowrap;
    text-transform: capitalize;
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

.remarkdiv{
    margin-top: 0;
    margin-bottom: 0.8em;
}

 .remarkdiv h4{
    margin-top: 1em;
    margin-bottom: 0.7em;
    font-size: 0.9em;
    margin-left: 1em;
    font-family: 'OpenSans-SemiBold';
}

#w3mission{
    /* width: 45em; */
    height: 5em;
    margin-left: 1em;
    font-size: 0.8em;
}

.remark-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.remarksubmit {
    background-color: #00b7b7;
    color: white;
    padding: 0.2em 0.885em;
    font-size: 14px;
    border-radius: 8px;
    border: #00b7b7;
    height: 2.5em;
    margin-right: 1.5em;
    width: 8em;
    margin-top: 1em;
    margin-left: 1em;
 }

 .itemdetail-table .text-form{
    border: 1px solid #6c757d50;
    height: 3.33em;
    letter-spacing: .6px;
    padding: 0 1.33em;
    border-radius: 4px;
    color: #6c757d;
    font-size: .75em;
    width: 5em !important;
 }
.user-heirarchy-field-containers{
    width: 248px !important;
    padding: .625em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.inv-sug-ord-qty{
    width: 4.6em;
    height: 2.29em;
    border-radius: .35em;
    border: solid 0.05em #6c757d80;
    padding: 0.5em;
    color: #6c757d;
    text-align: center;
}

.grand{
    display: flex;
    justify-content: flex-end;
}

.grand .grand-summary{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 1.25em;
}
.grand .grand-summary-rate{
    width: 100%;
    flex-wrap: wrap
}

.grand .grandtotal{
    font-family: "OpenSans-SemiBold";
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding: 0 5em 0 0;
}

.grand .sum-subtotal {
    letter-spacing: 0.72px;
    color: #343a40;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding-bottom: .825em;
}

.grand .sum-subtotal .sub-para {
    font-family: "OpenSans-SemiBold";
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding: 0 3em 0 0;
}

.grand .sum-subtotal .rs {
    font-family: "OpenSans-SemiBold" !important;
    font-size: 0.9em !important;
    color: #343a40;
    padding-right: 2em;
}

.grand .grandqty{
    /* font-family: "OpenSans-SemiBold" !important; */
    font-size: 1.5em !important;
    color: #343a40;
}

.grand .grandvalue{
    /* font-family: "OpenSans-SemiBold" !important; */
    font-size: 1.5em !important;
    color: #343a40;
}

.sfcAddBtn-loaditem{
    margin-top: 2.6em;
    margin-left: 2em;
    border-radius: 4px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    height: 2.7em;
    margin-bottom: 1.5em;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
}

.sfcAddBtn-loaditem.btn-primary:not(:disabled):not(.disabled):active{
    border: solid 0.5px #1b84e7 !important;
    background-color: #1b84e7 !important;
    font-family: 'OpenSans-SemiBold' !important;
    color: #ffffff !important;
}

.sfcAddBtn-loaditem .exportBtn .btn-primary:not(:disabled):not(.disabled).active:focus{
    background-color: #1b84e7 !important;
    border: solid 0.5px #1b84e7 !important;
    /* box-shadow: none; */
}

.xyz .sfa-search-dropdown .ui.dropdown>.text{
    /* line-height: 1.15em; */
    /* display: flex; */
    /* color: rgba(0,0,0,.87); */
    /* font-size: .85em; */
    /* letter-spacing: .4px; */
    /* font-family: 'OpenSans-Regular'; */
    /* align-items: center; */
    text-transform: uppercase !important;
  }

  .jhd .sfa-search-dropdown .ui.selection.dropdown .menu>.item {
    color: #6c757d;
    /* font-size: 0.5em; */
    font-family: 'OpenSans-SemiBold';
    text-transform: uppercase !important;
    border-bottom: solid 0.5px #dfdfdf99;
}

  .xyz{
    width: 248px !important;
    padding: .625em;
}

.jhd .sfa-search-dropdown .ui.dropdown .menu .selected.item{
    color: #1b84e7 !important;
    text-transform: capitalize !important;
  }

.targetdet{
    color: #343a40;
    font-family: 'OpenSans-Bold';
    font-size: 1em;
    padding: 2em 0.1em 2em 2em;
    letter-spacing: 0.96px;
    margin:0 ;
}

.targetdetail-head{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25em;
}

 .from-too{
     display: flex;
     flex-wrap: wrap;
     margin-left: 0.7em;
 }

 .from-too .from-too-box{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gainsboro;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.25em;
 }

 .from-too .selectlocation{
    width: 248px;
    height: 40px;
    margin-bottom: 0.8em;
 }

 .from-too .paralocation{
    font-family: "OpenSans-semibold";
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.6px;
    text-align: left;
    color: #6c757d;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0.7em;
 }

 .from-too .locationsfa {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.popupcloseImg{
    float: right;
    margin-right: 0.8em;
    margin-top: 0.6em;
    width: 0.8em;
    cursor: pointer;
}
.popupmargin{
    margin-top: 2em;
}