.KamClaimTablesfc .primarysale-target{
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 0.9em;
    padding-top: 0.4em;
    font-family: "OpenSans-semibold";
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.4px;
}

.KamClaimTablesfc .primarysale-target1{
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 0.9em;
    padding-top: 0.4em;
    font-family: "OpenSans-semibold";
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: 0.4px;
    padding-bottom: 0.7em;
}

.KamClaimTablesfc .locationcopyfrom{
    margin-right: 1.3em;
    margin-left: 1.3em;
    margin-bottom: 0.8em;
}

.month-div{
    display: flex;
    justify-content: space-between;
    color: #343A40;
    text-transform: capitalize;
}

.month-div p{
    margin-right: 1em;
}

.itemdetail-table{
    overflow-x: auto;
    overflow-y: auto;
    height: 20em;
    margin: 1em;
    /* height: auto; */
}


.itemdetail-table th {
    white-space: nowrap;
   text-align: left;    
   padding-top: 5px;
   padding-bottom: 5px; 
   padding-left: 10px !important;
   padding-right: 25px !important; 
   border-color: #f1f1f1;
   font-size: .875em;
   font-family: 'OpenSans-SemiBold';
   padding: 1em 0em 1em 2.28em;
   background-color: #f8f9fa;   
   position: sticky;
   top: -1px;
   z-index: 1;
   vertical-align: middle;
   border-right: 1px solid #f1f1f1;
   border-top: 1px solid #f1f1f1;
   border-left: 1px solid #f1f1f1;
}

.itemdetail-table td {
   white-space: nowrap;
   text-align: left;
   border-right: 1px solid #f1f1f1;
   border-top: 1px solid #f1f1f1;
   border-left: 1px solid #f1f1f1;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 10px !important;
   padding-right: 25px !important; 
   font-size: .875em;
   color: #6c757d;
   font-family: 'OpenSans-SemiBold';
   /* padding: 1.28em 0em 1.28em 2.28em; */
   white-space: nowrap;
   /* text-transform: capitalize; */
}

div.dataTables_wrapper {
   width: 800px;
   margin: 0 auto;
}

.remarkdiv{
   margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}


.remarkdiv h4{
   margin-top: 1em;
   margin-bottom: 0.7em;
   font-size: 1em;
   margin-left: 1em;
   font-family: 'OpenSans-SemiBold';
}

#w3mission{
   /* width: 45em; */
   height: 5em;
   margin-left: 1em;
   font-size: 0.8em;
}

.remark-button{
   /* display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap; */
   margin-left: 1em;
   margin-right: 1em
}
.remarksubmit {
   background-color: #00b7b7;
   color: white;
   /* padding: 0.2em 0.885em; */
   font-size: 14px;
   border-radius: 8px;
   border: #00b7b7;
   height: 2.85em;
   margin-right: 1em;
   width: 8em;
   margin-top: 0em !important;
   margin-left: 0em  !important;
   margin-bottom: 1em  !important;
   padding: 0em 0em 0em 0em  !important;
}

.itemdetail-table .text-form{
   border: 1px solid #6c757d50;
   height: 3.33em;
   letter-spacing: .6px;
   /* padding: 0 1.33em; */
   border-radius: 4px;
   color: #6c757d;
   font-size: .75em;
   width: 5em !important;
}
.user-heirarchy-field-containers{
   width: 248px !important;
   padding: .625em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
   -moz-appearance: textfield;
}

.inv-sug-ord-qty{
   width: 4.6em;
   height: 2.29em;
   border-radius: .35em;
   border: solid 0.05em #6c757d80;
   padding: 0.5em;
   color: #6c757d;
   text-align: center;
}

.grand{
   display: flex;
   justify-content: flex-end;
}

.grand .grand-summary{
   display: flex;
   flex-direction: column;
   width: fit-content;
   margin: 0 1.25em;
}
.grand .grand-summary-rate{
   width: 100%;
   flex-wrap: wrap
}

.grand .grandtotal{
   font-family: "OpenSans-SemiBold";
   font-size: 0.8em;
   display: flex;
   align-items: center;
   padding: 0 5em 0 0;
}

.grand .sum-subtotal {
   letter-spacing: 0.72px;
   color: #343a40;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-between; */
   padding-bottom: .825em;
}

.grand .sum-subtotal .sub-para {
   font-family: "OpenSans-SemiBold";
   font-size: 0.8em;
   display: flex;
   align-items: center;
   padding: 0 3em 0 0;
}

.grand .sum-subtotal .rs {
   font-family: "OpenSans-SemiBold" !important;
   font-size: 0.9em !important;
   color: #343a40;
   padding-right: 2em;
}

.grand .grandqty{
   /* font-family: "OpenSans-SemiBold" !important; */
   font-size: 1.5em !important;
   color: #343a40;
}

.grand .grandvalue{
   /* font-family: "OpenSans-SemiBold" !important; */
   font-size: 1.5em !important;
   color: #343a40;
}

.sfcAddBtn-loaditem{
   margin-top: 2.6em;
   margin-left: 2em;
   border-radius: 4px;
   border: solid 0.5px #1b84e7;
   background-color: #1b84e7;
   height: 2.7em;
   margin-bottom: 1.5em;
   font-size: 13px;
   font-family: opensans-semibold;
   letter-spacing: 1.56px;
}
.Psales-cancelBtn{
   margin-top: 2.6em;
   margin-left: 2em;
   border-radius: 4px;
   border: solid 0.5px #dc3545;
   background-color:#dc3545;
   height: 2.7em;
   margin-bottom: 1.5em;
   font-size: 13px;
   font-family: opensans-semibold;
   letter-spacing: 1.56px;
}

.sfcAddBtn-loaditem.btn-primary:not(:disabled):not(.disabled):active{
   border: solid 0.5px #1b84e7 !important;
   background-color: #1b84e7 !important;
   font-family: 'OpenSans-SemiBold' !important;
   color: #ffffff !important;
}

.sfcAddBtn-loaditem .exportBtn .btn-primary:not(:disabled):not(.disabled).active:focus{
   background-color: #1b84e7 !important;
   border: solid 0.5px #1b84e7 !important;
   /* box-shadow: none; */
}

.xyz .sfa-search-dropdown .ui.dropdown>.text{
   /* line-height: 1.15em; */
   /* display: flex; */
   /* color: rgba(0,0,0,.87); */
   /* font-size: .85em; */
   /* letter-spacing: .4px; */
   /* font-family: 'OpenSans-Regular'; */
   /* align-items: center; */
   text-transform: uppercase !important;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 155px;
 }

 .jhd .sfa-search-dropdown .ui.selection.dropdown .menu>.item {
   color: #6c757d;
   /* font-size: 0.5em; */
   font-family: 'OpenSans-SemiBold';
   text-transform: uppercase !important;
   border-bottom: solid 0.5px #dfdfdf99;
}

 .xyz{
   width: 248px !important;
   padding: .625em;
}

.jhd .sfa-search-dropdown .ui.dropdown .menu .selected.item{
   color: #1b84e7 !important;
   text-transform: capitalize !important;
 }

.targetdet{
   color: #343a40;
   font-family: 'OpenSans-Bold';
   font-size: 1em;
   padding: 2em 0.1em 2em 2em;
   letter-spacing: 0.96px;
   margin:0 ;
}

.targetdetail-head{
   display: flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   align-items: center;
   justify-content: space-between;
   margin-top: 0.25em;
}

.user-heirarchy-field-containers .customized-input{
   width: 230px;
}

.user-heirarchy-field-containers .selectlocation {
   width: 230px;
   height: 40px;
}


.user-heirarchy-field-containers .distributorClaimListsfc {
   background-color: #fff;
   margin-top: 26px;
   border: 1px solid rgba(108, 117, 125,0.1);
   border-radius: 8px;
   /* margin-left: 21px; */
   margin-bottom: 7px;
   margin-top: 4px;
   border: none;
}

.user-heirarchy-field-containers .customized-input:focus {
   box-shadow: none !important;
   border: 1px solid #1b84e7 !important;
}

.pmasterinput .inv-sug-ord-qty{
   width: 5em;
   height: 2.29em;
   border-radius: .35em;
   border: solid 0.05em #6c757d80;
   padding: 0.5em;
   color: #6c757d;
   text-align: center;
}

.user-heirarchy-field-containers .daterror-msg{
   color: #dc3545;
    margin-top: .5em;
    font-size: .8em;
}

/* .user-heirarchy-field-containers .sfa-search-dropdown .ui.dropdown>.text{
   line-height: 1.15em;
    display: flex;
    color: rgba(0,0,0,.87);
    font-size: .85em;
    letter-spacing: .4px;
    font-family: 'OpenSans-Regular';
    align-items: center;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 155px;
}

.user-heirarchy-field-containers .sfa-search-dropdown .ui.selection.dropdown .menu>.item {
   color: #6c757d;
   font-family: 'OpenSans-SemiBold';
   text-transform: uppercase !important;
   border-bottom: solid 0.5px #dfdfdf99;
} */

.pmast .sfa-search-dropdown .ui.dropdown>.text{
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 155px;
 }
  
 .pmast{
   width: 248px !important;
   padding: .625em;
}
.smastddl .ui.dropdown>.text{
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 155px; 
}

.primary-note-msg{
   display: flex;
   flex-direction: column;
   justify-content: flex-end !important;
   float: right;
}

.primary-note-msg .note-msg{
   color: #dc3545;
   margin-top: .5em;
   margin-bottom: .4em;
   font-size: .75em;
   float: right;
}

.prmrynotemsg{
   padding: 0 2em;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   /* padding-bottom: 1.375em; */
   font-family: 'OpenSans-Regular';
   justify-content: space-between;
}

.non-op-stockist{
   margin-top: 0.5em;
   font-size: 1.1em;
   font-weight: 500;
   font-family: 'Roboto-Regular';
   letter-spacing: 0.3px;
}
.select-invoice{
   padding-left: 2em;
    display: block;
    line-height: inherit;
    white-space: nowrap;
    font-size: 1.2em;
    font-weight: bold;
}
.table-heading{
   font-family: 'OpenSans-Bold';
   padding-left: 1.3em;


}
.table-body{
   font-family: 'OpenSans-Regular';
   padding-left: 1.3em;

}
.selectall-checkbox{
   padding-left: 1.3em;
}
.ml-1{
   margin-left: 1em;
}
.upload-file-popup{
   margin: 1em;
}
.no-records{
   text-align: center;
    font-family: 'OpenSans-SemiBold';
    font-size: 1.2em;
   }

   .copyoptionwidth{
      width: 260px !important;
      padding: .625em;
   }
   .greySubmit{
      background-color: grey;
      color: white;
      padding: 0.2em 0.885em;
      font-size: 14px;
      border-radius: 8px;
      border: grey;
      height: 2.5em;
      margin-right: 1em;
      width: 8em;
      margin-top: 1.2em;
      margin-left: 0em;
      margin-bottom: 0em;
   }
   .submit-btn{
      margin-top: 2.6em;
   margin-left: 2em;
   border-radius: 4px;
   border: solid 0.5px #1b84e7;
   background-color: #1b84e7;
   height: 2.7em;
   color: white;
   margin-bottom: 1.5em;
   font-size: 13px;
   font-family: opensans-semibold;
   letter-spacing: 1.56px
   }
   .submit-btn-disable{
      margin-top: 2.6em;
      margin-left: 2em;
      border-radius: 4px;
      border: solid 0.5px grey;
      background-color: grey;
      height: 2.7em;
      color: white;
      margin-bottom: 1.5em;
      font-size: 13px;
      font-family: opensans-semibold;
      letter-spacing: 1.56px
   }
   .bgforrow{
      background-color: #7777;
   }
   .dropdown-1{
      margin-bottom: 0.5em
   }
   .uploaded-list{
      background-color: #fff;
      border: 1px solid #6c757d66;
      margin-top: 1.25em;
      margin-left: 1em;
   }
   .uploaded-list-title{
      font-size: 1em;
      color: #343a40;
      font-family: "OpenSans-SemiBold";
      margin-bottom: 0em;
      margin-left: 1em;
   }
   .sales-headertitle{
      font-size: 1.185em;
      color: #1b84e7;
      margin-left: 1em;
  
   }
   .upload-success-msg{
      font-size: 0.8em;
      font-weight: bold;
      font-family: 'Roboto-Regular';
      margin-top: 0.5em;
   }
   .mt-1{
      margin-top: 1em;
   }
   .pSales-daterror-msg{
      color: #dc3545;
      margin-top: 2.1em;
    font-size: .8em;
    margin-left: 0.5em;
    font-family: "OpenSans-SemiBold";
    letter-spacing: 0.03em;

   }
   .pSales-inverror-msg{
      color: #dc3545;
      /* margin-top: 1.5em; */
    font-size: .8em;
    margin-left: 0.5em;
    font-family: "OpenSans-SemiBold";
    letter-spacing: 0.03em;

   }
   /* .Psales-delete-btn{
      width: 153px;
      height: 40px;
      object-fit: contain;
      border-radius: 8px;
      border: #dc3545;
      color: #dc3545;
   } */

   .qw{
      margin-top: 2.6em;
      margin-left: 2em;
      border-radius: 4px;
      border: solid 0.5px #dc3545;
      background-color: #ffffff;
      height: 2.7em;
      margin-bottom: 1.5em;
      font-size: 13px;
      font-family: opensans-semibold;
      letter-spacing: 1.56px;
      color: #dc3545
   }
  .Psales-save{
    border-radius: 6px;
    border: solid 0.5px #1b84e7;
    background-color: #1b84e7;
    height: 3em;
    margin-bottom: 1.5em;
    font-size: 13px;
    font-family: opensans-semibold;
    letter-spacing: 1.56px;
    width:153px;
  }
  .Psales-save.btn-primary:not(:disabled):not(.disabled):active{
   border: solid 0.5px #1b84e7 !important;
   background-color: #1b84e7 !important;
   font-family: 'OpenSans-SemiBold' !important;
   color: #ffffff !important;
}

.Psales-save .exportBtn .btn-primary:not(:disabled):not(.disabled).active:focus{
   background-color: #1b84e7 !important;
   border: solid 0.5px #1b84e7 !important;
   /* box-shadow: none; */
}