.setting-sidebar{
    width: 250px ;
    /* display: none; */
    overflow: visible;
}
.setting-menuIconText{
    padding-left: 1em;
    font-size: 14px;
    font-weight: 400;
    width: 224px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000;
    transition: opacity 0.4s ease-out;
    position: absolute;
    transform: translate(0%,17%);
}
.bot-border{
    border-bottom:1px soild #000 !important;
}
.setupBar a{
    color: #000 !important;
}
.pad20{
    /* margin-top:20px;
    padding-bottom: 20px;; */
    padding:20px 0px 20px 0px;
}
.setupBar .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color:#fff !important;
}
.setupBar .nav-pills .nav-link{
    border:1px solid rgb(131, 175, 214, 0.1);
}
.rightBor{
    border-right:1px solid #dfdfdf;
    overflow-y: scroll;
    height: 405px;
    border-width:2px;
}
.setupBar .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-image: linear-gradient(to left, #1b84e7, #1515af);

}
.setupBar .nav-link{
    padding: .8rem 1rem;
    margin-left: 25px;
    margin-right: 18px;
}

.setup-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: rgba(255,0,0, 0.3) transparent;
}
.setup-scrollbar::-webkit-scrollbar {
    width: 3px;
    background: transparent !important;
    scrollbar-width: 3px;
}
.setup-scrollbar::-webkit-scrollbar-track {
    background: #eee ;
}
.setup-scrollbar::-webkit-scrollbar-thumb {
  background:rgba(0, 0, 0, .2) transparent;
  border-radius: 10px;
}
.imgSize{
    width:25px;
    height:25px;
    /* padding-right:10px; */
   
}
.setpImg_pad{
    margin-right:10px;
}
.conModHead{
    font-size: 17px;
    color: #1b84e7;
    letter-spacing: 0.8px;
    font-family: "OpenSans-semiBold";
    padding-bottom: 20px;
    padding-left:23px;
}
.moduleDetails{
   
    padding-left:20px;
    padding-top:20px;
}
.setupBar .col-sm-9{
    padding-left:0;
}
.panelBox{
    /* margin:0px 20px 20px 20px; */
    border:2px solid rgb(108, 117, 125,0.5);
    width:175px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    height:100px;
}
.modulePanel{
    border-top:2px solid rgb(27, 132, 231,0.7);
}
.panelImg{
    padding:8px 0px 0px 8px;
}
.panelText{
    padding:0px 20px 16px 20px;
}
.searchPad{
    margin:9px 23px 0px 16px;
}
.user-ml20{
    margin-left:20px;
    margin-bottom: 20px;
}
.userGoBtn{
    margin:35px 0px 0px 20px;
}
.dropWidth{
    width:248px;
}
.Dcrheader{
    background-color: #f8f9fa;
}
.dcrPad{
    padding:30px;
}
.dcrUnloackpopup{
    height: 100px;
}
.usernameText{
    color: #1b84e7;
    font-size: 15px;
    letter-spacing: 1.8px;
    font-family: "OpenSans-semiBold";
}
.dcruserdate{
    color: #343a40;
    font-size: 14px;
    letter-spacing: 1.68px;
    font-family: "OpenSans-semiBold";
}
.dcrUnlockheader{
    letter-spacing: 1.92px;
    color: #343a40;
    font-size: 16px !important;
}
.userpad32{
    padding-top:32px;
}
.dcrUnloackpopup .controls .react-datepicker-wrapper{
    width:170px;
}
.width100{
    width:100%
}
.user-radio{
    color: #414141;
    letter-spacing: 0.75px;
    font-size: 15px;
    font-family: "OpenSans-semiBold";
}
.cancelBtn{
    background-image: linear-gradient(to right, #df5a4b, #dc3545);
    border-radius: 5px;
    margin-right:12px;
    border:none !important;
}
.unlockbtn{
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    border-radius: 5px;
    margin-right:12px;
    border:none !important;
}
.compProHead{
    color: #343a40;
    letter-spacing: 0.96px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding:24px 0px 20px 16px;
    border-bottom: 2px solid rgb(52,58,64,0.4);
}
.rcpa-sec-setting{
    color: #343a40;
    letter-spacing: 0.96px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding:24px 0px 20px 20px;
    border-bottom: 2px solid rgb(52,58,64,0.4);
}
.user-cant-radio{
    color: #6c757d;
    letter-spacing: 0.6px;
    font-size: 12px;
}
.user-can-radio{
    color: #343a40;
    letter-spacing: 0.6px;
    font-size: 12px;
    padding-right:10px;
}
.user-pr10{
    padding-right:0.625em;
}
.pt24{
    padding-top:24px;
}
.inputBorder{
    border:1px solid gray;
}
.userpt20{
    padding-top:20px;
}
.userSaveBtn{
    border: solid 1px #1b84e7;
    background-color: #1b84e7;
    border-radius: 5px;
    width: 114px;
    margin-top:24px;
}
.userCancelBtn{
    border-radius: 5px;
    border: solid 1px #dc3545;
    width: 114px;
    background-color: #fff;
    margin-top:24px;
    color: #dc3545;
    margin-left:16px;
}
.userCancelBtn:hover{
    background-color:#dc3545;
}
.userSettingTabs .nav-tabs .nav-link{
    background-color: #dfdfdf;
    border-radius: 5px;
    margin:12px 0px 12px 16px;
    font-size: 16px;
    padding:12px 16px;
    /* font-family: "OpenSans-semoBold"; */
}
/* .userSettingTabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-image: linear-gradient(to right, #1b84e7, #151bb2);
    color:#fff;
    border-radius: 5px;
    margin:12px 0px 12px 16px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding:12px 16px;
} */

.tabMargin{
    margin-left:7px;
    border-bottom: 2px solid rgb(108, 117, 125,0.4);
}
.rpsDetail{
    color: #343a40;
    letter-spacing: 0.8px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding:24px;
}
.padLeft39{
    margin-left:39px;
}
.rps-setting-checkbox .custom-control-label{
    color: #343a40;
    padding:6px;    
}
.rpsSubmitBtn{
    border: solid 1px #1b84e7;
    background-color: #1b84e7;
    border-radius: 5px;
    /* width: 114px; */
    margin-left:100px;
}
.stagDiv{
    background-color: #f8f9fa;
    border: solid 1px #f1f1f1;
    padding: 13px 24px;
}
.stagText{
    font-size: 16px;
    font-family: "OpenSans-Semibold";
    color: #343a40;
    letter-spacing: 0.8px;
}
.rpsInput{
    margin-bottom: 20px;;
    margin-right:20px
}
.mb24{
    margin-bottom: 24px;;
}
.assignBtn{
    background-color:  #1b84e7;
    border-radius: 5px;
    margin-right: 12px;
    border: none !important;
    margin-top:27px;
}
.rpsDrop{
    width:100%
}
.acc_pad{
    padding-left:40px;
}
.set-pad24{
    padding:24px;
}
.userSet-nextBtn{
    background-color: #00b7b7;
    color:#fff;
    padding:8px 25px;
    float: right;
    border: none;;
}
.userSet-nextBtn:hover{
    background-color: #00b7b7;
}
.controlSearch{
    color:rgb(108,117,125,0.5);
}
.activedot {
    height: 25px;
    width: 25px;
    background-color: #1b84e7;
    border-radius: 50%;
    display: inline-block;
    margin-left:32px;
    margin-right:16px;
    color:#fff;
  }
  .page_pad1{
      padding-left:8px;
      font-size:14px;
      padding-top:2px;
  }
  .dot{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left:16px;
    margin-right:32px;
    color:#414141;
    border: solid 1px #dfdfdf;
  }
  .control-commHead{
    color: #343a40;
    letter-spacing: 0.96px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding: 24px 0px 13px 16px;
    border-bottom: 2px solid rgb(52,58,64,0.4);
  }
  .usersetup-item{
    color: #343a40;
    font-family: 'OpenSans-Bold';
    font-size: 1em;
    padding: 2em 1em 0em 1.5em;
    letter-spacing: 0.96px;
    margin: 0;
  }
  .rcpa_pad24{
      padding:24px;
  }
  .blueColor{
      color:#1b84e7;
      font-family: "OpenSans-SemiBold";
  }
  .CompBtn{
    background-image: linear-gradient(to right, #1b84e7, #1515af);
    color:#fff;
    padding: 11px 22px;
    border: none;
    border-radius: 5px;
  }
  .use_doc_pad{
      padding:24px 0px 24px 15px;
  }
  .sourceHeading{
    color: #343a40;
    letter-spacing: 0.8px;
    font-family: OpenSans-SemiBold;
    padding:24px 0px 10px 16px;
  }
  .rpad20{
      padding:0px 20px;
  }
  .rcpaHeading{
    color: #343a40;
    letter-spacing: 0.8px;
    font-family: OpenSans-SemiBold;
    padding:10px 0px 10px 20px;
    font-size:16px;
  }
  .proPad{
      padding:20px 20px 20px 20px;
  }
  .vl {
    border-left: 2px solid rgb(108,117,125,0.4);
    /* height: 500px; */
    margin:30px 10px 10px 10px;
  }
  .value-text{
      width:100px;
  }
  .brandBtn{
      background-color: transparent;
      border:1px solid  #bec1c5;
      color: #bec1c5;
      font-family: openSans-semiBold;
      width:100%;
      font-size: 14px;;
      border-radius: 5px;
     
  }
  .brandBtn:hover{
    background-color: transparent;
    border:1px solid  #bec1c5;
    color: #bec1c5;
    font-family: openSans-semiBold;
    width:100%;
    font-size: 14px;;
    border-radius: 5px;
  }
  .brandBtnPad{
      margin-right:10px;
      margin-top: 30px;
  }
  .user-rcpa .dcrsearch .multiple-dropdown .dropdown-menu.show{
        width:100%;
  }
  .compProduct-head{
    border-bottom: solid 1px #f1f1f1;
    border-color: #f1f1f1;
    font-size: .875em;
    font-family: 'OpenSans-Bold';
    padding: 1em 0em 1em 2.28em;
    background-color: #f8f9fa;
    white-space: nowrap;
  }
  .Comp-text{
    padding: 10px 0px 10px 0px;
    width: 125px;
  }
  .comCheckBoxPad{
    margin-left: 10px;
    margin-top: 16px;
  }
  .pl65{
    padding-left: 65px;
  }
  .mr15{
      margin-left:15px;
  }
  .Comp-value-text{
    padding: 10px 0px 10px 0px;
    width: 100px;
  }
  .divBordeBottom{
      border-bottom: 1px solid #dfdfdf;
  }
  .pr15{
      padding-right:15px;
  }
  .new-comp-pad20{
      padding:30px;
  }
  /* .sweta .modal-lg{
      max-width: 670px;
  } */
  .modelInput{
    width: 178px;
    margin-right: 15px;

  }
  .sam-wrapper{
      padding:20px;
  }
  .sam-Header{
    color: #343a40;
    letter-spacing: 0.96px;
    font-size: 16px;
    font-family: "OpenSans-semiBold";
    padding:24px 0px 20px 20px;
    border-bottom: 2px solid rgb(27,132,231,0.4)
  }
  .samGoBtn{
    margin: 26px 0px 0px 20px;
  }
  .acQan{
      width:60px;
  }
  .serialPad{
      padding:0px 40px 12px 0px;
      font-family: OpenSans-SemiBold;
      color: #6c757d;
      letter-spacing: 0.6px;
      font-size: 12px;
  }
  .issueSuffix{
    color: #343a40;
    letter-spacing: 0.6px;
    font-family: OpenSans-SemiBold;
    font-size: 12px;
  }
  .sample-proHeading{
    color: #1b84e7;
    letter-spacing: 0.8px;
    line-height: 0.69;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    padding:40px 0px 20px 24px;
    /* border-bottom: 2px solid #dfdfdf; */
  }
  .grey-bottom-border{
    border-bottom: 2px solid rgb(108, 117, 125,0.4);
  }
  .addProBtn{
    background-color: #f49917;
    border-radius: 5px;
    padding: 7px 16px 6px;
    color:#fff;
    border:none;
    margin-top:22px;
  }
  .RecievedGoBtn{
    margin: 26px 0px 0px 0px;
  }
  .inputTransSection{
    background-color: #fff;
    /* border-radius: 8px; */
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 6%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .inputTransDetailsSec{
    background-color: #fff;
    /* border-radius: 8px; */
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 6%);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .sample-List-Heading{
    color: #343a40;
    font-size: 16px;
    font-family: OpenSans-Bold;
    letter-spacing: 0.96px;
    padding:24px;
  }
  .sampleSpan{
    color: #f49917;
    font-size: 16px;
    font-family: OpenSans-Bold;
    letter-spacing: 0.96px;
  }
  .maxChar{
    color: #6c757d;
    letter-spacing: 0.6px;
    font-family: OpenSans-Regular;
    /* padding-right:10px; */
  }
  .lenSize{
    color: #f49917;
  }
  .noteLabel{
        font-size: 12px;
  }
  .noteLabel::first-letter{
      text-transform: capitalize;
  }
  .maxChar::first-letter{
    text-transform: capitalize;
}
.product-dropdown.dropdown-menu {
    margin: .675rem 0;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 380px;
    padding: 0;
    left: -116px;
    border-radius: 6px;
}
/* .product-dropdown.dropdown-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: calc(50% - 100px);
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
} */
.pr30{
    padding-right:30px;
}
.search-sample-heading{
    color: #343a40;
    font-size: 13px;
    font-family: OpenSans-SemiBold;
}
.sample-note-pad{
    padding:0px 0px 10px 0px;
}
.sample-padding20{
    padding:20px;
}
.loadBtn{
    background-color: #1b84e7;
    border: solid 1px #1b84e7;
    border-radius: 5px;
    color:#fff;
    width:120px;
    margin:10px 24px 0px 0px;
}
.invText{
    color:#1b84e7;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: OpenSans-SemiBold;
}
.sample-note-pad .input-group-text{
    background-color: transparent;
}
.searchMargin{
    margin: 15px 30px 10px 0px;
}
.sample-header{
    padding-left:20px;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
}
.width240{
    width:240px;
}
.sam-details-pad{
    padding:30px 20px 20px 20px;
}

element.style {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(-357.778px, 51.1111px);
}

.sample-dropdownSearch.dropdown-menu {
    margin: .675rem 0;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 646px;
    padding: 0;
    left: -214px;
    border-radius: 6px;
    border: 0;
    transform: translate3d(-546px, 48px, 0px) !important;
}
.width141{
    width:150px;
}
.sample-filter .controls .react-datepicker-wrapper{
    border: 1px solid #6c757d50;
    border-radius: 4px 0 0 4px;
    padding: 7px 16px;
    flex-grow: 1;
    width: 50px;
}
.sampleTable .table td, .table th{
    border:none;
}
.mrlistpad{
    color: #6c757d;
    font-size: 14px;
    padding:10px 0px 10px 30px;
   
}
.copyListBorder{
    border-bottom: 1px solid #dfdfdf;;
}
.copyFilterPad{
    font-size: 13px;
    padding:20px 0px 20px 30px;
    font-family: OpenSans-SemiBold;
}

.copy-dropdown .dropdown-menu{
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 551px;
    padding: 0;
    left: -100px !important;
    border-radius: 6px;
    border: 0;
    transform: translate3d(-65px, 40px, 0px) !important;
}
.filter-sam .dropdown-item{
 padding:0;
}