
.logo {
  width: 128px;
  height: 32px;
  margin-right: 32px;
  object-fit: contain;
}

.NavbarContainer {
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 999;
}

/* .NavbarItems {
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 0 auto;
  background-color: #ffffff;
} */

.MainContainer.NavbarItems {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavbarItems ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavbarItems ul li {
  margin-right: 8px;
  list-style-type: none;
}

.NavbarItems ul li a {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e3e6a;
  transition: all 0.5s;
}

.NavbarItems ul li a:hover {
  text-decoration: none;
  color: #020408;
}

.btn.login-btn,
.btn.schedule-btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


.btn.schedule-btn {
  transition: all 0.5s;
}

.btn.btn-outline-primary {
  color: #674cf3;
  border-color: #674cf3;
}

.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #674cf3;
  border-color: #674cf3;
}

.btn.login-btn {
  border: solid 1px #c3cde4;
}

@media only screen and (min-width: 576px) {
  .NavbarItems ul li {
    margin-right: 32px;
  }
}

@media only screen and (min-width: 769px) {
  .NavbarItems ul li {
    margin-right: 48px;
  }
  .MainContainer.NavbarItems {
    padding: 27px 0;
  }
}

