ol.progtrckr {
  margin: 0;
  padding:0px 0px 0px 0px;
  padding-bottom: 1rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 0.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}


ol.progtrckr li.progtrckr-todo {
  color: #343a40;
  background-color: rgb(223,223,223,0.2);
  margin: 20px 5px 10px 5px;
  font-size: 13px;
  /* border-bottom: 4px solid silver; */
}
ol.progtrckr li.progtrckr-doing {
  color: #fff;
  /* border-bottom: 4px solid #33C3F0; */
  border-radius: 5px;
  margin: 20px 5px 10px 5px;
  font-size: 13px;
  background-image: linear-gradient(to right, #1b84e7, #151bb2);
}
ol.progtrckr li.progtrckr-done {
    color: #343a40;
    background-color: rgb(223,223,223,0.2);
    margin: 20px 5px 10px 5px;
  font-size: 13px;
  /* border-bottom: 4px solid #33C3F0; */
}
.userRight.button,
.userRight button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    /* letter-spacing: .1rem; */
    /* text-transform: uppercase; */
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    /* border: 1px solid #bbb; */
    cursor: pointer;
    box-sizing: border-box;
    background-color: #00b7b7;
    color:#fff;
    border:none; 
    line-height: 1;
    /* float:right; */
}
 .userRight .button:hover,
.userRight button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .userRight.button:focus,
  .userRight button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    /* color: #333; */
    color:#fff;
    border-color: #888;
    outline: 0; }
    .userRight.button.button-primary,
  .userRight button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .userRight .button.button-primary:hover,
  .userRight button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .userRight .button.button-primary:focus,
  .userRight button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
/* ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
} */
/* ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
} */
/* ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0FA0CE;
} */

/* ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0FA0CE;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #0FA0CE;
} */

.mainMenu{
    font-family:  "OpenSans-Semibold";
    font-size: 16px;
    font-weight: 600;
    /* border-bottom: 2px solid #dfdfdf; */
    padding:1em 0px 1em 1.25em;
}
.pd-25{
    padding:1.56em 0px 0em 1.25em;
}
.menutext{
    font-size: 13px;
    color: #343a40;
    font-family:  "OpenSans-Semibold";
    padding-bottom:0.93em;
}
.userRight .container{
    max-width:100%;
}
.flex-col{
    flex-direction: row;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;

}
.menutext .custom-control-label::before{
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}
.saveMultipleBtn{
    background-color: #00b7b7;
    display: inline;
    padding:8px 30px;
    color:#fff;
    float:right;
    border-radius: 5px;
    font-size: 0.87em;
    margin-top:1.06em;
    cursor: pointer;
}
.userRight{
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.userpadd{
  padding:1.25em 0px 1.5em 1.25em;
}
.mb-20{
  margin-bottom:1.25em;
}
.gobtn{
  background-color: #1b84e7;
  color:#fff;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.drname{
  font-size: 16px;
  color: #343a40;
  font-family: "OpenSans-Semibold";
  padding:1.25em 0px 1em 1.25em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.colpad20{
  padding:0px 10px 0px 10px;
  width: 23%;
}
.pd-bottom{
  padding-bottom:4em;
}
.pd-bt2{
  padding-bottom:1em;
}
.user-checkbox .custom-control-label::after {
  position: absolute;
  top: 0.22rem;
  left: -2rem;
  display: block;
  width: 1.5rem;
  height: 1.6rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}
.user-checkbox .custom-control-label {
  color: #6c757d;
  padding-top: 5px;
  width:100%;
}
.custfloatright{
  float:right;
  padding-top:1em;
}
.userPrevBtn{
  background-color: #fff !important;
  border:1px solid rgb(108,117,125,0.5) !important;
  color:#6c757d !important;
  opacity: 0.6;
  margin-right: 13px !important;       
  border-radius: 5px;                                
}
.userightDrop .ui.selection.dropdown{
  min-height: !important;
}
.user-checkbox{
  padding-bottom:1.25em;
}
.userightDrop .ui.dropdown>.text{
  font-size:0.8em;
}
.userightDrop .ui.fluid.dropdown>.dropdown.icon{
  padding: 12px 14px 9px 14px;
}
.mainBoxDiv{
  background-color: rgb(223,223,223,0.11);
  }
  .bBorder{
    border-bottom: 2px solid #dfdfdf
  }
.selectall{
  border:1px solid #dfdfdf;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right:10px;
}
.selectaltext{
  font-size:14px;
  
}
.searchuser{
  padding:5px 0px 5px 12px;
  width:150px;
  color:#343a40;
  border:1px solid rgb(223,223,223);
  border-radius:5px;
}
.selectall .custom-control-label{
  padding-top:2px;
  color:#6c757d;
}