
.logo {
  width: 128px;
  height: 32px;
  margin-right: 32px;
  object-fit: contain;
}

.MainContainer.NavbarItems {
  font-family: 'Quicksand', sans-serif;
  margin: 38px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavbarItems ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarItems ul li {
  margin-right: 8px;
  list-style-type: none;
}

.NavbarItems ul li a {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e3e6a;
  transition: all 0.5s;
}

.NavbarItems ul li a:hover {
  text-decoration: none;
  color: #020408;
}

.btn.login-btn,
.btn.schedule-btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


.btn.schedule-btn {
  background-image: linear-gradient(to right, #674cf3, #8039db);
  transition: all 0.5s;
}

.btn.schedule-btn:hover {
  background-image: none;
}

.btn.login-btn {
  border: solid 1px #c3cde4;
}

@media only screen and (min-width: 576px) {
  .NavbarItems ul li {
    margin-right: 32px;
  }
}

@media only screen and (min-width: 769px) {
  .NavbarItems ul li {
    margin-right: 48px;
  }
}

